[2022-08-28 20:19] ronoaldo opened #22931 "[Bug]: Calling Python transforms from Go pipeline results in an error"
### What happened?

Following the documentation available [here](https://beam.apache.org/documentation/programming-guide/#1323-using-cross-language-transforms-in-a-go-pipeline) for Beam 2.4.1, I am trying to write a simple pipeline in Go using an external transform defined in Python.

I followed the docs with my own "word count" code but ended up having an error that was very obscure. Then I decid

[2022-08-29 04:23] Saifuddin53 commented on #22895
.take-issue

[2022-08-29 13:55] damccorm commented on #22892
Agreed!

[2022-08-29 14:34] rvballada commented on #20814
.take-issue

[2022-08-29 14:35] jrmccluskey opened #22933 "[Bug]: beam_PostCommit_Go_VR_spark is failing"
### What happened?

The Go Spark PostCommit is perma-red due to an issue in the TestLPErrorPipeline test, outputting this error:

[code]

### Issue Priority

Priority: 2

### Issue Component

Component: sdk-go

[2022-08-29 14:45] damccorm commented on #22933
The first failing build is from this commit - https://github.com/apache/beam/commit/e9089dd99630d939f0c38fbacbe97a283e429fc2 - https://ci-beam.apache.org/job/beam_PostCommit_Go_VR_Spark/6517/consoleFull

The last success is from this commit - https://github.com/apache/beam/commit/8347b9e1d36cb8c2a1d863909d2d27a00a3efdaa - https://ci-beam.apache.org/job/beam_PostCommit_Go_VR_Spark/6516/consoleFull

[2022-08-29 14:49] jrmccluskey commented on #22933
That seems like a reasonable assessment

[2022-08-29 16:52] #22336 closed

[2022-08-29 17:24] TheNeuralBit commented on #22828
I'd be slightly concerned that they could get out of date. I'm not sure how important that is though.

We could have a process for pulling licenses from the source of truth periodically. One possibility:
- Modify the current script to place licenses in the repo, and commit them.
- Modify other jobs to reference the licenses committed to the repo.
- Define a postcommit that pulls the license script

[2022-08-29 17:58] #22789 closed

[2022-08-29 19:30] jrmccluskey opened #22939 "[Bug]: zstandard test case in test_concatenated_compressed_file() fails in debug mode"
### What happened?

[test_concatenated_compressed_file() in filesystem_test.py](https://github.com/apache/beam/blob/master/sdks/python/apache_beam/io/filesystem_test.py#L489) violates an assert statement in [zstandard's decompressionobj.c function](https://github.com/indygreg/python-zstandard/blob/0.18.0/c-ext/decompressobj.c#L98) and can fail if using a version of zstandard compiled without the N

[2022-08-29 19:32] jrmccluskey commented on #22939
CC: @grufino @tvalentyn

Bug related to #22419

[2022-08-29 21:14] Abacn opened #22944 "[Bug]: Kafka Performance Tests actually failing but not marked as failed on Jenkins"
### What happened?

Grafana dashboard shows zero read time of kafkaIO | 1 GB:
<img width="807" alt="image" src="https://user-images.githubusercontent.com/8010435/187299139-03c26834-e6c0-427d-9a84-f97503559094.png">
Taking a closer look to the log, the Dataflow job actually failed:
[code]

It can be seen that write has failed and read never happens, which explains the zero read_time. However, the j

[2022-08-29 21:16] lukecwik opened #22945 "[Bug]: PCollectionView.listView is incompatible with discarding triggers that fire multiple times."
### What happened?

`PCollectionView.listView` materialization for streaming runners produces this graph segment:
Users transforms -> [ToListViewDoFn](https://github.com/apache/beam/blob/4ae54b2e1e28096f2b173d5f5574910e8cfd80c9/sdks/java/core/src/main/java/org/apache/beam/sdk/transforms/View.java#L284) -> [Combine.globally(Concatenate)](https://github.com/apache/beam/blob/243128a8fc52798e1b58b0cf1

[2022-08-29 21:28] Abacn commented on #22944
For example:
https://github.com/apache/beam/blob/4ae54b2e1e28096f2b173d5f5574910e8cfd80c9/sdks/java/io/kafka/src/test/java/org/apache/beam/sdk/io/kafka/KafkaIOIT.java#L241
https://github.com/apache/beam/blob/4ae54b2e1e28096f2b173d5f5574910e8cfd80c9/sdks/java/io/jdbc/src/test/java/org/apache/beam/sdk/io/jdbc/JdbcIOIT.java#L140
https://github.com/apache/beam/blob/4ae54b2e1e28096f2b173d5f5574910e8cfd

[2022-08-29 22:49] TheNeuralBit opened #22948 "[Task]: Only handle nulls for nullable columns in pandas to Beam row conversion"
### What needs to happen?

Currently when we convert a pandas DataFrame to Beam Rows we check for nulls in every column. This is wasteful, we should instead only do null-checking for the columns that we know to be nullable.

### Issue Priority

Priority: 2

### Issue Component

Component: dsl-dataframe

[2022-08-29 23:09] TheNeuralBit opened #22950 "[Task]: Re-use BatchConverterTest for different implementations"
### What needs to happen?

We have `BatchConverterTest` in `batch.py`, which is used to test the list and numpy implementations. As more `BatchConverter` implementations are added they will need to add tests that are almost identical to this one, with a few alterations:
- The test data, currently handled with `parameterized_class`.
- Possibly a custom equality check (e.g. `pd.testing.assert_frame_

[2022-08-30 01:35] nbali opened #22951 "[Bug]: KafkaIO could fail with BigQueryIO.Write.withAutoSharding()"
### What happened?

BigQueryIO.Write.FILE_LOADS.withAutoSharding() uses GroupIntoBatches.withShardedKey(), which uses 'workerUuid' and 'threadId' as the sharding key. According to my understanding the problem is that the Kafka consumer read in KafkaIO.Read for a single partition most likely happens without any parallelism on the same worker on the same thread as it's being read in a FIFO manner du

[2022-08-30 01:39] nbali commented on #22951
.take-issue

[2022-08-30 03:02] #22916 closed

[2022-08-30 06:10] vchunikhin opened #22956 "[Playground][Task]: Editing of getting executable name for java sdk"
### What needs to happen?

Editing of getting executable name for java sdk

### Issue Priority

Priority: 2

### Issue Component

Component: beam-playground

[2022-08-30 06:10] vchunikhin commented on #22956
.take-issue

[2022-08-30 06:49] Saifuddin53 commented on #22895
.close-issue
not_planned

[2022-08-30 12:13] joar commented on #22533
@gnossen I have a stracktrace from the hung spot with symbols:

[code]

grpcio installed via
1. `git checkout v1.48.0` (in https://github.com/grpc/grpc)
2. This diff
[code]
3. `GRPC_PYTHON_BUILD_WITH_CYTHON=1 pip install --ignore-installed .`

[2022-08-30 14:13] pawelkopec opened #22961 "[Bug]: WriteToBigQuery silently skips most of records without job fail"
### What happened?

### Problem

We run a batch job that reads data from GCS, transforms them and writes output to BigQuery. We used Python SDK with Dataflow runner and apache-beam==2.39.0 package.

It seems like we are silently loosing data during write to BigQuery. In the job view in GCP we see that over 1.7 billion records going into WriteToBigQuery step:
<img width="461" alt="image" src="https

[2022-08-30 14:14] pawelkopec commented on #22961
.add-labels gcp,python,bigquery

[2022-08-30 14:29] joar commented on #22533
I realized it might be too late for that stacktrace, it might help alternative timelines of me find this issue in the future if the timelines happen to merge. Thanks for the fix!

[2022-08-30 17:33] tvalentyn commented on #22893
@ryanthompson591 could you provide your input here please?

[2022-08-30 17:35] Lizzfox commented on #21688
This task was completed by [[BEAM-14073] [CdapIO] CDAP IO for batch plugins: Read, Write. Unit tests included #21765](https://github.com/apache/beam/pull/21765) (Merged)

[2022-08-30 17:36] Lizzfox commented on #21526
This task was completed by [[BEAM-14073] [CdapIO] CDAP IO for batch plugins: Read, Write. Unit tests included #21765](https://github.com/apache/beam/pull/21765) (Merged)

[2022-08-30 17:36] Lizzfox commented on #21687
.take-issue

[2022-08-30 17:37] Lizzfox commented on #21688
.take-issue

[2022-08-30 17:37] Lizzfox commented on #21526
.take-issue

[2022-08-30 17:41] #22864 closed

[2022-08-30 17:47] Abacn commented on #22715
.take-issue

[2022-08-30 17:48] Abacn commented on #22715
Sorry, commented to wrong issue

[2022-08-30 17:51] damccorm opened #22964 "[Feature Request]: State performance improvements"
### What would you like to happen?

As follow up to #22736 there are a few things we can do to improve state performance. These are:

1. Caching of state
2. Deferred state reads (readLater and prefetched) - https://beam.apache.org/documentation/programming-guide/#deferred-state-reads

Caching is a larger dig, but readLater and prefetched should be relatively straightforward - they just require run

[2022-08-30 17:57] johnjcasey commented on #22779
changing issue priority now that this is a GCP support ticket. @ggprod please update this issue with any resolution based on that ticket

[2022-08-30 18:11] tvalentyn commented on #22853
@TheNeuralBit would it make sense to  tracking batch elements improvement in a separate label or as subtask of some parent issue ?

[2022-08-30 18:11] johnjcasey commented on #22606
Has updating the expansion service resolved the issue?

[2022-08-30 18:32] johnjcasey commented on #22756
That issue seems likely. If you manually include those dependencies, does it resolve the issue?

[2022-08-30 18:53] nek4life commented on #22756
@johnjcasey I'm not sure I follow. Do you mean include the jars for the javax/xml/bind? I need the new jars for the classes I generated from an xsd. Is it possible to have both?

[2022-08-30 18:56] tvalentyn commented on #22895
Likely was closed by mistake.

[2022-08-30 18:59] johnjcasey commented on #22756
If you include the jakarta libs that were removed from the JDK specifically, does that solve the issue?

[2022-08-30 19:01] tvalentyn commented on #21722
Planning to use off-the-shelf models.

[2022-08-30 19:04] nek4life commented on #22756
No that does not. I referenced that I had included them in the original post. The error is appears because the imports that are used in the XmlIO package reference javax and the namespace changed.

[2022-08-30 19:34] tvalentyn commented on #21859
@AnandInguva could you please file an issue to see if/how we can export test signal from the RunInference tests and combine it with the PostCommit signal?

[2022-08-30 19:34] tvalentyn commented on #21859
Actually, we can just reuse https://github.com/apache/beam/issues/22858

[2022-08-30 19:35] tvalentyn commented on #22858
@AnandInguva could you please help take a look what it would take to integrate runinference test results into the rest of the postcommit?

[2022-08-30 19:40] tvalentyn commented on #22931
cc: @chamikaramj to triage.

[2022-08-30 19:42] tvalentyn commented on #22698
cc: @rszper who might be able to help.

[2022-08-30 20:04] johnjcasey commented on #22756
Ah, sorry I misunderstood. I'll take a look at it

[2022-08-30 20:40] nek4life commented on #22756
No problem. Appreciate you taking a look. I did add the following in addition to the other two dependencies

[code]
And my program is able to run. I'm not that familiar with Beam so I'm trying to figure out how to write my xml to a file to make sure something is happening.

[2022-08-30 21:35] Abacn commented on #19715
From the TODO mark in source:
https://github.com/apache/beam/blob/3ede5b76e48b41e89bc67541ea5044ebe704e905/sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/SchemaTranslation.java#L183

Any known but yet standardized logical types (those in STANDARD_LOGICAL_TYPES) will assign the same urn "beam:logical_type:javasdk:v1". These include all jdbc logical types and also many defined in `org.apac

[2022-08-31 02:33] TheNeuralBit commented on #22853
I have an over-arching issue for Batched DoFns improvement with sub-tasks linked: https://github.com/apache/beam/issues/21650

This issue is for the BatchElements transform though.

[2022-08-31 12:04] toransahu opened #22969 "Discrepancy in behavior of `DoFn.process()` when `yield` is combined with `return` statement, or vice versa"
### What happened?

Apache Beam SDK Version: 2.40.0
SDK Language: Python
Runner: All (DirectRunner, DataflowRunner, PortableRunner etc.)

TL;DR: If a `DoFn.process` has `yield <some value>` as well as `return <some iterable>` statements, then it does not emit element for statement `return <some iterable>`.

The [Apache Beam, Programming Guide, 4.2.1.2. Creating a DoFn](https://github.com/apache/be

[2022-08-31 12:16] toransahu commented on #18712
FYI, other behavioral issue observed with `DoFn.process` is : https://github.com/apache/beam/issues/22969

[2022-08-31 13:23] damccorm opened #22970 "[Feature Request]: Allow models to be updated for inference"
### What would you like to happen?

Probably through a slowly updating side input

### Issue Priority

Priority: 2

### Issue Component

Component: sdk-py-core

[2022-08-31 13:44] imadmoussa1 commented on #22606
yes the problem was resolved, Thank you

[2022-08-31 13:55] #22606 closed

[2022-08-31 14:12] hurutoriya opened #22972 "[Feature Request]: Support ONNX runtime in RunInference API"
### What would you like to happen?

ONNX Runtime is one of the famous frame work for ML inference in the real world.
https://onnxruntime.ai/
If RunInference API  support the ONNX runtime which cover the various ML framework actually.
e.g.  not only PyTorch , scikit-learn and TensorFlow but also Transformers(Hugging face) , XGBoost and so on.
https://onnx.ai/supported-tools.html

### Issue Priority

[2022-08-31 14:23] damccorm commented on #21438
@yeandy what pieces are missing to support this?

[2022-08-31 14:27] yeandy commented on #21438
The main one should be https://github.com/apache/beam/pull/22795

[2022-08-31 16:29] dxichen opened #22975 "[Task]: SamzaInternalTimerFactory needs limit the processing time timer buffer"
### What needs to happen?

Change to support Process Time timers to be loaded in a buffer before triggered, throttling the amount of PROCESS_TIME timers loaded into memory similar to EVENT_TIME timers currently.

### Issue Priority

Priority: 2

### Issue Component

Component: runner-samza

[2022-08-31 16:29] dxichen commented on #22975
.take-issue

[2022-08-31 16:59] egalpin commented on #22840
@sheepdreamofandroids would you be able to share some concrete examples of input data and desired capabilities? I definitely want the ES connector to be flexible to serve many use cases, and also want to guard separation of concern at the same time 😊

It seems like there may be an opportunity to create an interface within DocToBulk, with a default implementation providing the existing functionalit

[2022-08-31 17:07] TheNeuralBit commented on #20959
See here for an exchange on the difficulties of creating a CategoricalDtype: https://github.com/apache/beam/pull/22587/files/fc0af3ac9654701ce43b9e9d9bff651f3e717fdc#r941893216

As part of this work we may also want to add utilities that make this easy.

[2022-08-31 17:52] #22811 closed

[2022-08-31 17:52] #22711 closed

[2022-08-31 17:52] #22712 closed

[2022-08-31 18:48] #22736 closed

[2022-08-31 19:43] tvalentyn commented on #22853
ack, thanks for correction.

[2022-08-31 19:54] sachinag opened #22978 "Add Getting Started from Spark to the top navigation as a drop down option under Getting Started"
https://beam.apache.org/get-started/from-spark/ is a very hard page to find, but it's very valuable for folks.  We should make it much more discoverable by adding a link to this page as a drop down option under Getting Started, similar to the four pages under Documentation in the top nav bar

[2022-08-31 20:23] yeandy opened #22979 "[Bug]: Incorrect output shape in the RunInference PredictionResult object"
### What happened?

Originally documented [here](https://beam.apache.org/documentation/sdks/python-machine-learning/#incorrect-inferences-in-the-predictionresult-object) in our RunInference Troubleshooting section:

For some models, the PredictionResults output might not include the correct predictions in the inferences field. This issue occurs when you use a model whose inferences return a dictio

[2022-08-31 20:24] yeandy commented on #22979
.add-labels run-inference

[2022-08-31 20:31] robertwb commented on #22856
Note that however we solve this, it would be nice to not break development environments (e.g. perhaps the previous version is good enough unless otherwise specified).

[2022-08-31 21:01] ihji commented on #22859
Another workaround: https://github.com/apache/beam/blob/master/sdks/python/apache_beam/runners/portability/expansion_service_test.py#L379
It will create and stage a custom requirement file.

[2022-08-31 21:05] #22678 closed

[2022-08-31 21:38] chamikaramj commented on #22856
Part of the issue is that the development environment will keep changing whenever a new version of Beam Python SDK is released (even for the same pipeline Java SDK version).

[2022-08-31 21:39] lukecwik opened #22980 "[Bug]: PTransform id unavailable for logs produced for portable Apache Beam Java SDK 2.41"
### What happened?

The BeamFnApi.LogEntry transform id has not been populated due to the new ExecutionStateTracker implementation in https://github.com/apache/beam/commit/fbe61507ca

We use to have the per thread ExecutionStateTracker that we can use to correlate log thread id with the tracker state, from the state we can read pTransformId https://github.com/apache/beam/blob/434427e90b55027c5944f

[2022-08-31 21:44] lukecwik commented on #22980
CC: @lostluck We would like to get this fix into the 2.42 release.

[2022-08-31 22:43] tvalentyn opened #22983 "[Bug]: Some test from DataflowExamples suite may not be running on Dataflow."
### What happened?

Looking at https://ci-beam.apache.org/job/beam_PostCommit_Python_Examples_Dataflow/lastCompletedBuild/testReport/ , some test suites take only seconds to complete. Likely they are skipped or run on DirectRunner

### Issue Priority

Priority: 2

### Issue Component

Component: examples-python

[2022-09-01 00:48] #22854 closed

[2022-09-01 07:41] alexeyinkin opened #22985 "[Bug]: Version switches for Hazelcast do not work"
### What happened?

At this page: https://beam.apache.org/documentation/runners/jet/index.html
There is a switch of versions: `Hazelcast Jet 3.x`, `Hazelcast Jet 4.x`.

**It should work like this:**

1. With clean local storage, the first one should be selected.
2. As I switch versions, version-specific blocks on the page show and hide.

**Actual:**

1. With clean local storage, none is selected.

[2022-09-01 07:48] alexeyinkin commented on #22985
Ideally this should be fixed after
- #22363

as there is a work in progress that will affect the switch.

[2022-09-01 10:07] cozos opened #22986 "[Bug]: WriteToBigquery Deadletter pattern does not work with FILE_LOADS method"
### What happened?

The Bigquery Deadletter pattern: https://beam.apache.org/documentation/patterns/bigqueryio/

Does not work on `WriteToBigquery` if `FILE_LOADS` strategy is used. The `insert_retry_strategy` parameter is not passed to [BigQueryBatchFileLoads](https://github.com/apache/beam/blob/b8ca0819529e0bafaae0c08abec7c4e5682d6b50/sdks/python/apache_beam/io/gcp/bigquery.py#L2363-L2380) and t

[2022-09-01 11:35] olehborysevych opened #22987 "[Tour of Beam] [Task] Add support for embedded images in learning content"
### What needs to happen?
We need to have a support for embedded images in learning content

### Issue Priority
Priority: 3

[2022-09-01 12:50] AnandInguva commented on #22413
Can we close this?

[2022-09-01 12:50] #22054 closed

[2022-09-01 13:12] AnandInguva commented on #22858
.take-issue

[2022-09-01 13:35] yeandy commented on #22413
Yes

[2022-09-01 13:35] yeandy commented on #22413
.close-issue

[2022-09-01 14:58] damccorm commented on #22979
@yeandy is this different from #22240?

[2022-09-01 15:37] #22980 closed

[2022-09-01 17:57] damccorm commented on #22240
#22979 got created as an accidental duplicate. I'm closing that one, but copying over the description since I think it has some extra additional context:

Originally documented [here](https://beam.apache.org/documentation/sdks/python-machine-learning/#incorrect-inferences-in-the-predictionresult-object) in our RunInference Troubleshooting section:

For some models, the PredictionResults output mig

[2022-09-01 17:57] damccorm commented on #22979
Closing in favor of #22240 since its longer lived. I copied over your description from here though since I think its a little more context rich in places.

[2022-09-01 17:57] #22979 closed

[2022-09-01 18:16] yeandy commented on #22979
Ack, thanks!

[2022-09-01 18:23] tvalentyn commented on #22188
What SDK versions are affected?

[2022-09-01 18:42] TheNeuralBit commented on #22969
Thanks for the detailed report @toransahu

In the short-term we should at least update the docs to indicate that mixing return and yield leads to undefined behavior. (optional) medium-term: detect this situation and fail at construction time. Long-term: Enable mixing yield and return.

CC: @tvalentyn @robertwb

[2022-09-01 18:45] TheNeuralBit commented on #22969
I think P1 is appropriate here since this could lead to data loss. I'm not sure updating docs is enough to drop to P2, since users could easily miss that.

[2022-09-01 18:49] scwhittle commented on #21368
Did you see Luke's suggestion about that?
[code]
So you could have a static shared transport and threadpool across all the cached clients

[2022-09-01 21:03] ronoaldo commented on #22931
I'm indeed curious about what I am missing from docs regarding calling xlang transforms.

Following the chapter 13 of Beam Programming Model guide, I wrote three Pipelines, one on each language. The Python and Java one expose their SplitWords implementation to an expansion service.

I can run each pipeline, both locally and on Google Cloud Dataflow remote worker, to make sure they all are properly

[2022-09-01 21:44] TheNeuralBit commented on #22813
Hi @esadler-hbo, this would be a very welcome contribution :) Please let me know if you need any advice on how to proceed.

I'm actually currently working on integrating ParquetIO with Batched DoFns (https://s.apache.org/batched-dofns) which will hopefully unify things a bit (https://github.com/apache/beam/pull/22947). But in the meantime adding a specifc "Batched" version would be great.

CC: @re

[2022-09-01 23:06] chamikaramj commented on #22931
I don't think using Python transforms from Go SDK is fully supported yet. I believe @riteshghorse is looking into this.

[2022-09-01 23:43] brucearctor commented on #22986
See this old thread, in the event finding/keeping those bad records is important:  https://stackoverflow.com/questions/31904142/how-do-we-set-maximum-bad-records-when-loading-a-bigquery-table-from-dataflow

Alternately ( since I think you prefer python ), see:  https://googleapis.dev/python/bigquery/latest/generated/google.cloud.bigquery.job.LoadJobConfig.html#google.cloud.bigquery.job.LoadJobConf

[2022-09-01 23:51] lukecwik commented on #22945
An idea to fix this would be to swap out the concatenate combiner with one which outputs the records and the metadata record for PCollection list view ensuring that the metadata record only exists for the set of records that are being written. This would work for accumulating and discarding mode and we could ensure that there is only a single metadata record for all the values greatly simplifying

[2022-09-01 23:53] tvalentyn commented on #22709
I think we might not have a working PubSub source w/ Flink..

[2022-09-02 00:10] lukecwik opened #23000 "[Feature Request]: Make the Python SDK state cache a loading cache and record loading statistics"
### What would you like to happen?

The Python SDK harness state cache currently assumes that loading happens outside of the cache. This prevents a lookup strategy which blocks when multiple parties lookup the same key.

Also, the Python SDK harness state cache does not record the cost of loading a value into the cache.

### Issue Priority

Priority: 2

### Issue Component

Component: sdk-py-harne

[2022-09-02 00:57] esadler-hbo commented on #22813
Oh I didn’t know about the batched DoFns API. That looks incredible! So does the run inference api. I don't currently use beam at work so I am a bit out of loop.m :). Seems like y'all have added a lot of what we did at my last job and did a much better job haha.

I think that I just need to save the result from the run inference api to parquet without yielding individual rows. If that is possible

[2022-09-02 04:55] KevinGG commented on #20973
@damccorm Hi Danny, out of curiosity, how did you handle the extra pip dependencies in your use case? Do you have to pip freeze into a requirements file and somehow stage it to the Flink job server through artifacts_dir?

[2022-09-02 05:18] pabloem opened #23002 "[Task]: Add property-based tests for Beam Schema and encoding that test nullability and structured types"
### What needs to happen?

PR https://github.com/apache/beam/pull/22233 adds tests for generated schema encoding and so on, but does not test structured types and doesn't test nullability either.

A great follow up would be to test these.

-----

Another follow up would be to add tests that are parameterized by a protobuf representing a Beam schema (the tests in https://github.com/apache/beam/pull

[2022-09-02 05:52] pabloem opened #23003 "[Task]: Add property-based tests for logical type encoding in Beam schemas"
### What needs to happen?

PR https://github.com/apache/beam/pull/22233 adds tests for generated schema encoding and so on, but only tests primitive schema types. It does **not** test Logical types.

A great follow up would be to test these.

### Issue Priority

Priority: 2

### Issue Component

Component: cross-language

[2022-09-02 06:36] toransahu commented on #22969
@TheNeuralBit Thanks for promptly triaging the issue.

[2022-09-02 07:43] alevtinaboiko opened #23004 "[Bug]: Double GO button in documentation/programming-guide"
### What happened?

Steps to reproduce:
1. Open the website on the page
2. Click on the item "Beam programming guide" -> "Overview" in the navbar
4. Scroll to the 3.1.1, 4.2.4.2 points
5. Look at the button Go

Actual result: Double GO button in documentation/programming-guide

![Screenshot_35](https://user-images.githubusercontent.com/85677902/188084930-617e22a6-24d8-4719-ab47-3001d8254d46.png)
E

[2022-09-02 10:36] olehborysevych opened #23005 "[Tour of Beam] [Task] Add integration tests for ToB backend and CI\CD"
### What needs to happen?
Add basic integration test for ToB backend and ci\cd
Add GH action to run integration tests

### Issue Priority
Priority: 2

[2022-09-02 10:40] eantyshev commented on #23005
.take-issue

[2022-09-02 10:50] olehborysevych opened #23006 "[Tour of Beam] [Task] Update Tour of Beam actions to self hosted runners"
### What needs to happen?
Update Tour of Beam GitHub actions to self-hosted runners

After https://github.com/apache/beam/pull/22703#issuecomment-1234812561 is merged we need to update runners to self hosted in our actions.

### Issue Priority
Priority: 3

[2022-09-02 11:13] damccorm commented on #20973
Hey @KevinGG I didn't actually report this issue, I just imported it from Jira. I believe @ConverJens reported it, there's also more detail in the linked Jira in the description

[2022-09-02 11:15] damccorm commented on #22572
Generally, my take here is that we should do option 3 here and allow users to pass in a custom function. Basically:

1) This is a reasonably common pattern
2) Adding support shouldn't be too hard
3) Asking users to create their own handler (or model wrapper) any time they want to use a different method doesn't scale well. Some might contribute it back to the community, most won't, and even with th

[2022-09-02 11:36] olehborysevych opened #23007 "[Task]: Extract variables from kubernetes templates and docker files for helm customisation"
### What needs to happen?

Extract variables from kubernetes templates to helm variables

### Issue Priority
Priority: 3

### Issue Component
Component: beam-playground

[2022-09-02 11:38] olehborysevych commented on #22487
New subtask added https://github.com/apache/beam/issues/23007.
Unable edit original comment with subtask list.

[2022-09-02 13:04] cozos commented on #22986
Hi @brucearctor thanks for the suggestion. Upon further investigation, I've found out that for me (who uses `FileFormat.AVRO`), `WriteToBigQuery/BigQueryBatchFileLoads` transform fails when writing the temporary file (typically due to schema mismatch).

So, like you mentioned, the `max_bad_records` is a workaround for `FileFormat.JSON`, but unfortunately doesn't even get to the `LoadJob` step in A

[2022-09-02 13:09] cozos commented on #22986
It's failing here in the `fastavro.write` https://github.com/apache/beam/blob/b8ca0819529e0bafaae0c08abec7c4e5682d6b50/sdks/python/apache_beam/io/gcp/bigquery_file_loads.py#L258

As for the answer for that TODO:

[code]

Indeed it is possible.

[2022-09-02 13:12] AnandInguva opened #23008 "[Task]: Make get_metrics_namespace() method static in the RunInference class"
### What needs to happen?

To extract the metrics from the RunInference pipeline object with default namespace, `get_metrics_namespace()` needs to be called. Since this is not static, the ModelHandler object needs to be instantiated(which would be not necessary)

### Issue Priority

Priority: 2

### Issue Component

Component: sdk-py-core

[2022-09-02 13:12] AnandInguva commented on #23008
.take-issue

[2022-09-02 13:16] cozos commented on #22986
I've tried to prevalidate my pcoll with [fastavro.validate](https://github.com/fastavro/fastavro/blob/073da50afaec729f66caea357538417118ae7619/fastavro/_validation.pyx#L301) but it seems to be very expensive - 15X CPU hours for my tests. I think this is because `fastavro.writer` uses efficient static typing to validate the schema but `fastavro.validate` does explicit type checking (i.e. isinstance

[2022-09-02 13:21] cozos commented on #22986
What do you think about doing something like:

* Add `max_failed_rows` to `WriteToBigQuery`
* Catch bad row exceptions when writing to temp Avro file
* If JSON, set max_failed_rows to LoadJob config
* Put bad rows in a `FailedRows` output tag

If this is too much, are there any workarounds for users?

[2022-09-02 13:27] cozos commented on #22986
(I'm willing to work on this change if you agree with the direction. Not sure if this change needs to be applied for all SDKs though - what about the portability framework thing?)

[2022-09-02 13:31] ConverJens commented on #20973
@KevinGG Beam has several options to propagate dependencies, in this case we used the `--extra-package` flag.

[2022-09-02 13:41] damccorm commented on #21450
@anandinguva is there still work to be done on this one? https://github.com/apache/beam/pull/17494 resolved this problem, right?

[2022-09-02 13:43] damccorm commented on #21449
@ryanthompson591 is there still work to be done on this one? If so, which test suite is it occurring in?

[2022-09-02 13:47] damccorm commented on #21863
@yeandy do we actually need this or is setting the max batch size to 1 enough? Is the idea here just to offer a convenience flag?

[2022-09-02 13:48] AnandInguva commented on #21450
No, thats a different solution on how to load the model_weights on the runner instead of SDK. that solution still needs the Model class python code.

This issue references on how to load the model without the need of model class. But as of now, there is no recommended solution in Pytorch for this. Please look at https://pytorch.org/tutorials/beginner/saving_loading_models.html#save-load-entire-mod

[2022-09-02 14:01] riteshghorse commented on #22931
Yes, Python transform from Go will be available by mid Sept in Go SDK at the Head or we will try to get it in for 2.42 release.

**Note: Cross Language transforms doesn't work on Go Direct Runner. You have to use Python Portable/Flink/Dataflow runner.**

Here is an example code for running KafkaIO in Go SDK using Cross-Language with Java SDK: https://github.com/apache/beam/blob/master/sdks/go/exam

[2022-09-02 14:01] damccorm commented on #21437
This probably comes after #22970

[2022-09-02 14:22] alexeyinkin commented on #23004
@robertwb FYI
Introduced in https://github.com/apache/beam/pull/22137

[2022-09-02 14:52] takaaki7 opened #23009 "[Bug]: When io.grpc:grpc-netty-shaded:1.47.0>= is included in dependency, using DataflowRunnerV2 and BigQueryIO, exception thrown."
### What happened?

When io.grpc:grpc-netty-shaded:1.47.0>= is included in dependency, using DataflowRunnerV2 and BigQueryIO, pipeline always fails.

e.g. Following dependency includes io.grpc:grpc-netty-shaded:1.48.0.
[code]

And using BigQueryIO, pipeline fails with following error.
[code]

I found workaround, fixing io.grpc:grpc-netty-shaded version to 1.46.0 solves this issue.
[code]

### Issu

[2022-09-02 14:57] takaaki7 opened #23010 "[Bug]: setJdkAddOpenModules not work with DataflowRunner v1"
### What happened?

DataflowPipelineOptions.setJdkAddOpenModules() not work with DataflowRunner v1, but work with v2.
Is this intended behavior? If so, it should be documented.

### Issue Priority

Priority: 3

### Issue Component

Component: runner-dataflow

[2022-09-02 15:24] #22859 closed

[2022-09-02 16:03] brucearctor commented on #22986
Can you put this in a StackOverflow question ( summary of at least initial question, and I can reply there ).  This feels like there are ways we can debug, and come up with workarounds rather than needing to change the codebase [ maybe we'll arrive at that, but let's see ].  That's a great source, as it is well indexed, and others are likely to find if searching for similar keywords.

[2022-09-02 16:08] #22583 closed

[2022-09-02 16:56] brucearctor commented on #22986
and @cozos -- put the link in here for reference :-)  and so I know where to find it and comment there.  Thanks!

[2022-09-02 18:44] chamikaramj commented on #22856
Added this to 2.42.0 milestone since this could result in significant future breakages for some users.

[2022-09-02 19:34] ronoaldo commented on #22931
Yay! Super! Thanks

Oh, that is interesting. While reading over that example I didn't noticed it was not using the Direct Runner from Go. Just to make sure I understood properly, if I use a different runner, such as Dataflow, my sample that calls Go from Java should work, right? I mean, using a custom-made jar from the Java side instead of using a Java Beam SDK transform.

Calling Python from Go w

[2022-09-02 19:51] tvalentyn opened #23016 "[Feature Request]: Move LogElements transform to Beam Transforms"
### What would you like to happen?

People are re-implementing LogElements and asking about similar things on stackoverflow.

https://github.com/apache/beam/blob/master/learning/katas/python/log_elements.py

The LogElements is currently used  in the educational tools (Katas, Playground) and not part of the official Beam API.

apache_beam/transforms or apache_beam/transforms/util.py may be a better

[2022-09-02 20:08] cozos commented on #22986
Sure will do

[2022-09-02 20:54] chamikaramj commented on #21644
This is covered by https://s.apache.org/easy-multi-language

[2022-09-02 21:03] yeandy commented on #21863
Not quite. I think the original idea was that users may want to pass in pre-batched inputs (i.e. tensors that include a batched dimension). If they did that, however, then an additional dimension would be added because we call `torch.stack()` or `np.stack()` inside `run_inference()`.

The thinking was that we could pass in some sort of flag to skip `BatchElements()` (and also `torch.stack()` or `n

[2022-09-02 21:09] #22865 closed

[2022-09-02 21:26] Firebeam commented on #22566
My mistake, the conflicting jar is bcprov-jdk15on, according to this answer. [https://stackoverflow.com/a/65134446](https://stackoverflow.com/a/65134446) I do see the bcpkix-jdk15on dependency on beam-sdks-java-io-google-cloud-platform:2.39.0, under the nested dependency google-cloud-firestore:3.1.0. I'll try removing the bcprov-jdk15on dependency via exclusion, I'd put upgrading aside for now.

[2022-09-02 21:27] #22860 closed

[2022-09-02 22:07] ryanthompson591 commented on #21449
I haven't investigated this deeply.

The disabled tests are in this file
https://github.com/apache/beam/blob/master/sdks/python/apache_beam/ml/inference/sklearn_inference_test.py

For example
https://github.com/apache/beam/blob/8c57b21fc315d4fb86517e5a73abea7e45a77ff0/sdks/python/apache_beam/ml/inference/sklearn_inference_test.py#L178

[2022-09-03 04:40] cozos commented on #22986
@brucearctor here is a Stackoverflow question: https://stackoverflow.com/questions/73589662/in-apache-beam-dataflows-writetobigquery-transform-how-do-you-enable-the-deadl

[2022-09-03 04:56] brucearctor commented on #22986
There might be room to extend the python beam bigquery io.  But, let's see/experiment if able to solve without overly needing to change the codebase.

We'd also want to think about whether we would want to continue to extend the python bigquery io, or write a cross-language wrapper for the bigquery java io.  If we need additional functionality, we can work that out with the community to see desire

[2022-09-03 05:35] cozos commented on #22986
So am I understanding this right?

- The current `WriteToBigQuery` is a Python SDK specific transform
- In order to use the portability framework so that transforms can be shared across SDKs, we should implement a cross-language wrapper for the Java `WriteToBigQuery` transform.

[2022-09-03 05:41] brucearctor commented on #22986
There are currently 2 separate implementations of bigqueryIO one in the java sdk, and one in the python sdk.  The python implementation existed before portability framework was finished.  That doesn't totally answery our question.

[2022-09-03 08:05] beninzhao commented on #19717
No body can solve the problem? @damccorm

[2022-09-03 12:56] Abacn opened #23020 "[Bug]: Kubernetes service not cleaned up and reaching quota causing multiple performance test failure"
### What happened?

Multiple performance tests perma-red since Aug 31st, including JDBC, Kafka, IO Tests on HDFS. The cause is the number of existing k8s endpoints has run out of quota. These end points all have namespace beam-performancetests-[testname]-[test-number]. From the test number it can be seen there are all old tests. Usually k8s service gets deleted at the end of the test. But if jenki

[2022-09-03 15:04] bvolpato opened #23022 "[Bug]: PubsubIO does not consider attributes as part of the limit"
### What happened?

There is currently a limit of 10 MB for the `data` field on Pub/Sub, as well as a limit for the entire request, which is also 10 MB [1].
If attributes are being used, `PubsubIO` does not take them into account and can go over the limit, leading to some exceptions:

[code]

Also related to that, it is important to note that limits for attribute key and values are in bytes, and t

[2022-09-03 15:04] bvolpato commented on #23022
.take-issue

[2022-09-03 17:44] takaaki7 opened #23025 "[Bug]: Cannot use Json type with BigQueryIO and write method FILE_LOAD, avro"
### What happened?

BigQueryIO document says FILE_LOAD not support JSON type.
https://github.com/apache/beam/blob/master/sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryIO.java#L1841

And when specifying schema to use avro, validation logic causes error.
https://github.com/apache/beam/blob/948af30a5b665fe74b7052b673e95ff5f5fc426a/sdks/java/io/google-clo

[2022-09-03 20:56] Abacn opened #23026 "[Bug]: Java Performance tests could incorrectly showing Success while pipeline actual fail"
### What happened?

Many performance tests (BigQueryIOPushDownIT.java, BigQueryIOIT.java, CdapIOIT.java, AvroIOIT.java, ParquetIOIT.java, TextIOIT.java, TFRecordIOIT.java, XmlIOIT.java, HadoopFormatIOIT.java, JdbcIOIT.java, KafkaIOIT.java, MongoDBIOIT.java) are designed similarly:
[code]
This does not detect the pipeline failure.

### Issue Priority

Priority: 2

### Issue Component

Component: te

[2022-09-03 20:56] Abacn commented on #23026
.take-issue

[2022-09-04 05:41] sreenath-tm commented on #23016
I'm interested in contributing to this issue, so before I start working it, would you mind sparing your time explaining what the fix will be like and pointing me to some resources to get started.

[2022-09-04 08:53] gabihodoroaga opened #23028 "[Bug]: BigQueryIO.Write.Method.STORAGE_WRITE_API fails if you don’t specify the project in the destination."
### What happened?

I encountered this error when I updated my BigQuery batch pipeline write method from `FILE_LOADS` to `STORAGE_WRITE_API`
[code]
After a while I realized that the error is generated by the fact that I’m not setting the project name when I set the destination. For example  `dataset.table` instead of `project-id:dataset.table`.

This breaks the compatibility with the current pipel

[2022-09-04 09:00] case-k-git opened #23029 "[Bug]: Python JDBC IO Try To Connect RDB Before Deploying"
### What happened?

When I tried to deploy python jdbc pipeline to dataflow from my local env, failed to deploy into dataflow and got  connection error. seems to be python jdbc io trying to connect database from local env not only dataflow env.

 I have checked connection and find trying to make connection from my pc.database can only accepting connection inside from dataflow  net work so got conn

[2022-09-04 17:57] aymanfarhat commented on #21092
I can confirm that I'm facing the same issue using a job services based on **apache/beam_spark3_job_server:2.41.0** trying to run a beam pipeline on a [bitnami/spark:3.1](https://github.com/bitnami/containers/blob/main/bitnami/spark/3.1/debian-11/Dockerfile) based spark cluster.

stderror log from the task:

[code]

Based on my understanding, this issue is usually linked to having different versio

[2022-09-05 07:27] sheepdreamofandroids commented on #22840
We're processing JSON events for an online marketplace like creation, modification, publishing, (de-)activating features etc. Lots of private info so I can't share actual info. Depending on type these events go to different indexes and most go to 2 different indexes: one for full history and one where we update the latest version using a scripted upsert. This is to facilitate different styles of s

[2022-09-05 11:46] olehborysevych opened #23031 "[Playground] [Task] Fix dependency for Index creation step of "build_playground_backend" GA"
### What needs to happen?
We need to fix dependency for DB index creation step of "build_playground_backend" Github action.
This step fails if Setup GCP Account action was not executed.
See https://github.com/apache/beam/runs/8183475997?check_suite_focus=true for details

### Issue Priority
Priority: 2

### Issue Component
Component: beam-playground

[2022-09-05 12:07] MakarkinSAkvelon commented on #23031
.take-issue

[2022-09-05 12:15] #22863 closed

[2022-09-05 12:51] #22024 closed

[2022-09-05 16:02] kubaj commented on #20632
Having the same issue with the `v2.41.0` SDK. Also, as mentioned in the Jira ticket [BEAM-11252](https://issues.apache.org/jira/browse/BEAM-11252), dead-letter pattern cannot be used.

I'm using DataflowRunner.

[2022-09-05 20:17] Firebeam commented on #22566
Ok, good news. The workaround, well, works. But there should be a disclaimer for known issue, IMO. Leaving that for consideration!

[2022-09-05 22:46] alxmrs opened #23033 "[Bug]: `local-env-setup.sh` fails on M1 mac"
### What happened?

Expected: When I run `./local-env-setup.sh`, my local development environment should be setup.
Actual: Failed to install many key dependencies. Often, there are new `brew` bottles pre-built for the M1 mac.
Idea for a fix: If a `brew` command fails, try re-running it again with the `--build-from-source` flag.

### Issue Priority

Priority: 3

### Issue Component

Component: depe

[2022-09-05 22:47] alxmrs commented on #23033
This issue is related to #20983.

[2022-09-06 05:41] mosche commented on #22524
Depends on https://github.com/apache/beam/issues/22472 so respective VR tests can be run for Spark

[2022-09-06 06:33] balabarath opened #23036 "[Bug]: AWS SQSIO - SocketTimeoutException is thrown after 10 minutes of inactivity"
### What happened?

When there no messages available in the SQS queue for more than 10 minutes, the following exception has been thrown

`Error message from worker: java.io.IOException: Failed to advance source: org.apache.beam.sdk.io.aws.sqs.SqsUnboundedSource@32ea58b7
        org.apache.beam.runners.dataflow.worker.WorkerCustomSources$UnboundedReaderIterator.advance(WorkerCustomSources.java:826)

[2022-09-06 08:08] scwhittle commented on #21492
I believe this is https://github.com/google/conscrypt/issues/864 and will be addressed once https://github.com/GoogleCloudDataproc/hadoop-connectors/pull/865 is in a 2.2.x release and beam depedencies are so google_cloud_bigdataoss_version includes this version.

In the meantime this can be avoided by disabling conscrypt

[2022-09-06 08:17] scwhittle commented on #19477
We should ensure GCS libraries are updated to address https://github.com/apache/beam/issues/21492 before enabling conscrypt by default.

[2022-09-06 09:57] nausharipov opened #23038 "[Tour of Beam] [Task]: Display Beam version in Tour of Beam"
### What needs to happen?

Display Beam version in Tour of Beam.

### Issue Priority

Priority: 3

### Issue Component

Component: beam-playground

[2022-09-06 10:58] olehborysevych opened #23039 "[Tour of Beam] [Task] Update Playground CI/CD for ToB learning materials"
### What needs to happen?
Update Playground CI/CD for ToB learning materials

add following options to ci/cd commands:
--directories for designating folders with content
-- origin for designating learning material origin

### Issue Priority
Priority: 3

[2022-09-06 11:02] #22791 closed

[2022-09-06 11:02] #22571 closed

[2022-09-06 11:02] #22599 closed

[2022-09-06 11:14] eantyshev commented on #23039
.take-issue

[2022-09-06 13:23] manuel-hegner commented on #22123
Still interesting

[2022-09-06 13:53] damccorm commented on #22892
There have been failures since, but none related to this test (mostly due to Jenkins workers disconnecting). I'm going to close

[2022-09-06 13:53] #22892 closed

[2022-09-06 13:57] damccorm opened #23043 "[Task]: Reenable single iteration"
### What needs to happen?

Single iteration was temporarily disabled in #23042 and should either be turned back on or ripped out entirely. This should also address the issue raised in #22933

### Issue Priority

Priority: 2

### Issue Component

Component: sdk-go

[2022-09-06 14:18] damccorm commented on #21438
@yeandy now that #22795 is done is there any additional work to be done here?

[2022-09-06 14:45] yeandy commented on #21438
.close-issue

[2022-09-06 15:18] #22362 closed

[2022-09-06 15:57] damccorm commented on #21442
@ryanthompson591 can this one be closed out now?

[2022-09-06 16:08] yilei commented on #21593
Adding a comment from Jira:

Note typing.Iterator (and other generic collections types) has been deprecated since Python 3.9 in favor of collections.abc.

[2022-09-06 16:59] #23031 closed

[2022-09-06 17:30] tvalentyn commented on #23033
Thanks for filing! Looks like this i exactly the same as #20983 - I suggest to continue there and add any missing details if necessary.

I am not sure if anyone is working this now, and I personally don't have an M1 Mac around. Any help on this front is definitely welcome!

[2022-09-06 17:52] #21438 closed

[2022-09-06 17:57] KevinGG commented on #20973
I don't believe I know the answer. I'm running into other issues when sending a job with a requirements file to a remotely started flink cluster executing in DOCKER environment. I don't understand how a requirements file is staged from job submission to later execution in containers. So I'm trying to see if you've had similar issues.

[2022-09-06 18:32] svetakvsundhar commented on #22907
Hm I believe https://github.com/apache/beam/pull/22616 should fix this issue iiuc?

[2022-09-06 18:35] ryanthompson591 commented on #21442
Yes, this should be closed. TFX-BSL recently released this change.

[2022-09-06 18:36] tvalentyn commented on #22086
@TheNeuralBit is the work completed here?

[2022-09-06 18:37] tvalentyn commented on #22085
@TheNeuralBit Issue closed as stale - is the work actually completed here?

[2022-09-06 18:38] ryanthompson591 commented on #21442
.close-issue

[2022-09-06 18:39] tvalentyn commented on #22084
@TheNeuralBit Issue closed as stale - is the work actually completed here?

[2022-09-06 18:39] tvalentyn commented on #22082
@TheNeuralBit Issue closed as stale - is the work actually completed here?

[2022-09-06 18:45] tvalentyn commented on #21438
@yeandy please clarify the scope of this issue. Thanks!

[2022-09-06 18:54] yeandy commented on #21438
Clarification on this issue:

PyTorch RunInference converts data and model to GPU by using the [tensor.to(device)](https://pytorch.org/docs/stable/generated/torch.Tensor.to.html) command to move a tensor to a device. We also do implicit GPU -> CPU conversion if GPU doesn't exist in the worker.

[2022-09-06 19:31] damccorm commented on #21451
@ryanthompson591 now that #21442 is done, can we close this one too? Was this referring to this clock usage https://github.com/tensorflow/tfx-bsl/blob/396812f4ac8361db9396ec9780abe098d88869f0/tfx_bsl/beam/run_inference_base.py#L166

[2022-09-06 19:33] AnandInguva opened #23048 "[Feature Request]: Build musllinux along with manylinux wheels."
### What would you like to happen?

Add support for building `musllinux` wheels for the platforms based on `musl`. #23024 updates `cibuildwheel` to 2.9.0. This version builds the wheels for `manylinux` platform and as well as `musllinux` platform.
For more information, please take a look at https://peps.python.org/pep-0656.

#23024 excludes the building of `musllinux` for now.  If there is interes

[2022-09-06 19:43] tvalentyn commented on #21438
FYI, you can edit the description or title of the issues.

[2022-09-06 19:44] damccorm commented on #21438
Probably not as a non-committer unfortunately

[2022-09-06 19:51] damccorm commented on #21444
My instinct is that the large majority of users are going to want both passed through and we should prioritize that need (and not making a breaking change) over making things a little cleaner for the just inference case.

The other advantage of always returning a PredictionResult is that it gives users more flexibility if, for example, they initially only need the inferences but later want to do s

[2022-09-06 19:58] kennknowles opened #23049 "[Feature Request]: Name all Java threads to aid in debugging"
### What would you like to happen?

Java threads can be giving names in various ways, such as [this one](https://github.com/apache/beam/blob/b2a6f46fb21709cc1927ce1950a38a922dce0a35/sdks/java/fn-execution/src/main/java/org/apache/beam/sdk/fn/data/BeamFnDataOutboundAggregator.java#L109). It would be useful to scan through the codebase and make sure to do this each place where we create threads or t

[2022-09-06 20:04] chamikaramj opened #23050 "[Bug]: Java RunInference test failure"
### What happened?

https://ci-beam.apache.org/job/beam_PostCommit_XVR_Flink/5855/testReport/junit/org.apache.beam.sdk.extensions.python.transforms/RunInferenceTransformTest/testRunInferenceWithKVs/

Seems to be due to recent updates related to extra packages.

### Issue Priority

Priority: 1

### Issue Component

Component: cross-language

[2022-09-06 21:33] #21442 closed

[2022-09-06 22:21] AnandInguva opened #23056 "[Bug]: apache_beam.ml.inference.sklearn_inference_it_test.SklearnInference.test_sklearn_mnist_classification fails because of the removal of headers from the input file"
### What happened?

#23018 this removes the `skip_header_lines` from the `ReadFromText` to make the example simple and clear.

header line/column names from the csv file used in the example needs to be deleted as part of #23018. I made the change to the input CSV by removing the column names. Before #23018 merges, there will be some PostCommits failures due to AssertionError(caused by change to th

[2022-09-07 05:22] #23050 closed

[2022-09-07 07:44] ConverJens commented on #20973
@KevinGG
When you specify a requirements file when starting your beam job, beam compresses your file and sends it to the Flink job master. The job master distributes it ti the worker nodes.

But if you have an issue with this, I would encourage you to open a new issue with more information.

[2022-09-07 08:12] scwhittle opened #23063 "[Bug]: IllegalStateException in org.apache.beam.sdk.io.gcp.bigquery.StorageApiWriteUnshardedRecords"
### What happened?

The following error is encountered when using BQ sink, causing pipeline performance to suffer.

java.lang.IllegalStateException
at org.apache.beam.sdk.util.Preconditions.checkStateNotNull(Preconditions.java:452)
at org.apache.beam.sdk.io.gcp.bigquery.StorageApiWriteUnshardedRecords$WriteRecordsDoFn$DestinationState.lambda$retrieveErrorDetails$4(StorageApiWriteUnshardedRecords.j

[2022-09-07 08:13] scwhittle commented on #23063
@reuvenlax @johnjcasey

[2022-09-07 08:53] scwhittle commented on #21492
The fix should be in the 2.2.8 hadoop-connectors release, no ETA yet

[2022-09-07 09:33] AdalbertMemSQL commented on #22617
Design doc: https://docs.google.com/document/d/1WU-hkoZ93SaGXyOz_UtX0jXzIRl194hCId_IdmEV9jw/edit?usp=sharing

[2022-09-07 11:53] bullet03 opened #23064 "[Bug]: in pre tag copy icon overlaps content on mobile resolutions"
### What happened?

Steps:

1. Open the website page https://beam.apache.org/documentation/runners/spark/
2. Find the section Running on Dataproc cluster (YARN backed)
3. Scroll to Create a Dataproc cluster with Docker
4. Change the screen size to 428px x 680px
5. Take a look on the pre tag

Actual result: copy icon overlaps the text content
Expected result: copy icon doesn't overlap the text cont

[2022-09-07 11:53] bullet03 commented on #23064
.take-issue

[2022-09-07 12:40] TheNeuralBit commented on #22907
Yep!

[2022-09-07 12:40] #22907 closed

[2022-09-07 13:50] #22558 closed

[2022-09-07 13:56] mosche commented on #21092
@aymanfarhat Just FYI, this is a known Scala issue. You can find more details on the problem [here](https://github.com/scala/bug/issues/5046#issuecomment-928108088) including hints on how to resolve it.
The original Beam Jira also contains a bit more context, see https://issues.apache.org/jira/browse/BEAM-12762.

[2022-09-07 14:10] TheNeuralBit commented on #22084
No this is not. I didn't realize that stale issues are closed. Shouldn't we deprioritize instead?

[2022-09-07 14:16] AnandInguva commented on #23056
Can close this PR if https://github.com/apache/beam/pull/23018 gets merged

[2022-09-07 14:29] #21449 closed

[2022-09-07 15:04] #23056 closed

[2022-09-07 15:16] jrmccluskey commented on #22572
Looking into this a little bit, it's doable for each handler type but the end result is somewhat restrictive for the user. The provided function is going to have to take the same arguments in the same position as the current inference methods. For the given examples discussed this isn't a huge issue (unless HuggingFace users really want to use the 30+ optional `generate()` parameters) and will lik

[2022-09-07 15:29] fernando-wizeline opened #23066 "[Feature Request]: update ErrorProne library to version 2.0 or above"
### What would you like to happen?

As of now the ErrorProne library fails at compile time due to new access policies applied to the core JDK libraries starting at JDK 16.
Version 2.0 of the ErrorProne library fixes that issue.
This impacts several precommit and postcommit tests when compiling them with a JDK 17 compiler.

### Issue Priority

Priority: 3

### Issue Component

Component: sdk-java-c

[2022-09-07 15:42] damccorm commented on #22572
I'm not 100% sure this is true, for example I could imagine an approach where we let users pass in some sort of function like:
`lambda model, batched_tensors, inference_args: model.generate(...)`. Regardless, I think the optional `inference_args` probably give users enough flexibility here, though it would be good to validate that against an existing model example.

You could probably do something

[2022-09-07 15:44] #22873 closed

[2022-09-07 16:30] aaltay commented on #22011
@kennknowles @damccorm - Is the stale bot closing open bugs automatically? Should it do that?

[2022-09-07 16:59] Capstan commented on #22018
This is not completed.

[2022-09-07 17:00] damccorm commented on #22011
It looks like it is, that isn't intentional and it only started doing it recently (<20 issues affected). I put up https://github.com/apache/beam/pull/23067 to fix and will reopen all issues that have been impacted

[2022-09-07 17:12] fernando-wizeline opened #23068 "[Feature Request]: Add compile time check to target JDK8 when compiling with JDK11/17"
### What would you like to happen?

Several tests fail when compiling with JDK11 due to changes made to the ByteBuffer class in JDK9.
Those changes block visibility of some ByteBuffer methods used by Beam, resulting NoSuchMethodError exceptions.
There is a --release flag added to javac to counter this, but not sure if that could help.

### Issue Priority

Priority: 3

### Issue Component

Componen

[2022-09-07 17:47] lostluck commented on #22933
Marking as closed as #23042 seems to have resolved the issue. Knowing this test catches it is good though.

Remember, it's always the right move to rollback/revert if a change causes postcommit test failures.

[2022-09-07 17:48] #22933 closed

[2022-09-07 17:49] lostluck commented on #22856
This looks like it's resolved. Marking as closed.

[2022-09-07 17:49] #22856 closed

[2022-09-07 19:14] TheNeuralBit commented on #21440
Spoke with @yeandy about this today. We discussed how to implement a pytorch BatchConverter (should mostly be a copy paste job from the numpy one), and how to port RunInference over to using Batched DoFns, while maintaining backward compatibility guarantees.

One backward compatibility concern is each ModelHandler's public API. Each ModelHandler will likely need to add arguments for users to speci

[2022-09-07 19:40] #21402 closed

[2022-09-07 19:43] AnandInguva commented on #21447
.take-issue

[2022-09-07 19:47] AnandInguva commented on #21721
.take-issue

[2022-09-07 20:11] tvalentyn commented on #23016
Hi @sreenath-tm . Thanks for considering contributing to Beam. You can take a look at https://beam.apache.org/contribute/get-started-contributing/ and s.apache.org/beam-python-dev-wiki to get started.

The fix looks like this: the transform code in https://github.com/apache/beam/blob/master/learning/katas/python/log_elements.py ,
is moved into https://github.com/apache/beam/blob/master/sdks/python

[2022-09-07 21:39] InigoSJ opened #23071 "[Bug]: Python `AfterProcessingTime` behaves different than Java"
### What happened?

The Python trigger `AfterProcessingTime` behaves different than Java's `AfterProcessingTime.pastFirstElementInPane().plusDelayOf`.

While Java behaves as "wait X time since the first element to trigger", Python behaves similar to a Session Window, where the wait is since the previous element instead of the first element in pane:

https://github.com/apache/beam/blob/master/sdks/

[2022-09-07 22:09] ryanthompson591 commented on #21447
I filed this at someone else's suggestion. I think there was a worry that if our batch size grows too large and causes the framework to error out we should have a sort of backoff.

I think this will be even more relevant when there are implementations that make RPC calls.  How, it should work exactly --- I'm not sure at this point.

[2022-09-07 23:38] InigoSJ commented on #23071
I have made a fix for this, changing it to how Java works, will submit the PR tomorrow

[2022-09-08 02:09] zhangt-nhlab opened #23074 "Add a new IO named DataLakeIO"
We developed a new IO named DataLakeIO, which support beam to read data from data lake (delta, iceberg, hudi), and write data to data lake(delta, icberg, hudi).

Because delta , iceberg and hudi does not provide enough java api to read and write, so we use spark datasouce api to read and write data in DataLakeIO. Therefore, the spark dependencies is needed.

[2022-09-08 06:35] alexeyinkin opened #23079 "[Task]: Move pre-processing of example code away from grpc_code_client.dart"
### What needs to happen?

The code editor currently does not display tabs correctly. Tabs are the default indentation in the Go language.

The workaround made in https://issues.apache.org/jira/browse/BEAM-13446
is replacing tabs with 2 spaces in https://github.com/apache/beam/blob/master/playground/frontend/lib/utils/replace_incorrect_symbols.dart
called in https://github.com/apache/beam/blob/mas

[2022-09-08 06:35] alexeyinkin commented on #23079
.remove-labels 'awaiting triage'

[2022-09-08 08:34] alexeyinkin opened #23083 "[Task]: Sort examples and categories on the backend or in the view"
### What needs to happen?

Currently examples and categories are sorted on the frontend when parsing the response from the backend:
https://github.com/apache/beam/blob/cea122724c5cd87a403684004452305ca64b3a68/playground/frontend/lib/modules/examples/repositories/example_client/grpc_example_client.dart#L296

This is not an appropriate location, because if we introduce other clients, the experience

[2022-09-08 08:35] alexeyinkin commented on #23083
.remove-labels 'awaiting triage'

[2022-09-08 09:40] lukemin89 opened #23084 "[BUG]: Java `Wait.OnSignal` does not set output coder."
I spent a significant amount of time where the coder is missing or type is being erased, and located a single point.

The issue is a combination of `ProtoCoder` and `MapElements`, as
- `ProtoCoder` does not have `getEncodedTypeDescriptor()`, so it returns just `TypeDescriptor<Message>` instead of actual type.
- `MapElements` only takes  `TypeDescriptor` as a parameter, and try to re-infer the code

[2022-09-08 14:47] damccorm opened #23089 "[Feature Request]: Auto-cancel old Actions Runs"
### What would you like to happen?

Right now, our actions runs deal with long queues on a pretty much daily basis. Part of the reason for this is that if you make 5 commits in quick succession, 5 sets of workflow runs are queued and it takes a _long_ time to work through all of them.

We can work around this by auto-canceling outdated runs. We're already [doing this in Tour of Beam](https://githu

[2022-09-08 14:48] damccorm commented on #23089
@Abacn do you have the bandwidth to take this on? I think it could be a really impactful small change if it can alleviate the build queue times. If not, I'll either take it on or find someone else.

[2022-09-08 14:50] Abacn commented on #23089
.take-issue

[2022-09-08 15:26] diRblo opened #23090 "[Bug] Python Mongodb IO error when loading collection with single document"
**What happened?**

When I tried to read from a mongodb collection with only a single document in it, the worker returns "float division by zero" error.  The source database is deployed in mongodb atlas and the pipeline is deployed on gcp dataflow runner.  Below is the code we used and the error message got:

**Code**:

`pipeline | ReadFromMongoDB(uri=..., db=...,  coll=..., bucket_auto=True)`

**

[2022-09-08 15:38] ryanthompson591 opened #23091 "[Feature Request]: Add TF example to python notebook"
### What would you like to happen?

We have example code for how to use runinference with sklearn and pytorch. See:

https://github.com/apache/beam/tree/master/examples/notebooks/beam-ml

Since we support TF through TFX -BSL it would make sense to add a TF example to that notebook.

I also had a discussion with @AnandInguva around perhaps breaking these notebooks up into three separate ones in the

[2022-09-08 15:39] ryanthompson591 commented on #23091
.take-issue

[2022-09-08 15:39] AnandInguva commented on #23091
cc: @rezarokni

[2022-09-08 15:39] damccorm commented on #21863
For future reference/any larger audience, hooking into this is tracked in #21440

[2022-09-08 15:39] ryanthompson591 commented on #23091
.add-labels run-inference

[2022-09-08 15:41] AnandInguva commented on #22651
.add-labels run-inference

[2022-09-08 16:29] lukecwik opened #23096 "[Bug]: objsize uses GPL v3, need to swap to use ASF compatible license"
### What happened?

https://github.com/apache/beam/pull/22924 included the objsize library which is GPL v3

The suggested fix is to use pympler asizeof instead.

### Issue Priority

Priority: 0

### Issue Component

Component: sdk-py-core

[2022-09-08 16:47] rizenfrmtheashes commented on #20824
Is this issue being actioned? We encounter this issue whenever we move a pipeline into draining.  This issue prevents us from using the draining status as a mechanism for checking if a pipeline has fully cleared its backlog, and requires us to make estimations for when a pipeline is done, before directly canceling.  This is not ideal.  I can provide more info if requested!

[2022-09-08 17:15] johnjcasey commented on #20836
Closing as "will not do". This is supported using the SDF reader implementation of KafkaIO

[2022-09-08 17:15] #20836 closed

[2022-09-08 17:27] lostluck opened #23101 "[Feature Request]:[Go SDK]: Improve error message for unencodeable types w/ Workarounds"
### What would you like to happen?

Map types are able to be encoded if they are fields in a struct. This lets them take advantage of the Beam Schema Row coder which knows how to encode these fields.

For maps in particular, we should suggest the work around of wrapping in an explicit struct type with an exported field.
Slices and Arrays may need a similar treatment.

Channels, funcs, and unregist

[2022-09-08 17:33] lukecwik commented on #23096
I asked the maintainer whether they would swap or dual license with an ASF compatible license in https://github.com/liran-funaro/objsize/issues/5

I prefer the objsize library over pympler asizeof due to the simplicity of the implementation.

[2022-09-08 17:34] #23089 closed

[2022-09-08 18:07] rizenfrmtheashes opened #23104 "[Bug]: WriteToBigQuery with file_loads and dynamic table destination doesn't load after first File Load"
### What happened?

I was able to reproduce a bug in the WriteToBigQuery function in the apache beam source code for Dataflow Streaming and the File Loads setting.  This issue is primarily caused by the impulse nodes feeding into the WaitForBQJobs task used in four separate nodes in the pipeline.

This bug manifests when using file loads to write data to different tables, set via a lambda reading

[2022-09-08 18:23] lostluck opened #23106 "[Feature Request][Go SDK]: Support Slowly Changing Side Input Pattern"
### What would you like to happen?

Requires implementing a Periodic Impulse and Periodic Sequence transform for occasional re-reads of some data, in a large window.

Requires using those re-reads as a side input.

Requires allowing the map_windows urn: https://github.com/apache/beam/blob/master/model/pipeline/src/main/proto/org/apache/beam/model/pipeline/v1/beam_runner_api.proto#L296

So that the

[2022-09-08 19:04] lukecwik commented on #23096
Reverting the [usage of objsize on the release branch](https://github.com/apache/beam/pull/23107) while we get an answer to https://github.com/liran-funaro/objsize/issues/5

[2022-09-08 21:35] ryanthompson591 commented on #21615
This is a problem and I haven't been able to come up with a great solution.  The cloudpickle library needs to be specified at the start of the file.

For example:
beam.internal.pickler.set_library(USE_CLOUDPICKLE)

[2022-09-08 21:52] eddie-scio commented on #22893
Hey @ryanthompson591 , just a friendly ping!

[2022-09-08 21:54] #22768 closed

[2022-09-09 00:59] ryanthompson591 commented on #22893
There are two efforts underway.  The first was to upgrade our dill version, which got blocked by some failed tests.

See:
https://github.com/uqfoundation/dill/issues/517
https://github.com/python/cpython/issues/94245

In dill's defense it's a python error  - that gets resolved in 3.10.

The second is to vendor dill, which there is some agreement to do.

Either would solve this problem.

As to the

[2022-09-09 02:30] ryanthompson591 commented on #21721
Just an idea --- How about making the default_namespace static? That way you can get it, but if the user specifies something separate then they can.

[2022-09-09 04:15] tvalentyn opened #23119 "[Task]: Update the minor version of cloudpickle library prior to Beam release."
### What needs to happen?

If a Beam dependency has a flexible upper bound, users will download the most recent compatible version of a dependency at sdk installation time. Overtime, the version used at job submission may become newer than the version installed in a released Beam container. Given that forwards-compatiblity of a pickle library is not guaranteed, the pipeline may fail to unpickle at

[2022-09-09 04:38] tvalentyn commented on #22893
Is this fixed on dill master?

[2022-09-09 09:45] scwhittle commented on #22821
This is not an issue with Beam reference implementation but with Dataflow's specialization of pubsub IO:
https://cloud.google.com/dataflow/docs/concepts/streaming-with-cloud-pubsub#integration-features

As such I don't think it should be tracked with a beam issue.

[2022-09-09 10:06] manuzhang commented on #23106
set to p2 since this is a feature request

[2022-09-09 10:46] #21254 closed

[2022-09-09 12:10] ryanthompson591 commented on #22893
I just downloaded dill master, and tried this code out and it is fixed.

Dill added a workaround for the python error here:
https://github.com/uqfoundation/dill/blob/25a7e450ed76c7a0820834a3a91134476b1b8253/dill/_dill.py#L746d.

[2022-09-09 12:19] yeandy commented on #22240
Thanks @damccorm! We should also remove (or at least clarify) the section on this issue from our [Troubleshooting guide](https://github.com/apache/beam/blob/master/website/www/site/content/en/documentation/sdks/python-machine-learning.md#incorrect-inferences-in-the-predictionresult-object).  I had intended to make this comment in the PR yesterday, but forgot, and just remembered. 😄

[2022-09-09 13:09] damccorm commented on #22240
That's a good callout - I'll reopen here. Since this fix won't be released for ~2 months (it missed the 2.42.0 cut), we should probably hold off on doing that until then.

[2022-09-09 14:05] #22896 closed

[2022-09-09 14:08] #22522 closed

[2022-09-09 14:27] Abacn commented on #23029
Could you please share the error message seen when deploying the pipeline to Dataflow?

I did some local test and see the following error when cannot connect to jdbc database:
[code]
If this is also what you see, what happens is that the external transform is trying to infer schema by connecting to the database at pipeline expansion time, which happens only in external transform expansion service.

[2022-09-09 14:50] #23005 closed

[2022-09-09 14:58] Abacn commented on #23090
Could you please provide the version of Beam SDK used? Also if possible check if the latest version has the same issue?

[2022-09-09 15:00] Abacn commented on #23090
.add-labels "python", "io", "mongodb", "awaiting triage"

[2022-09-09 15:09] ahmedabu98 commented on #23104
Thanks @Abacn

Thank you @rizenfrmtheashes for that document, it was really helpful in understanding the underlying issues. I'm working on a solution in #23012 (currently just writing tests and changing other tests that relied on the previous implementation).

[2022-09-09 15:15] mosche opened #23129 "[Bug]: Issues with Watermark propagation in Spark runner (streaming)"
### What happened?

I was running into [this issue](https://github.com/apache/beam/pull/22620#issuecomment-1208303417) when adding support for VR tests for Spark in streaming mode (https://github.com/apache/beam/pull/22620).

It looks like the runner only supports a global watermark, causing issues when running multiple stateful operators.

In the logs below you can see that timers fire downstream

[2022-09-09 15:23] mosche commented on #22524
See also https://github.com/apache/beam/pull/15994

[2022-09-09 16:00] Abacn commented on #23029
.remove-labels 'awaiting triage'

[2022-09-09 16:00] Abacn commented on #23090
add-labels python, io, mongodb, 'awaiting triage'

[2022-09-09 16:15] nbali commented on #21669
@joey-berman  I did not, but I have non-zero getAllowedTimestampSkew on my DoFns, so if I get the message right this can't happen to me anyway.

[2022-09-09 16:22] Abacn commented on #23104
.remove-labels 'awaiting triage'

[2022-09-09 16:24] #22799 closed

[2022-09-09 16:25] #22888 closed

[2022-09-09 16:31] rizenfrmtheashes commented on #23104
@ahmedabu98 Oh I absolutely missed this.  I'm glad it's getting actioned. I took a look at the PR and it looks good at addressing the issue with the `WaitForBQJobs` single impulse, as well as removing the single impulse dependency on the tasks following. Looking forward to seeing its inclusion in the next release!

[2022-09-09 16:35] #23020 closed

[2022-09-09 17:01] #23004 closed

[2022-09-09 18:04] yeandy opened #23142 "[Feature Request]:"
### What would you like to happen?

Add the following metrics definitions to RunInference documentation.

num_inferences
- The cumulative count of all samples being passed to RunInference. I.e. total sum of examples across all batches. This should increase monotonically.

inference_request_batch_size
- The number of samples in a particular batch of examples (created from beam.BatchElements) to be

[2022-09-09 18:37] kennknowles commented on #23096
Thanks for catching this. Is there tooling we can include in the future to catch license problems automatically?

If not, a second-best approach might be to require licenses to be declared somewhere, thus forcing a human to look it up and note what it is.

[2022-09-09 18:53] yeandy commented on #23142
.add-labels run-inference

[2022-09-09 19:50] damccorm commented on #22240
#23152 will close this once its merged (after the 2.43 release)

[2022-09-09 20:32] #23026 closed

[2022-09-09 21:23] eddie-scio commented on #22893
That's awesome.  So we just need dill to release `0.3.6` (https://github.com/uqfoundation/dill/milestones), and then release a new version of Beam that changes the dependency constraint (e.g.`dill>=0.3.6`)?

[2022-09-09 21:24] johnjcasey commented on #23063
@ahmedabu98 do you have context for the BQ retrymanager?

[2022-09-09 21:53] ahmedabu98 commented on #23063
This is unfamiliar to me

[2022-09-10 00:08] hmehrotra opened #23175 "[Feature Request]: Specify database role while initializing Spanner client"
### What would you like to happen?

Cloud spanner is introducing a new attribute in SpannerConfig to support role-based access control. The database role should be specified while initializing the Spanner database client.

### Issue Priority

Priority: 2

### Issue Component

Component: io-java-gcp

[2022-09-10 00:08] hmehrotra commented on #23175
.take-issue

[2022-09-10 01:51] tvalentyn opened #23176 "[Bug]: Reduce commit logspam in pubsublite: #22762"
### What happened?

Filing as tracking issue to make sure #22762 is cp'ed into 2.42.0 per request from @dpcollins-google who can fill in the details if necessary.

### Issue Priority

Priority: 2

### Issue Component

Component: io-java-gcp

[2022-09-10 07:02] himanshu-suman commented on #17990
Hi @kennknowles  ,
This issue seems to be a good initiation of my journey towards contribution to FOSS projects.
Can you please assign this to me?

[2022-09-10 07:40] theshashankpal commented on #17990
Hi @kennknowles ,
This issue seems to be a good initiation of my journey towards contribution to FOSS projects.
Can you please assign this to me?

[2022-09-10 14:38] Abacn commented on #22944
False positive eliminated in #23027, kafka performance test now fails. Leave this issue open for the test fix.

[2022-09-10 15:31] #22805 closed

[2022-09-10 16:09] ptrmcrthr commented on #21103
We are running into this issue trying to implement a slowly changing side input as seen here:  https://beam.apache.org/documentation/patterns/side-inputs/

Maybe a note on that page saying it's not working with DirectRunner? Unfortunately my pipeline is not working with Flink runner

[2022-09-10 16:36] Abacn opened #23178 "[Bug]: Regression: ZetaSQL cannot find coder for row that contains datetime type on Runner V2"
### What happened?

Introduced in #22561 specifically the change of this line:
https://github.com/Abacn/beam/blob/b0484e792bc615b7494b5195e3ef3d464ec7e426/sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/SchemaTranslation.java#L366

Apparently the datetime logical type that ZetaSQL uses also relies on this line to find the coder of datetime logical type.

### Issue Priority

Priority: 1

#

[2022-09-10 16:38] Abacn commented on #23178
@lostluck  @tvalentyn as Milestone to 2.42.0 release

[2022-09-10 16:38] Abacn commented on #23178
.take-issue

[2022-09-11 14:41] bsikander opened #23179 "[Bug]: Parquet size exploded for no apparent reason"
### What happened?

Hello,
I am facing a strange issue where my parquet file sizes are exploding.
My Env:
* Beam SDK: 2.35.0
* Parquet-mr: 1.12.0 (build db75a6815f2ba1d1ee89d1a90aeb296f1f3a8f20)
* Execution Env: Google Dataflow
* Compression: Snappy
 
I have a pipeline which writes data to GCS and bigquery. I noticed a strange behavior where the parquet files being written in GCS directory were ve

[2022-09-12 06:56] christogav opened #23181 "[Feature Request]: Golang SDK SpannerIO"
### What would you like to happen?

I would like to propose a naive SpannerIO implementation for the Golang SDK.

See implementation here: https://github.com/christogav/beam/tree/master/sdks/go/pkg/beam/io/spannerio.

### Issue Priority

Priority: 2

### Issue Component

Component: io-go-gcp

[2022-09-12 06:56] christogav commented on #23181
.take-issue

[2022-09-12 12:14] mosche commented on #23179
@bsikander Could you compare the DAG of your pipeline before and after the upgrade to help investigate. The increase in size you are seeing might suggest that the new version of Beam introduced an additional shuffle step that affects Parquet compression.

Columnar formats offer powerful compression if data is adequately laid-out & ordered, but if changed things can look totally different. For inst

[2022-09-12 12:51] kennknowles commented on #17990
Sure! Thanks!

[2022-09-12 13:05] nbali commented on #22951
Note to self: the same happens with https://github.com/apache/beam/blob/master/sdks/java/core/src/main/java/org/apache/beam/sdk/io/WriteFiles.java

[2022-09-12 14:21] AnandInguva commented on #21721
@yeandy @ryanthompson591

Do we want the namespace to be defined on `ModelHandler` or `RunInference` transform?

Question :
- On `ModelHandler`, user can define a namespace while creating the ModelHandler object and can pass this ModelHandler object to the RunInference transform.
- What happens when there are two `RunInference` transforms that use the same `ModelHandler` and the two transforms nee

[2022-09-12 14:48] AnandInguva commented on #21721
cc @damccorm

[2022-09-12 15:09] ryanthompson591 commented on #21721
It makes the most sense to me to put the namespace on the base model handler.  This puts the user in full control.

Some outstanding questions would be what would happen with wrapper model handlers - like KeyedModelHandler.'

I think the obvious thing would be to make some sort of default behavior that wrappers should do.  Something like passing the namespace overrides/prefixes to the wrapped mode

[2022-09-12 15:20] damccorm commented on #21721
I think my personal lean would be:

1) Leave the metrics namespace definition in the `ModelHandler` classes. These have the advantage of being model specific; for example, the `PytorchModelHandlerTensor` has a metrics namespace `RunInferencePytorch`. Getting that level of model-specificity is harder to do elsewhere.
2) Add a method (or probably just a class parameter) to override the namespace on

[2022-09-12 15:22] AnandInguva commented on #21721
Sure. I will create a doc. I agree with Danny and actually worked up on PR[1] based on that.

[1] https://github.com/apache/beam/pull/23182

[2022-09-12 17:07] lostluck commented on #23176
Send me a CP to the release branch, and I can merge it.

[2022-09-12 17:17] Abacn commented on #23178
Turns out to be a red herring. The cause is that the change of #22561 needs a container image update. Otherwise causing inconsistent status for Dataflow runner v2.

[2022-09-12 17:31] lostluck commented on #22931
@ronoaldo Yes, Dataflow, Flink, and the Python Portable runner support executing Cross Language transforms. The Go Direct Runner doesn't and is going to be replaced with something more useful in the next 6 months.

I think we currently plan to wrap the Dataframe transforms too, along with Run Inference.

At this point, we're aiming for the 2.43.0 or 2.44.0 releases though, as 2.42.0 is cut.

I don

[2022-09-12 17:32] lostluck commented on #22931
(swapped some labels and edited the title things for book keeping)

[2022-09-12 17:46] #23178 closed

[2022-09-12 17:57] tvalentyn commented on #23176
for y'all convenience: https://github.com/apache/beam/pull/23188

[2022-09-12 18:45] ronoaldo commented on #22931
I would also point out that the docs state this as being a possible workflow as of now, which is what confused me in the beginning:

If 2.42 docs can be updated, it worth mentioning that calling Python from Go is unsupported, instead of telling that we must start the expansion service manually.

[2022-09-12 18:49] ronoaldo opened #23189 "[Bug]: Calling a Java custom PTransform from Go using xlang fails on Dataflow Runner"
### What happened?

As mentioned in #22931 - I am testing xlang support for the Go Runtime. I first was doing it wrong, using the Go direct runner, but then I moved on to test with the Dataflow runner.

I noticed that on Dataflow Runner, I could call a custom [Java Ptransform](https://github.com/ronoaldo/micro-beam/blob/main/05_xlang/java/src/main/java/com/ronoaldo/SplitWordsFromJava.java) from [P

[2022-09-12 19:36] nickcaballero commented on #19255
This issue also happens for the `KinesisReader`.

[2022-09-12 20:42] lostluck commented on #23176
Thanks!

[2022-09-12 20:42] #23176 closed

[2022-09-12 20:45] lukecwik opened #23193 "[Feature Request]: Reduce number of byte[] copies in TextSource"
### What would you like to happen?

The current TextSource implementation is spending a lot of time during `byte[]` copying:
![TextSource old implementation performance in pipeline](https://user-images.githubusercontent.com/10078956/189754108-c269f343-044d-42a1-8e35-0b2e332cf9b1.png)

Hadoop `LineReader.java` implementation is signficantly faster (~2x) when handling typical files due to an impleme

[2022-09-12 20:56] #23071 closed

[2022-09-12 21:39] lukecwik commented on #23193
CC: @bhisevishal

[2022-09-12 22:15] benWize commented on #20333
Hi @Abacn, I think the current failures could be related to a problem with the availability of resources on the shared cluster(io-datastores). The Kubernetes console for kafka-1 pods shows a message: `Cannot schedule pods: Insufficient memory.`
We could provide more resources or double-check if some of the running workloads aren't terminated correctly (none of them are related to Kafka tests).
The

[2022-09-12 23:01] kennknowles commented on #19255
@nickcaballero can you link the GitHub issue?

[2022-09-13 05:37] nsbala-tw commented on #23036
Yes. I don't see any issues in message processing flow. But after some inactivity, this error has been thrown.

[2022-09-13 06:37] balabarath commented on #23036
@johnjcasey  Yes. I don't see any issues in the message processing flow. But after some inactivity, this error has been thrown.

[2022-09-13 07:07] scwhittle commented on #23063
.take-issue

[2022-09-13 07:21] mosche opened #23203 "[Bug]: Properly close Spark (streaming) context if Pipeline translation fails"
### What happened?

If pipeline translation fails, the Spark runner might leak the Spark (streaming) context.

### Issue Priority

Priority: 2

### Issue Component

Component: runner-spark

[2022-09-13 07:22] mosche commented on #23203
This issue surfaced when adding support for VR tests (https://github.com/apache/beam/issues/22472).

[2022-09-13 09:07] #23203 closed

[2022-09-13 12:37] oakad opened #23206 "[New feature]: Support custom profile name in AWS ProfileCredentialsProvider"
### What happened?

Beam v2.41.0 under Flink 1.13.

`org.apache.beam.sdk.io.aws2.kinesis.KinesisIO` consumer has several issues with its current implementation.

1. First, it's not handling the pipeline level `AwsOptions` correctly. Let's say a pipeline is configured to use a profile to authenticate:
[code]
When in "running" stage, the created pipeline step will use the "default' credentials from

[2022-09-13 13:38] johnjcasey commented on #23036
That probably means we can simply catch and log this error at a low priority.

[2022-09-13 14:26] AnandInguva commented on #23091
I feel like it would be better to have individual notebook for each framework. This looks too big.

[2022-09-13 14:27] damccorm opened #23207 "[Task]: Add RunInference resource hint example to docs"
### What needs to happen?

It is a common pattern to use multiple models in a given pipeline (e.g. for A/B testing or Ensemble models). These models may have different memory requirements and resource hints are a natural solution to this problem. We should add some docs explaining how to use resource hinting with RunInference.

### Issue Priority

Priority: 2

### Issue Component

Component: run-i

[2022-09-13 14:49] damccorm commented on #23091
I agree - I imagine most people new to the transform (or who want to use it for a new purpose) are going to have a specific framework in mind. I would vote we split this out into its own notebook and then follow up to split out sklearn as well.

[2022-09-13 14:52] #22874 closed

[2022-09-13 14:58] BjornPrime commented on #22742
I posted this issue in protobuf as well and they have closed in saying that it should be resolved in protobuf 4.21.x: https://github.com/protocolbuffers/protobuf/issues/10417#issuecomment-1242487852

Unfortunately, grpcio-tools still requires protobuf<4.0, even in the most up-to-date current version (1.48.1).

[2022-09-13 14:58] ryanthompson591 commented on #21556
Fixed in PR

This will be a breaking change to any pipelines that expect the output of CoGroupByKey to be a list instead of an iterable.

I've  [documentation](https://docs.google.com/document/d/1RIzm8-g-0CyVsPb6yasjwokJQFoKHG4NjRUcKHKINu0) on how to fix pipelines for this breaking change.

[2022-09-13 15:21] damccorm commented on #23091
One recommendation (either as part of this PR or a separate one): it would be nice to have a very simple top level README describing (1) RunInference very generally/pointing to the docs and (2) what each notebook does (including the spaCy one) so that people who are just getting started know where to go. If if its not convenient for that to make it into this PR, I can also follow up on that separa

[2022-09-13 15:30] damccorm commented on #23089
Since doing this, our average queue has gone way down - previously it was consistently hovering around 2+ hours at this point in the day; currently it is around half an hour. Thanks for doing it @Abacn

[2022-09-13 17:23] tvalentyn commented on #23000
@lukecwik are you planning to work on this issue or it will need an owner?

[2022-09-13 17:28] ahmedabu98 commented on #23104
Thanks for taking a look! I'm looking to get it merged before the end of the week, though I'm not sure if it will make version 2.42.0 as that release branch has already been cut.

[2022-09-13 17:44] johnjcasey commented on #21368
@lukecwik or @scwhittle do either of you have a suggestion on what transport to use? I'm fairly unfamiliar with the details of these

[2022-09-13 17:50] tvalentyn commented on #22983
@fernando-wizeline IIRC you added this suite - would you have time to take a look at the test that complete in a matter of seconds and see if they should be excluded from Dataflow suite or if some other follow up action is needed? Thanks!

[2022-09-13 18:27] steveniemitz opened #23213 "[Feature Request]: AvroSource should use the standard CodecFactory to decompress blocks"
### What would you like to happen?

Currently AvroSource has its own hand-rolled avro parser, given the class is over 6 years old I assume this is due to it being written before Avro had DataFileReader, etc, with good support for partially reading an avro container file.

One of the downsides of this is that it doesn't share the same CodecFactory infrastructure as avro proper does, so users can't

[2022-09-13 18:37] TheNeuralBit commented on #23071
Is there a possibility  this will be a breaking change for people that rely on the old behavior?

[2022-09-13 18:38] TheNeuralBit commented on #20810
Closed the wrong issue

[2022-09-13 18:42] pabloem commented on #23071
hm there is. However this code change only affects DirectRunner pipelines. For other runners, the trigger code is executed by the runners....

[2022-09-13 20:26] lukecwik commented on #23000
There is an open PR already for this. I have not been able to address the PR comments for it yet.

[2022-09-13 20:31] InigoSJ commented on #23071
Just for clarification, I tested the trigger in Dataflow (both Legacy and UW) and it works as in Java (as it should).

I am not aware how this works in other runners, but I think users would expect it to work as in Java and how it's explained in the documentation.

https://beam.apache.org/releases/pydoc/current/apache_beam.transforms.trigger.html?#apache_beam.transforms.trigger.AfterProcessingTime

[2022-09-13 20:48] kennknowles commented on #23129
Hmm, seems like a major problem. There really must be a watermark per PCollection. In fact, to do timers right you need

1. watermark for incoming elements (held by upstream and element timestamps, timers fire using this)
2. watermark for incoming elements + queued timers (held also by timer output timestamps, GC fires using this)
3. output watermark for each PCollection (related to the downstream

[2022-09-13 21:28] TheNeuralBit commented on #23071
Do you mean it worked as in Java on Dataflow, even before your change?

Yes but users sometimes come to rely on buggy behavior :) (obligatory xkcd: https://xkcd.com/1172/)

I don't think I have enough context here to advise on a specific action. If this really is just affecting the DirectRunner (non-production) I think it makes sense to just mention this in the release notes. If there's a possibil

[2022-09-13 21:38] #23096 closed

[2022-09-13 21:52] rezarokni commented on #23091
+1 to creating multiple notebooks
+1 to top level README

[2022-09-13 21:53] InigoSJ commented on #23071
Yes, it works as Java on Dataflow (both Legacy and UW)

I don't have the capacity to test on other runners besides DF and DirectRunner, so not sure how to proceed.

To be fair, the documentation marks the trigger as experimental. Considering the description, how Java works and what most user would actually want (*) and this being experimental, I think adding this change will help more than can hin

[2022-09-13 22:16] kennknowles commented on #20689
@johnjcasey has been looking at KafkaIO and may have updates on this one.

[2022-09-13 22:17] kennknowles commented on #20689
Bringing over a significant comment:

[2022-09-13 22:19] kennknowles commented on #20108
@tvalentyn do you know if this is still occurring?

[2022-09-13 22:19] kennknowles commented on #20108
This would be an incorrect result, definitely a real P1. Though in practice users are not relying on this I would guess.

[2022-09-13 22:21] kennknowles commented on #21257
@dpcollins-google per my prior comment, can you confirm with a PAssert whether there is a lack of data processing actually occurring? Or, you may take the position that all side effects of a DoFn should have occurred before the pipeline shuts down. All in all, I am not convinced this is P1 but it could be a real bug.

[2022-09-13 22:22] kennknowles commented on #20692
I believe this has been fixed. Can you confirm @reuvenlax? I believe you were in the loop on the fix.

[2022-09-13 22:23] kennknowles commented on #20813
With the migration to runner v2, triggers are implemented in a new codebase where this is fixed.

[2022-09-13 22:23] #20813 closed

[2022-09-13 22:25] kennknowles commented on #21695
Confirmed that this is still the case.

[2022-09-13 22:28] kennknowles commented on #21465
@johnjcasey as an FYI. I believe this may still be an issue. Reshuffle is a non-checkpointing operation but it is commonly used for checkpointing due to Dataflow's history.

[2022-09-13 22:31] kennknowles commented on #21694
@johnjcasey @reuvenlax @chamikaramj  I think the biggest issue here is: can you get a `PCollection<BigQueryInsertError>` when using the storage API? If not, what are users supposed to do?

[2022-09-13 22:31] kennknowles commented on #21702
Not currently flaking.

[2022-09-13 22:31] #21702 closed

[2022-09-13 22:34] kennknowles commented on #21265
Addressed by #15757 before the Jira to GitHub Issues migration.

[2022-09-13 22:34] #21265 closed

[2022-09-13 22:37] kennknowles commented on #21263
Since this hasn't got an update or a "me too" in a long time, I am going to close it on the assumption that it was resolved or transient. It was seemingly specific to a particular customer/pipeline so most effectively debugged via user support unless we had a repro. Feel free to reopen if it happens more, or if you have more information or a reproduction.

[2022-09-13 22:37] #21263 closed

[2022-09-13 22:38] kennknowles commented on #21262
@zhoufek did you follow up with this, or is it still outstanding?

[2022-09-13 22:39] kennknowles commented on #21260
@zhoufek are you aware of any follow-up to this? If not, this is certainly an issue. It would be a direct runner issue, not a Python SDK issue, I think. Dataflow has one implementation of triggers while Java-based runners have another, and neither is shared with the local Python runner.

[2022-09-13 22:40] kennknowles commented on #21108
This indicates a mismatch in your flink versions.

[2022-09-13 22:40] #21108 closed

[2022-09-13 22:42] kennknowles commented on #20528
If this is still true, then it should be very easy to reproduce. @robertwb or @tvalentyn or @pabloem do you know?

[2022-09-13 22:44] kennknowles commented on #21123
@damccorm @tvalentyn as experts in our ML integrations and Python do you know anything about how these installs work and why it would not occur twice? I guess it has to do with how the portable Flink runner deploys Python SDK harness containers? But wouldn't a fresh container start up for a new pipeline, hence be a clean start?

[2022-09-13 22:45] kennknowles commented on #20109
@reuvenlax FYI since I know you work with sortvalues a bit

[2022-09-13 22:46] kennknowles commented on #21109
@robertwb is this obsolete or is it still blocking some migrations to v2?

[2022-09-13 22:46] lukecwik commented on #21368
There is only one gRPC channel provider, the InstantiatingGrpcChannelProvider which is also the default. You could experiment with creating a fixed one but I would suggest using `setBackgroundExecutorProvider` on all the clients using a FixedExecutorService and updating https://github.com/apache/beam/blob/9be9a43c1b85be9b2f78e2943f6092ccb88e13b4/sdks/java/extensions/google-cloud-platform-core/src/

[2022-09-13 22:53] lukecwik commented on #23213
From what I vaguely remember, the existing APIs at the time weren't able to support the splitting protocol that was necessary. As a quick sanity check you could compare the DataFileReader interface at the time to the current one to see if there are new APIs related to seeking to specific offsets and knowing what offset we are at.

[2022-09-13 22:53] kennknowles commented on #21268
This is green now. It looks like the work in #15888 got it healthy enough. (before the Jira to GitHub Issues migration)

[2022-09-13 22:53] #21268 closed

[2022-09-13 22:54] kennknowles commented on #20332
@johnjcasey this is reminiscent of something discussed today

[2022-09-13 22:54] kennknowles commented on #21700
@robertwb this is fixed, I hope?

[2022-09-13 22:55] kennknowles commented on #21111
Agreed. We should fail if we have a primitive that cannot be translated. Is this still occurring? /cc @lukecwik @robertwb who may have some context on the portable translation recent state of affairs.

[2022-09-13 22:56] kennknowles commented on #20978
FYI @johnjcasey. I think this is fine to be a P2 feature request, really, to make this functionality usable. As long as we fail rather than corrupt data.

[2022-09-13 22:58] kennknowles commented on #21267
@johnjcasey @pabloem is this a BQ bug, that they return a 503 even though it was a success? Is it our bug that a 503 on a non-critical status query causes a retry but we don't dedupe?

[2022-09-13 23:01] kennknowles commented on #22321
Noting that following the links indicates this was a flake in Python precommit

[2022-09-13 23:03] kennknowles commented on #22321
Looking at recent cron runs of the precommit we don't see this flake.

[2022-09-13 23:04] kennknowles commented on #21794
I believe this was fixed, but @reuvenlax can you connect with the PR please?

[2022-09-13 23:05] kennknowles commented on #22440
No longer failing.

[2022-09-13 23:05] #22440 closed

[2022-09-13 23:06] kennknowles commented on #21713
@reuvenlax @johnjcasey is this still happening? There is a lot of context on the Jira comments that I haven't brought over. It sounds like fundamental bugs in the connector.

[2022-09-13 23:07] kennknowles commented on #21703
This test suite is healthy now.

[2022-09-13 23:07] #21703 closed

[2022-09-13 23:08] kennknowles commented on #22283
If not blocking the release and not considered a performance regression, lowering to P2.

[2022-09-13 23:09] kennknowles commented on #20979
Since this is new functionality I think that P2 is the right level. This is still an important priority for portable runners to function properly with SDF.

[2022-09-13 23:09] kennknowles commented on #20979
CC @chamikaramj since tagged with xlang

[2022-09-13 23:10] kennknowles commented on #22749
@aromanenko-dev @cushon is this now resolved? We first reverted for the release, then downgraded the unvendored bytebuddy on the master branch. Do we have confirmation that it is fixed?

[2022-09-13 23:12] kennknowles commented on #21730
Doesn't this mean that some stated functionality just isn't working? Is there a chance of data corruption if the user doesn't notice? That would make this P1 and release blocking, really.

[2022-09-13 23:13] kennknowles commented on #22913
Not failing today. It does have some flakes, but not this one from what I can see.

[2022-09-13 23:13] kennknowles commented on #22913
Wait, I read it wrong. This is exactly the flake.

[2022-09-13 23:17] lukecwik commented on #21111
I haven't seen this being a large issue.

Any reason why we don't merge most of these into sdks/java/core and make classes package private?

I feel as though we have a lot of modules like `core-construction-java` or `java-fn-execution` that don't add more dependencies but are split up into separate modules making the code organization more complex then necessary.

[2022-09-13 23:18] chamikaramj commented on #21730
I think this was fixed by https://github.com/apache/beam/pull/22450

[2022-09-13 23:18] kennknowles commented on #23179
There are a *lot* of changes in that version range.

`git log --oneline v2.35.0 ^v.2.20.0 -- sdks/java/io/parquet`

In case this helps. I've deleted commits that have nothing to do with Parquet, like global formatting cleanups and stuff.

[code]

It would help a lot of you could find a smaller version range.

[2022-09-13 23:30] cushon commented on #22749
It's fixed now: https://github.com/apache/beam/pull/22814 upgraded to the latest bytebuddy version, which includes a fix, and added a local regression test.

[2022-09-14 00:09] steveniemitz commented on #23213
Yeah that was what I figured, all the tests pass using DataFileReader so that's cool.  I'm going to run a bigger test with our own internal test suite to make sure it works in the real world too, but the test coverage seems pretty complete.

[2022-09-14 02:48] Abacn opened #23227 "[Bug]: Python SDK installation cannot generate proto with protobuf 3.20.2"
### What happened?

All  python suites (actions / Jenkins) fail with:

[code]

[2022-09-14 05:45] reuvenlax commented on #21713
I suspect it does happen. Some context:
This feature was intended for known persistent failures at the row level, and is implemented using the per-row status returned by BigQuery. An example would be a row that does not match the BigQuery schema or a row that exceeds BigQuery's size limit. This feature does not capture potentially ephemeral failures, such as when the RPC to BigQuery itself fails.

[2022-09-14 05:48] reuvenlax commented on #21694
yes - but it's a new method.

PCollection<BigQueryStorageApiInsertError> errors = writeResult.getFailedStorageApiInserts();

[2022-09-14 05:49] reuvenlax commented on #20692
I believe this was caused by the output-timestamp bug, and should now be fixed.

[2022-09-14 05:54] Wal8800 opened #23228 "[Bug]: Error when ParDo returns None for all elements in DirectRunner using more than 1 worker"
### What happened?

When a custom `DoFn` can return None depending on the element and running more than 2 worker in the DirectRunner, the pipeline triggers the following error when all the element from the inputs return None in the DoFn.

Error:

[code]

Example pipeline script:

[code]

Example input.txt (lines of empty string):

[code]

Example command:

[code]

Ran the example in apache beam `2

[2022-09-14 11:26] gabrywu commented on #20327
any updates?

[2022-09-14 12:59] #20692 closed

[2022-09-14 13:45] tvalentyn commented on #23227
Thanks, do we have a bug on protobuf side?

[2022-09-14 13:55] Abacn commented on #23227
Raised https://github.com/protocolbuffers/protobuf/issues/10564

[2022-09-14 14:06] Abacn commented on #23090
.add-labels python, io, mongodb, 'awaiting triage'

[2022-09-14 14:30] Abacn commented on #23227
From protobuf 3.20.1 to 3.20.2 do not find something strange: https://github.com/protocolbuffers/protobuf/compare/v3.20.1...v3.20.2 the change is really minor, mostly fixing macos build.

From Beam side, looks like the build "python/build/apache-beam.tar.gz" sent to tox does not contain generated code anymore, which triggers this error.

[2022-09-14 14:45] #23063 closed

[2022-09-14 14:48] johnjcasey commented on #20978
@scwhittle are you able to identify if this is an issue with all pubsub io, or the google internal pubsub io?

[2022-09-14 14:55] johnjcasey commented on #21267
I think our code works correctly here. We explicitly mark _start_upload as no retries, and the underlying transfer library understandably considers a 5xx error to not be retryable. I think this is a BQ bug, that we handle correctly.

Data duplication is a possibility with beam

[2022-09-14 14:59] johnjcasey commented on #21730
It was

[2022-09-14 15:04] johnjcasey commented on #21713
@svetakvsundhar are you still looking at this?

[2022-09-14 15:09] diRblo commented on #23090
We are using the latest version 2.41.0

[2022-09-14 15:09] AnandInguva commented on #21444
What would be the plan of action on this one? By looking at comments, `PredictionResult` will remain same. Are we adding an optional flag to exclude the input from the `PredictionResult`?

I guess if someone wants to exclude the outputs, they can do it using `beam.Map()` or a PostProcessor.

[2022-09-14 15:10] johnjcasey commented on #21694
I believe @bvolpato  updated the logging on this recently. #22405

[2022-09-14 15:11] johnjcasey commented on #21694
I believe that means this issue can be closed

[2022-09-14 15:23] johnjcasey commented on #20332
@Abacn you were attempting to repro this, did you have any success?

[2022-09-14 15:24] Abacn commented on #20332
@johnjcasey I was not reproduce the issue with flink running locally.

[2022-09-14 15:40] damccorm commented on #21444
Yeah, I think that's the best option here

I don't quite follow this - why would someone want to exclude the outputs? Do you just mean unnesting the outputs from the `PredictionResult`?

[2022-09-14 15:50] johnjcasey commented on #20689
I have very little idea where we could be leaking memory in commitOffsets, but the code hasn't substantially changed since the original bug report.

@Abacn can you take a look at this while working on Kafka testing?

[2022-09-14 15:52] johnjcasey commented on #21109
@pabloem did you have any data or specific examples for this?

[2022-09-14 16:01] AnandInguva commented on #21444
I am sorry. It's `inputs` not `outputs`

[2022-09-14 16:03] AnandInguva commented on #21444
.take-issue

[2022-09-14 16:59] #21109 closed

[2022-09-14 17:07] #23207 closed

[2022-09-14 17:29] damccorm commented on #21437
Actually, I think there could be value in adding `num_failed_inferences` before worrying about the side input model loading stuff. That would probably involve putting some error handling around our run_inference call:

https://github.com/apache/beam/blob/2d4f61c93250fb41112a2535394e7328bc1fdf95/sdks/python/apache_beam/ml/inference/base.py#L418

and have that update the metrics count. @BjornPrime a

[2022-09-14 17:53] #22784 closed

[2022-09-14 18:10] BjornPrime commented on #21437
.take-issue

[2022-09-14 18:27] #23104 closed

[2022-09-14 18:43] ahmedabu98 opened #23235 "[Improvement]: Create a job manager for Python BigQueryIO"
### What would you like to happen?

Java's BigQuery connector delegates waiting for jobs to a [PendingJobManager](https://github.com/apache/beam/blob/935eeadd45a6100c68243fc5b266b20d26164173/sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQueryHelpers.java#L91). The benefit with this job manager is that jobs are waited for and their state is checked on in pa

[2022-09-14 18:44] ahmedabu98 commented on #23235
.set-labels 'awaiting triage',improvement

[2022-09-14 19:02] AnandInguva commented on #21439
.close-issue

[2022-09-14 19:15] ahmedabu98 opened #23236 "[Improvement]: (Python BQ batch loads) Perform one copy job for a set of temp tables instead of one copy job per temp table"
### What would you like to happen?

For large Java BQ batch loads that require copy jobs, the temp tables created for a given destination are [grouped up into a list of references](https://github.com/apache/beam/blob/f921a2f1996cf906d994a9d62aeb6978bab09dd5/sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/WriteRename.java#L126-L143) and are later used as a [sour

[2022-09-14 19:16] ahmedabu98 commented on #23236
.add-labels improvement

[2022-09-14 19:17] ahmedabu98 commented on #23236
.remove-labels 'new feature'

[2022-09-14 20:14] kennknowles commented on #21694
Agree.

[2022-09-14 20:14] #21694 closed

[2022-09-14 20:28] #21439 closed

[2022-09-14 21:52] TheNeuralBit commented on #22913
`org.apache.beam.sdk.transforms.ParDoLifecycleTest.testTeardownCalledAfterExceptionInStartBundleStateful` is tracked in #21266

Maybe this should just track the GroupByKey one? It does look quite flaky:
![image](https://user-images.githubusercontent.com/675055/190269517-97482460-0cde-4296-956c-8509ee7dc058.png)

[2022-09-14 22:06] lostluck commented on #23189
I can confirm that the same should have worked for both, but I don't have the experience with Xlang to understand what's going wrong with what you have here.

The logs indicate that both the Go and the Java containers are starting up, but then the workers simply crash/die.

It would be useful to confirm whether the Python pipeline and the Go pipeline are uploading the same java artifacts however.

[2022-09-14 23:20] chamikaramj commented on #23189
I don't see workitems actually executing in the worker log you provided.

Can you check other logs (for example, kubelet) to see if there are any errors related to pipeline setup ?

[2022-09-15 01:23] alexeyinkin opened #23243 "[Task]: Single source of truth for Flutter version"
### What needs to happen?

To update Flutter in Playground, currently the following needs to be updated:

https://github.com/apache/beam/blob/26c94b20f74c7d7d64ca64522953cf4262786bbc/playground/frontend/Dockerfile#L20

https://github.com/apache/beam/blob/26c94b20f74c7d7d64ca64522953cf4262786bbc/.github/workflows/build_playground_frontend.yml#L40

https://github.com/apache/beam/blob/master/playgrou

[2022-09-15 01:24] alexeyinkin commented on #23243
.remove-labels 'awaiting triage'

[2022-09-15 04:20] alexeyinkin opened #23244 "[Task]: Tour of Beam Playground for narrow screens"
### What needs to happen?

Tour of Beam Playground for narrow screens

### Issue Priority

Priority: 3

### Issue Component

Component: beam-playground

[2022-09-15 04:20] alexeyinkin commented on #23244
.remove-labels 'awaiting triage'

[2022-09-15 04:22] alexeyinkin opened #23245 "[Task]: Add 'Tour of Beam' component to GitHub components"
### What needs to happen?

Add `tour-of-beam` component to GitHub components:
![image](https://user-images.githubusercontent.com/44893228/190313747-ce36ed8e-25d6-4048-b96e-a8ff897810f5.png)

### Issue Priority

Priority: 3

### Issue Component

Component: beam-playground

[2022-09-15 04:22] alexeyinkin commented on #23245
.remove-labels 'awaiting triage'

[2022-09-15 04:56] alexeyinkin opened #23248 "[Task]: Run status per SDK"
### What needs to happen?

Although Playground maintains a state per SDK, only one state can run the code at a given time. This limitation needs to be lifted.

### Issue Priority

Priority: 3

### Issue Component

Component: beam-playground

[2022-09-15 04:56] alexeyinkin commented on #23248
.remove-labels 'awaiting triage'

[2022-09-15 06:26] alexeyinkin opened #23249 "[Task]: Extract ExampleCache.isSelectorOpened"
### What needs to happen?

`ExampleCache` is the class to store examples as they are fetched from the network.
For historical reasons, it also contains the state of the example dropdown in `isSelectorOpened` flag.
It should be extracted to somewhere else and to be unified with other dropdowns.

### Issue Priority

Priority: 3

### Issue Component

Component: beam-playground

[2022-09-15 06:26] alexeyinkin commented on #23249
.remove-labels 'awaiting triage'

[2022-09-15 06:46] alexeyinkin opened #23250 "[Task]: Shorten the selected example title in the view and not in the PlaygroundController"
### What needs to happen?

Shorten the selected example title in the view and not in the PlaygroundController

### Issue Priority

Priority: 3

### Issue Component

Component: beam-playground

[2022-09-15 06:47] alexeyinkin commented on #23250
.remove-labels 'awaiting triage'

[2022-09-15 06:48] alexeyinkin opened #23251 "[Task]: Single source of truth for whether graph is supported"
### What needs to happen?

Single source of truth for whether graph is supported

### Issue Priority

Priority: 3

### Issue Component

Component: beam-playground

[2022-09-15 06:49] alexeyinkin commented on #23251
.remove-labels 'awaiting triage'

[2022-09-15 06:58] alexeyinkin commented on #22544
Done in
- #21978

[2022-09-15 06:58] #22544 closed

[2022-09-15 07:00] alexeyinkin opened #23252 "[Task]: Send unchanged examples by path when opening standalone Playground"
### What needs to happen?

When opening a standalone Playground from the embedded one, currently the code is sent via a window message, and so the standalone Playground URL is generic and the example cannot be shared by copying it.

### Issue Priority

Priority: 3

### Issue Component

Component: beam-playground

[2022-09-15 07:01] alexeyinkin commented on #23252
.remove-labels 'awaiting triage'

[2022-09-15 09:20] nsbala-tw commented on #23036
I would like to .take-issue to fix

[2022-09-15 11:53] scwhittle commented on #20978
I don't think so, internal impl just replaces PubsubUnboundedSource which is before the ParseFn.
I'm not even sure if this bug is really that pubsub specific or just a coder issue with SchemaCoder/AvroCoder compatibility.

Unless the bug is just that PubsubIO is doing somethign wrong with the implementation of that method

    Schema schema = AvroUtils.getSchema(GenericRecord.class, avroSchema);

[2022-09-15 11:55] scwhittle commented on #20978
IF you have a repro you can disable the pubsub override to verify by setting enable_custom_pubsub_source experiment
https://github.com/xsm110/Apache-Beam/blob/master/runners/google-cloud-dataflow-java/src/main/java/org/apache/beam/runners/dataflow/DataflowRunner.java#L315

[2022-09-15 12:17] yeandy commented on #22651
Used dockerfile with the contents
[code]

[2022-09-15 13:13] #21721 closed, assigned to AnandInguva

[2022-09-15 13:56] Abacn opened #23254 "[Bug]: coders_property_based_test flaky"
### What happened?

e.g. https://ci-beam.apache.org/job/beam_PreCommit_Python_Commit/24753/

following test failed
[code]

error message:
[code]

Not sure this is transient or flakes. Will track.

### Issue Priority

Priority: 2

### Issue Component

Component: test-failures

[2022-09-15 13:57] Abacn commented on #23254
CC: @pabloem

[2022-09-15 14:43] AnandInguva commented on #22471
.close-issue

[2022-09-15 14:44] AnandInguva commented on #21822
.close-issue

[2022-09-15 15:18] yeandy opened #23258 "[Task]: Expand PyTorch version"
### What needs to happen?

We currently test versions 1.9 and 1.10 for `PyTorch`. We should expand the bounds.

### Issue Priority

Priority: 2

### Issue Component

Component: run-inference

[2022-09-15 15:19] yeandy commented on #23258
.add-labels run-inference

[2022-09-15 15:25] aromanenko-dev commented on #23206
CC: @mosche

[2022-09-15 15:27] Abacn commented on #23227
.take-issue

[2022-09-15 15:34] #22471 closed

[2022-09-15 15:37] #19419 closed

[2022-09-15 15:56] mosche commented on #23206
@oakad I acknowledge this is confusing and by far not optimal... `ProfileCredentialsProvider` allows for additional configuration options. However, these are currently not supported as documented in the Javadocs of `AwsOptions`.

The issue is that credential providers have to be serialized, and there's no decent generic way to do that :/
Unfortunately same applies to verifying the configuration of

[2022-09-15 15:57] TheNeuralBit opened #23259 "[Task]: RAT check is uncelar and unactionable for new contributors"
### What needs to happen?

The RAT check verifies that every file has an Apache license at the top, but when it fails the Jenkins log just contains the message:

[code]

This is problematic for two reasons:
- It's unclear to new contributors that this is complaining about license headers in newly added files.
- The file outlining the issue is on a remote worker and inaccessible. Authors need to ru

[2022-09-15 15:57] TheNeuralBit commented on #23259
This came up in https://github.com/apache/beam/pull/23094

CC: @damccorm

[2022-09-15 16:05] bradlet commented on #23084
Ran into the same issue. Running into this bug report was immensely helpful, so thank you @lukemin89!

I was trying to Wait.on a DoFn resulting in PCollection of com.google.datastore.v1.Entity objects. Same bug as above, so it isn't specific to Void! Since Entity also implements java.io.Serializable, my workaround was simply to use SerializableCoder instead of ProtoCoder, that works just fine!

[2022-09-15 16:07] mosche opened #23260 "[Bug]: Validate AWS credentials provider if provided programmatically"
### What would you like to happen?

Users can programmatically set credential providers for AWS via options. However, only a limited subset of providers and configurations is supported. During serialization unsupported configurations are silently dropped causing confusing issues at runtime. The actual root cause is difficult to discover then.

Instead, usage of unsupported configurations should be

[2022-09-15 16:27] kennknowles commented on #21267
I suppose the thing to do is to close this, then, and if it was a BQ bug follow up internally, or if it was an outage then that is the end of it.

[2022-09-15 16:27] #21267 closed

[2022-09-15 17:02] TheNeuralBit opened #23261 "[Bug]: google-cloud-vision 3.x doesn't work in Beam"
### What happened?

See https://github.com/apache/beam/pull/23239 which attempted to perform the upgrade. We get the error:
[code]

### Issue Priority

Priority: 2

### Issue Component

Component: io-py-gcp

[2022-09-15 17:04] mosche commented on #23206
@oakad BTW, until this is addressed you can configure the credentials provider through the respective environment variable `AWS_PROFILE`. Though, obviously, this has to be set for all worker nodes.

[2022-09-15 17:12] Abacn commented on #23227
.close-issue

[2022-09-15 17:14] johnjcasey commented on #21368
It looks like a variety of our tests assume the ThreadPoolExecutor instead of a scheduled one, and time out when a scheduled executor is default. I believe the solution will be to instead provide a second thread pool for places that need scheduled execution

[2022-09-15 17:22] Abacn commented on #23254
Also happens on cron job: https://ci-beam.apache.org/job/beam_PreCommit_Python_Cron/6125/

[2022-09-15 17:52] arne-alex opened #23262 "[Feature Request]: Extend Google Cloud Dataflow runner with per-key latency metrics"
### What would you like to happen?

We'll extend Google Cloud Dataflow runners with new latency metrics. The new metrics will track time spent in various processing states in the runner. In particular, they allow to distinguish between time spent running pipeline code and time spent waiting for Google Cloud Dataflow backends.

Planned work:
1. extend the Windmill protocol with new fields in KeyedG

[2022-09-15 17:53] arne-alex commented on #23262
.take-issue

[2022-09-15 19:03] AnandInguva commented on #21444
I ran few experiments on Dataflow Runner.

1. default PredictionResult vs PredictionResult with input = None.

I didn't notice a significant change in the resources. @damccorm what do you think?

<img width="1259" alt="Screen Shot 2022-09-15 at 3 02 39 PM" src="https://user-images.githubusercontent.com/34158215/190487881-b7423a56-84a1-4e4a-9c50-8af38a7ef5cd.png">

<img width="1285" alt="Screen Sho

[2022-09-15 19:17] Abacn commented on #22283
.take-issue

[2022-09-15 19:31] #23227 closed

[2022-09-15 19:37] Sonins commented on #20632
I'm having same problem. And here's what I've investigated so far.

As PlugaruT mentioned, I think the problem occurs because `BigQueryWriteFn` [returns error as GlobalWindows.windowed_value](https://github.com/apache/beam/blob/94405e6c4911669532b3648e91f2f5c5b58e5d26/sdks/python/apache_beam/io/gcp/bigquery.py#L1898-L1910)

[code]

and pipeline thinks its output windowing as fixed size window.

##

[2022-09-15 19:42] Sonins commented on #20632
So if you're having same trouble and want to bypass it, insert `beam.WindowInto(beam.window.GlobalWindows())` somewhere between `beam.WindowInto(beam.window.FixedWindows())` and `beam.io.WriteToBigQuery()`

For example, for test code I wrote above..

[code]

[2022-09-15 19:46] damccorm commented on #21444
I think the difference largely will depend on workload. For our examples it is probably not significant because we're pretty much just writing the inference results immediately, but I can imagine if (a) your input size is significantly larger or (b) you're doing more than simple maps post-inference (especially if you're doing something that breaks pipeline fusion and causes work to be distributed

[2022-09-15 19:58] Abacn opened #23264 "[Bug]: Py37 PostCommit Failure test apache_beam.io.gcp.bigquery_file_loads_test.BigQueryFileLoadsIT.test_bqfl_streaming"
### What happened?

Has been failing since Sep 14, from https://ci-beam.apache.org/job/beam_PostCommit_Python37/5719/. The test was skipped in Py38 PostCommit and only run on Py37 PostCommit.

Error message:

[code]

Caused by #23012

### Issue Priority

Priority: 1

### Issue Component

Component: test-failures

[2022-09-15 19:58] Abacn commented on #23264
CC: @ahmedabu98

[2022-09-15 21:00] #23193 closed

[2022-09-15 21:03] kennknowles commented on #23254
Is there a rollback possible?

[2022-09-15 21:26] pabloem commented on #23254
yeah we can roll this back

[2022-09-15 21:28] pabloem commented on #23254
Rollback PR: https://github.com/apache/beam/pull/23265

[2022-09-15 23:01] lukecwik commented on #21368
How do they assume this?

If its easy to clean-up I would prefer that we use only one.

[2022-09-15 23:10] AnandInguva commented on #21444
drop_example can be passed via ModelHandler or beam.RunInference. As of now, I added it to the RunInference Ptransform since it outputs the PredictionResult........but in the `process` method of the transform, it calls `self._model_handler.run_inference()` which returns `PredictionResult`

[2022-09-15 23:45] shanemhansen opened #23268 "[Bug]: Java expansion server fails to start when there are too many classpath entries"
### What happened?

While attempting to use the builtin java expansion server to utilize a java Bigtable Source from python I ran into errors due to the generated temporary jar file being invalid. In particular `Class-Path: ` was too long and caused the jvm to fail to start with a "could not find main class" error.

I was able to track down the offending code and monkey-patch it so that it went fr

[2022-09-15 23:45] shanemhansen commented on #23268
Example monkey-patched code. https://gist.github.com/shanemhansen/c7b7fa4a0b5cea7a000f090c4728b68b

[2022-09-15 23:46] shanemhansen commented on #23268
.take-issue

[2022-09-16 01:15] tvalentyn commented on #20108
Python direct runner has very limited support for streaming, I wouldn't be surprised if this is still occurring, but I didn't check.

[2022-09-16 01:15] #21430 closed

[2022-09-16 01:48] Abacn commented on #22944
Current status: Pipeline now runs, though get assertion error: "Expected: "0f12c27c9a7672e14775594be66cad9a". but: was "966684bbc4d071c54466678005c86eec"

[2022-09-16 02:03] tvalentyn commented on #21123
We actually have an open PR on this: https://github.com/apache/beam/pull/16658
There was a seemingly working solution, but it had a very strange behavior on GCE VMs which we didn't rootcause, I'll take another look.

[2022-09-16 13:07] aromanenko-dev commented on #23206
Agree with @mosche comments and we definitively should avoid NPE situation in any case.

[2022-09-16 13:31] johnjcasey commented on #21368
It isn't explicit, but we have 14 tests that fail with varieties of timeouts when we use the scheduled executor.

[2022-09-16 14:11] alexeyinkin opened #23273 "[Task]: Migrate playground/frontend/build.gradle to kts"
### What needs to happen?

Reasons:
1. Most other build scripts are in kts format.
2. Looks like it does not allow `clean` for a task name (saying it is already defined) while .kts file is OK with it.

### Issue Priority

Priority: 3

### Issue Component

Component: beam-playground

[2022-09-16 14:11] alexeyinkin commented on #23273
.remove-labels 'awaiting triage'

[2022-09-16 15:02] TheNeuralBit opened #23275 "[Feature Request]: Support nested field and wildcard syntax in Python `beam.Select` transform"
### What would you like to happen?

Java's Select transform supports nested fields (with . syntax) and wildcards (with * syntax). We should support these in Python's Select as well.

### Issue Priority

Priority: 2

### Issue Component

Component: sdk-py-core

[2022-09-16 15:03] TheNeuralBit commented on #23275
CC: @robertwb as original author of Select

[2022-09-16 16:10] yupbank commented on #20327
any updates?

[2022-09-16 17:03] TheNeuralBit opened #23276 "[Bug]: DeferredSeries.astype rejects CategoricalDtype"
### What happened?

See https://github.com/apache/beam/pull/22587#discussion_r964644584

[code]

This is particularly bad since it raises the same error even when the user takes the suggested action (using a CategoricalDtype instead of "categories".

### Issue Priority

Priority: 2

### Issue Component

Component: dsl-dataframe

[2022-09-16 17:05] TheNeuralBit commented on #23276
From https://github.com/apache/beam/pull/22587#discussion_r972161089

[2022-09-16 18:06] tvalentyn opened #23277 "[Bug]: Failed Dataflow ValidatesContainer runs should print a Job ID in the log output."
### What happened?

Looking at the failure logs in https://ci-beam.apache.org/job/beam_PostCommit_Py_ValCont_PR/240/
I don't see the Dataflow Job ID, so I'd have to find the failing job from the UI or other means.
This hampers debugging.

Current logs:

[code]

### Issue Priority

Priority: 2

### Issue Component

Component: testing

[2022-09-16 18:08] tvalentyn commented on #19241
I think some work was done on this front, but I believe the problem is still present, at least in some suites: https://github.com/apache/beam/issues/23277

[2022-09-16 18:17] #22944 closed

[2022-09-16 18:40] lostluck opened #23278 "[Bug][Go SDK]: Gap in DoFn pre-processing, interface{} in iterator type of DoFn."
### What happened?

The contributed parquetio write function has a signature of: `parquetWriteFn) ProcessElement(ctx context.Context, _ int, iter func(*interface{}) bool)` which is incorrect, as "interface{}" isn't a supported PCollection type.

https://github.com/apache/beam/blob/10de67effd46d24fc4f2500012be743b3abc0f6c/sdks/go/pkg/beam/io/parquetio/parquetio.go#L150

This should have been caught

[2022-09-16 18:41] jrmccluskey commented on #22572
I've put together a brief doc discussing my perspective and preferred solution for this here - https://docs.google.com/document/d/1YYGsF20kminz7j9ifFdCD5WQwVl8aTeCo0cgPjbdFNU/edit?usp=sharing

PTAL

[2022-09-16 20:28] damccorm commented on #23259
So I dug in and found out that this is coming from a plugin (surprise surprise, its the RAT plugin - https://github.com/eskatos/creadur-rat-gradle). We can't customize the plugin enough to say something like "license headers in files", but we can make it at least print out the files with violations.

We could rename the jenkins run to be clearer, but that might be more jarring to our existing cont

[2022-09-16 21:21] ahmedabu98 commented on #23264
.take-issue

[2022-09-18 03:32] Abacn opened #23286 "[Bug]: beam_PerformanceTests_InfluxDbIO_IT Flaky > 50 % Fail"
### What happened?

This performance test has always been markedly flaky with timeout error:

[code]
See https://ci-beam.apache.org/view/PerformanceTests/job/beam_PerformanceTests_InfluxDbIO_IT/

### Issue Priority

Priority: 2

### Issue Component

Component: test-failures

[2022-09-18 23:40] #23259 closed

[2022-09-19 02:20] oakad commented on #23206
AWS_PROFILE env var does not work - the serializer breaks it just the same. :-)

[2022-09-19 04:13] vchunikhin opened #23287 "[Playground][Task]: Research on an emulator integration into a playground project"
### What needs to happen?

We're supposed to use Apache Kafka in playground examples. It needs to find out how data will be stored and processing

### Issue Priority

Priority: 2

### Issue Component

Component: beam-playground

[2022-09-19 04:13] vchunikhin commented on #23287
.take-issue

[2022-09-19 06:30] Rajkante opened #23288 "[Bug]: BeamRunJavaPipelineOperator issue"
### What happened?

I was using 'BeamRunJavaPipelineOperator' to run a java jar to ingest data using dataflow from google cloud storage to Bigquery using a airflow DAG.The dataflow job is submitted successfully but I want to wait until the dataflow job runs successfully in the background and then move on to the next task.I am thinking to tackle this using 'DataflowJobStatusSensor' which checks the

[2022-09-19 06:32] mosche commented on #23206
It's not meant to be serialized... AWS_PROFILE works, but it has to be set on every node where credentials are used

[2022-09-19 07:30] mosche commented on #19142
All AWS clients implement automatic retries, this behavior is enabled by default. Adding another level of retries won't do any good...

While possible, it's currently not straight forward to customize the retry policy for the S3 file system. It can be done by setting a custom `s3ClientFactoryClass` in `S3Options`. This factory would then delegate to `ClientBuilderFactory.defaultFactory` with a `Cl

[2022-09-19 07:30] #19142 closed

[2022-09-19 07:39] mosche commented on #19718
Support to configure `ProxyConfiguration` and `HttpClientConfiguration` via `AwsOptions` has been added some while back

[https://github.com/apache/beam/blob/5520fe064fc3b7196998d4597746119691eb6681/sdks/java/io/amazon-web-services2/src/main/java/org/apache/beam/sdk/io/aws2/options/AwsOptions.java#L139-L156](https://github.com/apache/beam/blob/5520fe064fc3b7196998d4597746119691eb6681/sdks/java/io/

[2022-09-19 07:39] #19718 closed

[2022-09-19 07:41] mosche commented on #19584
Duplicate of https://github.com/apache/beam/issues/19783

[2022-09-19 07:41] #19584 closed

[2022-09-19 11:36] ricardograca-scratch opened #23290 "[Feature Request]: Add Google Drive scope to GCP Auth"
### What would you like to happen?

The current Python SDK doesn't include the `https://www.googleapis.com/auth/drive` scope when sending the authentication request to Google Cloud. This means that it's not possible to access Google Drive backed tables in BigQuery.

Adding the scope does indeed provide the required access. I'm only interested in the Python SDK, but this change should be easy to ap

[2022-09-19 14:21] johnjcasey commented on #21368
https://ci-beam.apache.org/job/beam_PreCommit_Java_Commit/23996/

org.apache.beam.runners.fnexecution.control.RemoteExecutionTest mostly.

when I separated to just the scheduled executor, that was causing issues in BQ itself as well

[2022-09-19 14:42] phoerious commented on #21598
Bump. This is happening to me constantly. If I have too many workers or shuffle a lot of data, it's pretty much impossible to get a job past the first stages as they keep failing with

[code]

[2022-09-19 14:56] phoerious commented on #21598
Recent versions of beam have `grpc.keepalive_timeout_ms` already set to 300000ms, so that can't be the only thing. The issue is dependent on overall processing speed, however. So if a node is a bit slow or if the shuffle just takes a while to process, the job crashes.

[2022-09-19 15:03] ahmedabu98 opened #23291 "[Bug]: BQ Storage Write API should treat InvalidArgumentException as a non-transient error."
### What happened?

When streaming with Storage Write API and using `.withFailedInsertRetryPolicy(InsertRetryPolicy.retryTransientErrors())`, InvalidArgumentExceptions (eg. schema mismatch) are continuously retried. A schema mismatch is not transient and so the row should not be retried.

### Issue Priority

Priority: 3

### Issue Component

Component: io-java-gcp

[2022-09-19 15:18] ElTav commented on #21019
@tvalentyn Are there any plans to update the PubSub Python dependency?

[2022-09-19 15:36] johnjcasey commented on #21713
Is there a particular reason to not use a pattern of outputting to failure after N retries?

[2022-09-19 15:41] johnjcasey commented on #21462
@tvalentyn has this reoccurred?

[2022-09-19 15:43] johnjcasey commented on #20332
I'm going to close this as not reproduceable

[2022-09-19 15:43] #20332 closed

[2022-09-19 15:45] johnjcasey commented on #20817
@tvalentyn is this flakey in supported python versions, or was it just in 3.6?

[2022-09-19 15:49] TheNeuralBit commented on #22881
Is P1 appropriate here? This and other playground tasks look like normal feature work, which should be categorized as P2.

[2022-09-19 16:09] reuvenlax commented on #21713
In general, that pattern is avoided in streaming, since the system
prioritizes data consistency. Temporary problems (e.g. temporary issues
with the sink, the network, or anything else) could easily cause N retries
to exceed, causing 100% of output going to the failure collection.

A second issue is that there isn't a good way of determining retry count.
We can only know retry count in the current

[2022-09-19 17:09] #22875 closed

[2022-09-19 17:48] bvolpato commented on #22146
Also reported here https://stackoverflow.com/questions/73765145/apache-beam-illegalstateexception-value-only-available-at-runtime-after-upgra

Will give it a shot .take-issue

[2022-09-19 17:50] bvolpato commented on #22146
.remove-labels stale
.add-labels gcp, io, java

[2022-09-19 17:51] bvolpato commented on #22146
.add-labels bug,gcp,io,java,P1

[2022-09-19 19:01] TheNeuralBit commented on #20958
Subtasks (rough priority order):
- #20959
- #23276
- #22268
- #20960
- #20961
- #20962

[2022-09-19 19:44] Abacn commented on #23254
.close-issue

[2022-09-19 19:44] #23254 closed

[2022-09-19 22:43] InigoSJ commented on #23071
Created this PR

https://github.com/apache/beam/pull/23297

[2022-09-19 23:06] TheNeuralBit commented on #20900
I looked into this a little bit. I don't think we can see huge performance wins here because we don't have an out-of-band path for transferring the data (e.g. shared memory). No matter what we're going to need to write/read the buffers over the Fn API in-band with the rest of the encoded object.

_However_ [as noted in PEP 574](https://peps.python.org/pep-0574/#improved-in-band-performance) one ca

[2022-09-20 03:50] #21680 closed

[2022-09-20 08:44] gabrywu opened #23299 "[Feature Request]: AvroUtils.toAvroSchema supports a logicaltypes.Date type"
### What would you like to happen?

Hi, folks,
I'm using a SQLTransform to read & write a Date field to parquet files. However, AvroUtils.toAvroSchema can't convert org.apache.beam.sdk.schemas.logicaltypes.Date to a avro date type. Because its identifier is `beam:logical_type:date:v1`, which can't be handled in method org.apache.beam.sdk.schemas.utils.AvroUtils.genericFromBeamField

### Issue Prio

[2022-09-20 09:00] olehborysevych commented on #22881
@TheNeuralBit Thank you. changed to P3. P1 was assigned by mistake. We always assign P3 for playground tasks

[2022-09-20 09:46] sirenbyte commented on #22501
.take-issue

[2022-09-20 10:23] scwhittle commented on #21492
.take-issue

[2022-09-20 12:26] je-ik opened #23301 "[Bug]: Java SDK: PeriodicSequence must update watermark using WatermarkEstimator"
### What happened?

https://lists.apache.org/thread/m2x78d0kmzb7y4frt052qctt4y5s2pzx

### Issue Priority

Priority: 2

### Issue Component

Component: sdk-java-core

[2022-09-20 13:58] adisunw opened #23303 "[Bug]: Snowflake IO fileNameTemplate unused"
### What happened?

I'm using the Snowflake IO Write and I'm noticing that the fileNameTemplate attribute is not actually being used anywhere.

To give more context, I'm using AWS for the external stage here and I have a streaming pipeline that reads from Kafka. Say my external stage bucket is s3://test-bucket:

Within `s3://test-bucket` i'm seeing CSV's written out like
UUID1.csv.gz, UUID2.csv.gz

[2022-09-20 14:08] alexeyinkin opened #23304 "[Task]: Load Python Beam symbols dictionary into Playground"
### What needs to happen?

Load Python Beam symbols dictionary into Playground

### Issue Priority

Priority: 3

### Issue Component

Component: beam-playground

[2022-09-20 14:08] alexeyinkin commented on #23304
.remove-labels 'awaiting triage'

[2022-09-20 14:09] alexeyinkin commented on #23304
.take-issue

[2022-09-20 14:37] bsikander commented on #23179
@mosche
I just noticed that the there is one more difference between my old and new runs. A `DropFields.fields` call is added to drop some duplicates and this results in a shuffle. Based on what you suggested, this can be the reason for file size explode. What is generally a good way to fix this? To sort data on some column after DropFields?

[2022-09-20 14:43] steveniemitz opened #23306 "[Bug]: BigQueryBatchFileLoads in python loses data when using WRITE_TRUNCATE"
### What happened?

When using WRITE_TRUNCATE, if the data being loaded is split into multiple temp tables, the copy job that merges all the results together can end up using WRITE_TRUNCATE for each copy job, resulting in only the last copy job "winning", and overwriting all other jobs.

It looks like there was an attempt to handle this here https://github.com/apache/beam/blob/master/sdks/python/a

[2022-09-20 15:35] TheNeuralBit opened #23308 "[Task]: Test more complex types in schemas_test and row_coder_test"
### What needs to happen?

We should test more nested, structured types (Optional[row], Sequence[row], etc..). Missing that coverage allows issues like https://github.com/apache/beam/issues/22854 to slip through.

### Issue Priority

Priority: 2

### Issue Component

Component: sdk-py-core

[2022-09-20 18:06] TheNeuralBit commented on #22854
Note the fix was not merged before the 2.42.0 release cut, it won't be available until 2.43.0.

[2022-09-20 18:08] Abacn commented on #23301
Thanks for pointing out this. Also observed similar issue (See test case in https://github.com/apache/beam/issues/21591) and ended up without an answer there

[2022-09-20 19:08] TheNeuralBit commented on #22854
oops I was mistaken, this change is in fact in 2.42.0, you can see it here: https://github.com/apache/beam/blob/release-2.42.0/sdks/python/apache_beam/typehints/row_type.py

Thanks @chamikaramj for double checking me.

[2022-09-20 19:19] TheNeuralBit commented on #22854
It looks like this also affects Sequences of Rows, like the following structure:

[code]

This is used in xlang KafkaIO, when `with_metadata=True` is specified. So Python's KafkaIO with with_metadata=True will fail at pipeline construction time in Beam 2.41.0 (FYI @johnjcasey).

[2022-09-20 19:33] Abacn opened #23311 "[Bug]: beam PostCommit Go Timed out permared"
### What happened?

Jenkins test beam_PostCommit_Go has been in aborted status since Sept 20, 2022 because it hangs for 3 hour. The log seems not very helpful:
[code]

### Issue Priority

Priority: 1

### Issue Component

Component: test-failures

[2022-09-21 02:52] chamikaramj opened #23314 "[Bug]: Add a Python Kafka read test that uses the with_metadata option"
### What happened?

Python Kafka with_metadata option [1] uses a transform in Java side [2] that is not  invoked by regular Python KafkaIO tests. So we need a separate test for this.

[1] https://github.com/apache/beam/blob/d578e3df7c963e57f251fb27739fbc1d3811e722/sdks/python/apache_beam/io/kafka.py#L162

[2] https://github.com/apache/beam/blob/d578e3df7c963e57f251fb27739fbc1d3811e722/sdks/java/io

[2022-09-21 02:53] chamikaramj commented on #23314
cc: @johnjcasey

[2022-09-21 03:38] lukecwik commented on #21368
The ThreadPoolExecutor implementation uses a synchronous queue meaning that scheduling a task will block till a thread takes it. Could this be the difference?

[2022-09-21 08:10] mosche opened #23315 "[Task]: Remove deprecations for AWS coders and related"
### What needs to happen?

https://github.com/apache/beam/pull/16947 added Schema support for AWS models. With that `Coder`s for AWS IOs became (mostly) deprecated (see related changes). Respective code should be removed after the necessary "grace" period.

### Issue Priority

Priority: 2

### Issue Component

Component: io-java-aws

[2022-09-21 09:06] je-ik commented on #23301
That is likely due to some other effect. From the top of my head, may it be different trigger?

[2022-09-21 09:55] echauchot commented on #23129
I agree with @kennknowles. I took a look as well and it seems that DStream Spark runner uses only a global watermark updated when the microbatch ends instead of when new elements arrive. That seems similar to the issue we're having on the Dataset runner: see [watermark issue](https://echauchot.blogspot.com/2020/11/watermark-architecture-proposal-for.html)

[2022-09-21 10:17] mosche commented on #23179
@bsikander I don't think `DropFields.fields` would trigger a shuffle, it's just a projection that affects the schema as far as I know. Are you applying a deduplication in addition, e.g. `Deduplicate.values()`? If the latter is the case it would certainly explain what you are seeing.

It's hard to give a general recommendation here without knowing the data, but also your read patterns. You can expe

[2022-09-21 10:47] bsikander commented on #23179
@mosche sorry for the confusion. You are right, I am doing deduplication which is causing a shuffle. `.apply("Remove Duplicates", Distinct.create());`.

As per your suggestion, then I try to see what ordering makes sense and see how it impacts the parquet size.

[2022-09-21 11:13] olehborysevych opened #23316 "[Tour of Beam][Task] Integrate ToB frontend with backend functions"
### What needs to happen?
We need to replace hardcoded values for content tree and learning materials with calls to real backend endpoints.

### Issue Priority
Priority: 3

[2022-09-21 11:21] nausharipov commented on #23316
.take-issue

[2022-09-21 11:29] olehborysevych opened #23317 "[Tour of Beam] [Task] Investigate cross language transforms pipelines"
### What needs to happen?

Investigate any gaps in Playground codebase, infrastructure and UI regarding cross language pipelines.
Need to prepare a document with changes required in frontend, backend and infrastructure to be able to run cross language pipelines.

### Issue Priority
Priority: 3

[2022-09-21 12:19] olehborysevych opened #23319 "[Playground][Task] Improve Playground infrastructure and deployment scripts"
### What needs to happen?

Investigate and address following issues related to infrastructure and backend deployment scripts:
Please follow following prioritised order of issues:

P2 issues:
- [x] #23339
- [x] #23340
- [x] #23341
- [x] #23342
- [x] #23343
- [x] #23344
- [x] #23345

P2 issues after PR 23208 is merged:
- [x] #23346

P3 issues:
- [x] #23347
- [x] #23348

### Issue Priority
Priority:

[2022-09-21 14:07] MakarkinSAkvelon commented on #23319
.take-issue

[2022-09-21 15:26] nitinlkoin1984 commented on #21092
This may be a known issue with Spark 3.1.2. I think the issue goes away with spark 3.1.3 onwards. Can beam be migrated to v3.1.3? I am trying to use Beam's Python SDK with Spark but this issue is preventing me to use it.

[2022-09-21 15:59] nitinlkoin1984 commented on #21092
From the link you provided, it appears that Beam is using scala v2.12 and when we build beam it is being built using scala2.12.14 which is incompatible with Spark v3.1.2, How do we set the scala version for beam's job server?

[2022-09-21 17:07] Abacn commented on #23311
Test failure turned out to be transcient.

[2022-09-21 17:07] Abacn commented on #23311
.close-issue

[2022-09-21 17:12] #23301 closed

[2022-09-21 17:23] #23311 closed

[2022-09-21 20:12] #23268 closed

[2022-09-21 21:45] jainam1995 commented on #20173
Hey Team, We are running into the same error log while trying to perform an UNION ALL . Are there any alternatives to this ? Any pointers how to go ahead with this until there is a fix ?
Thanks

[2022-09-21 21:51] capthiron opened #23324 "[Feature Request]: Add Bigtable IO-connector for Go"
### What would you like to happen?

At work I came across the issue that there was no GCP Bigtable IO-connector for Go yet. So I started implementing one, orienting myself at the existing BigQuery connector.

For our first use-cases (BigQuery -> Bigtable data imports) we only needed the connector to write data, therefore we implemented a standard **Write()** and a **WriteBatch()** function. After

[2022-09-21 21:52] capthiron commented on #23324
.take-issue

[2022-09-21 22:41] cnauroth commented on #21492
Hello @scwhittle . We have released GCS connector 2.2.8 containing the fix for Conscrypt socket hangs.

https://mvnrepository.com/artifact/com.google.cloud.bigdataoss/gcs-connector/hadoop3-2.2.8

[2022-09-22 03:48] gabrywu commented on #23299
`Schema beamSchema = new Schema.Builder()
                .addLogicalTypeField("date1", SqlTypes.DATE)
                .build();
        Assert.assertThrows(RuntimeException.class, () -> AvroUtils.toAvroSchema(beamSchema));`

AvroUtils.toAvroSchema can't process SqlTypes.DATE.

[2022-09-22 04:48] gabrywu commented on #23299
@reuvenlax @kanterov @piter75

[2022-09-22 08:29] duarteocarmo commented on #17986
Hey @kennknowles  - you guys are not planning on supporting federated queries right?

[2022-09-22 08:47] #22146 closed

[2022-09-22 09:58] scwhittle commented on #21492
Thanks Chris! https://github.com/apache/beam/pull/23300 to update Beam

[2022-09-22 10:30] #22445 closed

[2022-09-22 10:30] #22382 closed

[2022-09-22 10:51] eantyshev commented on #23319
### Legacy code
1. There's some legacy infrastructure code in playground/terraform/backend, it needs to be analyzed and removed
2. Backend images have TLS-related components (mitmproxy, allow_proxy.py) which are no longer needed
3. Gradle tasks to deploy backend are obsolete
4. playground/terraform/README.md has to be updated

### Building images
It's neccessary that we optimize building and pushi

[2022-09-22 16:38] mosche commented on #21092
@aromanenko-dev I'm not really familiar with the portable runner / the job server, would you have additional insights here?

As far as I can see, both beam-spark and beam-spark-job-server are using Scala 2.12.15.
Spark 3.1.2 / 3.1.3 depend on Scala 2.12.10 with the mentioned binary incompatibility, so I suspect the problem is in fact the cluster running with a broken Scala version.

An option migh

[2022-09-22 19:24] djaneluz commented on #21825
Hello!

I have a streaming pipeline that consumes Pub/Sub messages, extracts keys, group them by window (FixedWindow of 5 min) and call Redis to get the values, that are used as side input to another step.

Something like:

        final PCollection<KV<String, Iterable<MyMessage>>> myMessageKV = pipeline
            .apply("ReadPubSubMessages", PubsubIO.readMessages().fromSubscription(options.getS

[2022-09-22 21:06] pcoet commented on #22698
@bullet03 Is this something you can help with?

[2022-09-22 22:48] lostluck opened #23335 "[Task][Go SDK]: Respond to Control FnAPI messages per-Bundle ordering, not globally."
### What needs to happen?

At present the Go SDK harness responds to FnAPI Control in order of receipt, other than ProcessBundleRequests which are processed in their own thread.

This may be causing contention on the control GRPC thread as all other messages are happening sequentially as it's also the "grpc" receipt thread. This includes handling "keepalive" responses on the GRPC connection and ot

[2022-09-23 09:30] olehborysevych opened #23339 "[Playground][Task]: Investigate protobuf compilation step issue in Playground build scripts"
### What needs to happen?

Need to remove unneeded dependencies from backend container Docker files and update README.md to emphasise that protobuf generate step required only if proto file is changed.

### Issue Priority
Priority: 2

### Issue Component
Component: beam-playground

[2022-09-23 10:20] olehborysevych opened #23340 "[Playground][Task]: Replace hardcoded values to variables in Playground build scripts"
### What needs to happen?
Replace hardcoded values with variables in Playground build scripts

### Issue Priority
Priority: 2

### Issue Component
Component: beam-playground

[2022-09-23 10:46] olehborysevych opened #23341 "[Playground][Task]: Move static IP creation to terraform in Playground build scripts"
### What needs to happen?
Move static IP creation to terraform in Playground build scripts

### Issue Priority
Priority: 2

### Issue Component
Component: beam-playground

[2022-09-23 10:48] olehborysevych opened #23342 "[Playground][Task]: Add Gradle task for deploying Playground backend to GKE"
### What needs to happen?
Add Gradle task for deploying Playground backend to GKE

### Issue Priority
Priority: 2

### Issue Component
Component: beam-playground

[2022-09-23 10:50] olehborysevych opened #23343 "[Playground][Task]: Fix inconsistent naming of Playground GitHub workflows"
### What needs to happen?
Fix inconsistent naming of Playground GitHub workflows

### Issue Priority
Priority: 2

### Issue Component
Component: beam-playground

[2022-09-23 11:04] olehborysevych opened #23344 "[Playground][Task]: Add helm install verification step to Playground backend deployment workflow"
### What needs to happen?
Add helm install verification step to Playground backend deployment workflow

### Issue Priority
Priority: 2

### Issue Component
Component: beam-playground

[2022-09-23 11:05] olehborysevych opened #23345 "[Playground][Task] Update playground deployment readme"
### What needs to happen?
Update playground deployment readme doc

### Issue Priority
Priority: 2

### Issue Component
Component: beam-playground

[2022-09-23 11:07] MakarkinSAkvelon commented on #23340
.take-issue

[2022-09-23 11:07] MakarkinSAkvelon commented on #23341
.take-issue

[2022-09-23 11:07] MakarkinSAkvelon commented on #23343
.take-issue

[2022-09-23 11:07] MakarkinSAkvelon commented on #23345
.take-issue

[2022-09-23 11:08] MakarkinSAkvelon commented on #23344
.take-issue

[2022-09-23 11:20] eantyshev commented on #23342
.take-issue

[2022-09-23 11:30] olehborysevych opened #23346 "[Playground][Task]: Configure autoscaling for Playground in GKE"
What needs to happen?
Configure autoscaling for Playground Backend deployment in GKE

### Issue Priority
Priority: 3

### Issue Component
Component: beam-playground

[2022-09-23 11:46] olehborysevych opened #23347 "[Playground][Task] Refactor Playground helm charts to remove duplication"
### What needs to happen?
Need to refactor Playground helm charts to remove code duplication (try to use subcharts for this)

Playground\infrastructure\helm - for CI/CD
Playground\infrastructure\helm-backend - for Prod (new)

### Issue Priority
Priority: 3

### Issue Component
Component: beam-playground

[2022-09-23 12:02] olehborysevych opened #23348 "[Playground][Task]: Remove deprecated terraform templates for old backend in playground\terraform"
### What needs to happen?
Investigate and address following issues related to infrastructure and backend deployment scripts:

Need to remove old terraform templates to clean up Playground deployment scripts

### Issue Priority
Priority: 3

### Issue Component
Component: beam-playground

[2022-09-23 12:40] Geddy05 commented on #23049
.take-issue

[2022-09-23 14:00] aromanenko-dev commented on #21092
@mosche AFAIK, there is no specific Scala dependencies for Spark portable runner and job server. They are sitting in the same package branch and have the same Spark/Scala dependencies as a native runner. I'm sure that @ibzib should know much better than me.

Also, I'm wondering why Scala version was specifically set to 2.12.15 [here](https://github.com/apache/beam/blob/19f5e62c61dd9b201bc471fe79d1

[2022-09-23 14:22] AnandInguva opened #23350 "[Bug]: apache_beam.io.gcp.bigquery_file_loads_test.BigQueryFileLoadsIT.test_bqfl_streaming - failing test"
### What happened?

failing test in Python 3.7 PostCommit - apache_beam.io.gcp.bigquery_file_loads_test.BigQueryFileLoadsIT.test_bqfl_streaming (from directRunnerIT-streaming)

Error message: google.api_core.exceptions.NotFound: 404 Not found: Table apache-beam-testing:python_bq_file_loads_16633347054365.output_table_ints was not found in location US

Logs: https://ci-beam.apache.org/job/beam_Post

[2022-09-23 14:51] johnjcasey commented on #21368
That seems likely. I'm not sure how to configure a scheduled executor to replicate this pattern, or to change our system to handle the async scheduling

[2022-09-23 15:49] lukecwik commented on #21368
You can wrap the ScheduledExecutorService with one that wraps callables/runnables with one that sets countdown latch and outside of it waits for the latch to be set. This will ensure that the thread has started before the method returns.

[2022-09-23 18:04] AnandInguva opened #23355 "[Task]: Remove upper bound on google-cloud-profiler once TensorFlow supports Protobuf 4.x"
### What needs to happen?

Tensorflow 2.11.0 won't have upper bound on Protobuf and  then Protbuf can be updated in the Apache Beam. Once we update Protobuf, we can remove upper bound restriction on google-cloud-profiler

### Issue Priority

Priority: 2

### Issue Component

Component: sdk-py-core

[2022-09-24 01:34] Abacn commented on #23029
Expansion service tries to get the schema by connecting the jdbc server. Using Java SDK does not go to the expansion service so it did not. However I agree that it is reasonable that could defer the process.

CC: @robertwb There was some discussion of defer the expansion service. It could benefit this use case if implemented. Or is there other solution?

[2022-09-24 19:45] #22600 closed

[2022-09-26 00:21] Abacn commented on #20333
Thanks @benWize cleaned up those namespaces and along with other fixes kafka performance test now works

[2022-09-26 00:21] Abacn commented on #20333
.close-issue

[2022-09-26 00:21] #20333 closed

[2022-09-26 00:37] Abacn commented on #18612
.close-issue not_planned

[2022-09-26 00:37] #18612 closed

[2022-09-26 00:39] Abacn commented on #18728
.close-issue not_planned

[2022-09-26 00:39] #18728 closed

[2022-09-26 00:42] Abacn commented on #18779
.close-issue not_planned

[2022-09-26 00:42] #18779 closed

[2022-09-26 00:48] Abacn commented on #19087
.close-issue not_planned

[2022-09-26 00:48] #19087 closed

[2022-09-26 00:50] hmc-cs-mdrissi opened #23366 "[Bug]: Python Runtime Type Introspection Mishandles PEP 585 Generics"
### What happened?

[code]

All of these print False. This is because is_consistent_with/normalize type machinery in beam does not handle tuple vs typing.Tuple/dict vs typing.Dict/list vs typing.List/etc equivalents. This leads to beam's runtime type checking crashing on valid code like,

[code]

Here add_parity returns tuple, but GroupByKey expects Tuple. python 3.9+ recommends using tuple and so

[2022-09-26 00:53] Abacn commented on #19294
.close-issue not_planned

[2022-09-26 00:53] #19294 closed

[2022-09-26 00:53] Abacn commented on #19291
.close-issue not_planned

[2022-09-26 00:54] #19291 closed

[2022-09-26 00:54] Abacn commented on #19341
.close-issue not_planned

[2022-09-26 00:55] #19341 closed

[2022-09-26 00:56] Abacn commented on #19451
.close-issue not_planned

[2022-09-26 00:56] #19451 closed

[2022-09-26 01:02] Abacn commented on #19890
.close-issue not_planned

[2022-09-26 01:02] #19890 closed

[2022-09-26 01:03] Abacn commented on #19896
.close-issue not_planned

[2022-09-26 01:03] #19896 closed

[2022-09-26 01:06] Abacn commented on #19951
.close-issue not_planned

dup #22738

[2022-09-26 01:06] #19951 closed

[2022-09-26 01:10] Abacn commented on #20176
.close-issue not_planned

[2022-09-26 01:11] #20176 closed

[2022-09-26 01:12] Abacn commented on #20294
.close-issue not_planned

[2022-09-26 01:12] #20294 closed

[2022-09-26 01:13] Abacn commented on #20379
.close-issue not_planned

[2022-09-26 01:15] Abacn commented on #20407
.close-issue not_planned

dup #18312

[2022-09-26 01:23] Abacn commented on #20983
Related to #22742 and could refer to this issue for workaround

[2022-09-26 05:33] alexeyinkin opened #23367 "[Bug]: Editor mouse cursor instead of pointer cursor over the run button"
### What happened?

Editor mouse cursor instead of pointer cursor over the run button.

![vokoscreen-2022-09-26_09-32-23](https://user-images.githubusercontent.com/44893228/192200696-ff29915c-8fad-4c51-92fc-a05f6b9db8d9.gif)

### Issue Priority

Priority: 3

### Issue Component

Component: beam-playground

[2022-09-26 06:37] bullet03 commented on #22698
.take-issue

[2022-09-26 08:54] gabrywu opened #23368 "[Feature Request]: Add a new writer to output Row directly to a parquet file"
### What would you like to happen?

For now, ParquetIO.sink must convert a `org.apache.beam.sdk.values.Row` to a GenericRecord and then use `AvroParquetWriter` to output records to a parquet file.
I think we can add a new writer, called `RowParquetWriter`, to write a Row directly to parquet files without conversions, which will be more efficient and useful in a SqlTransform case

### Issue Priorit

[2022-09-26 15:10] bullet03 commented on #22698
Yes, sure. I'm working on it.

[2022-09-26 16:06] Abacn commented on #21672
.close-issue

completed in #17604

[2022-09-26 17:07] #21672 closed

[2022-09-26 17:18] reuvenlax commented on #21368
Note that BigQuery now has a version of their library that allows sharing
multiple table writes over the same connection.

On Fri, Sep 23, 2022 at 8:49 AM Lukasz Cwik ***@***.***>
wrote:

[2022-09-26 17:24] johnjcasey commented on #21368
Oh, that would be a good direction to investigate. Do you have a link to that?

[2022-09-26 19:14] Abacn opened #23373 "[Task]: Complete support for logical types that require arguments in Python SDK"
### What needs to happen?

Code location: https://github.com/apache/beam/blob/3a4d57eb8976c5f503b32d478a80b1800490f66f/sdks/python/apache_beam/typehints/schemas.py#L270

We can reuse the logic of option_from_runner_api and option_to_runner_api below to parse argument values.

### Issue Priority

Priority: 2

### Issue Component

Component: cross-language

[2022-09-26 19:23] Abacn opened #23374 "[Feature Request]: Design and Implement CoderLogicalType"
### What would you like to happen?

It was mentioned in #7865 that a CoderLogicalType could enable any existing Coder to be used as a Schema field. In particular, the micros_millis and decimal logical types are made to be compatible with existing datetime and decimal java fieldtype, and they do not fit in the beam portable logical type representations. Currently they are treated as special cases w

[2022-09-26 20:07] lukecwik opened #23375 "[Bug]: TextSource fails to handle parsing channels that return very short reads (< # delimiter characters)"
### What happened?

The `readDefaultLine` and `readCustomLine` methods do not handle cases where `0` or `1` length buffers are returned causing `IndexOutOfBoundsExceptions` due to incorrect calculation of the `appendLength`.

This was caused by https://github.com/apache/beam/commit/30a48f05cf2ee0eea0a304fea01eb40f323f9f3c and is unreleased at the moment.

### Issue Priority

Priority: 0

### Issue

[2022-09-26 20:15] lukecwik commented on #23375
R: @TheNeuralBit

[2022-09-26 20:23] TheNeuralBit commented on #23375
How did we detect this?

[2022-09-26 20:46] lukecwik commented on #23375
Internal integration tests within Google caught this. Its why I added additional unit testing to cover these cases as well.

[2022-09-26 21:49] rizenfrmtheashes commented on #21961
I took a look at this, and it seems like the bigquery storage api has a straightforward [jsonstreamwriter but for java](https://cloud.google.com/bigquery/docs/write-api#java_client).  [for python, it only exists as protobufs](https://cloud.google.com/bigquery/docs/write-api#python_client). Hence why the bigquery storage write api for dataflow in python is missing, but exists in java. That api will

[2022-09-27 02:50] #21556 closed

[2022-09-27 03:21] lukecwik commented on #21368
Swapping libraries seems like it will be a much larger effort. Consider fixing up the much smaller scheduled executor service change.

[2022-09-27 03:31] #23375 closed

[2022-09-27 10:49] scwhittle opened #23379 "[Feature Request]: Expose TimerStateInternals.currentOutputWatermarkTime to allow for DoFns to handle elements behind the watemark differently"
### What would you like to happen?

Currently element lateness is evaluated during windowing/triggering based upon TimerInternals.currentOutputWatermarkTime

There are some cases where users want to handle late records differently. For example, instead of dropping late events or assigning them to their original (now late window) with allowedLateness, the late record could be assigned to a differen

[2022-09-27 10:50] scwhittle commented on #23379
@kennknowles What do you think about this proposal? Do you have some other ideas?

[2022-09-27 14:23] riteshghorse opened #23382 "[Feature Request]: RunInference Wrapper for Go SDK"
### What would you like to happen?

Add a RunInference wrapper for Go SDK using Python External Transform.

- [x] Sklearn Inference Unkeyed ModelHandler
- [ ] Sklearn Inference Keyed ModelHandler
- [ ] PyTorch Inference with both keyed and unkeyed ModelHandler

### Issue Priority

Priority: 2

### Issue Component

Component: sdk-go

[2022-09-27 14:24] riteshghorse commented on #23382
.remove-label "awaiting triage"

[2022-09-27 14:24] riteshghorse commented on #23382
.take-issue

[2022-09-27 14:24] damccorm commented on #21444
@AnandInguva I'm reopening this one since we're trying https://github.com/apache/beam/pull/23356 instead.

[2022-09-27 14:44] riteshghorse opened #23384 "[Feature Request][Go SDK]: Dataframe API wrapper for Go SDK"
### What would you like to happen?

Add a Dataframe API wrapper for Go SDK using Python External Transform.

- [x] Dataframe API wrapper
- [x] Integration test

### Issue Priority

Priority: 1

### Issue Component

Component: sdk-go

[2022-09-27 14:44] riteshghorse commented on #23384
.take-issue

[2022-09-27 14:44] riteshghorse commented on #23384
.remove-labels 'awaiting triage`

[2022-09-27 14:44] riteshghorse commented on #23384
.set-labels go

[2022-09-27 14:47] riteshghorse opened #23385 "[Feature Request][Go SDK]: Automated python expansion service"
### What would you like to happen?

Add a mechanism to start up the python expansion service automatically for python external transforms when no expansion address is provided.

### Issue Priority

Priority: 2

### Issue Component

Component: sdk-go

[2022-09-27 14:49] riteshghorse commented on #23385
.take-issue

[2022-09-27 15:01] Abacn opened #23386 "[Bug]: GitHub Action Cron Job should not be cancelled when push event occurs"
### What happened?

In #23089 Auto-cancel old Actions Runs is added. However it is noticed that push event and schedule job share the same group under the logic done in #23095. When the crob job is awaiting and there is new merged PRs, it causes test indicators showing "failure" status.

### Issue Priority

Priority: 2

### Issue Component

Component: testing

[2022-09-27 15:04] Abacn commented on #23386
Since GA migration is ongoing, we can clean up this point at once when cron jobs are setup.

[2022-09-27 16:07] lukecwik opened #23389 "[Bug]: Python StateCache objsize.get_deep_size throws a failure on weakref.proxy"
### What happened?

I get the following error:
[code]

when running the following test:
[code]

Cut an issue to upstream dependency: https://github.com/liran-funaro/objsize/issues/6

### Issue Priority

Priority: 0

### Issue Component

Component: sdk-py-harness

[2022-09-27 16:35] riteshghorse commented on #23385
.remove-label "awaiting triage"

[2022-09-27 17:38] tvalentyn commented on #23290
What happens if Drive API is not enabled for a project but we include it with a scope?

[2022-09-27 18:09] ricardograca-scratch commented on #23290
I imagine the same thing that happens with any other scope, but I'll check and report back.

[2022-09-27 18:10] kennknowles commented on #23379
Just to clarify definitions, these days _late_ = element arriving for aggregation after the watermark has exceeded the end of window for that aggregation. Is there a reason that processing late panes is not sufficient here?

My main concern is increasingly directly basing the output of a transform on nondeterministic inputs will break any invariants we might hope for. Like mostly we want code to n

[2022-09-27 18:24] TheNeuralBit commented on #23366
Hi @hmc-cs-mdrissi, can you share how exactly it fails? Do you get a helpful error?

I'm not sure we can work on this in the short-term, but if the error is confusing we might at least do a quick change to make the error message more helpful.

[2022-09-27 18:37] hmc-cs-mdrissi commented on #23366
The full error message is,

[code]

With key line being `Input type hint violation at GroupByKey: expected Tuple[TypeVariable[K], TypeVariable[V]], got tuple[bool, int]` caused by `is_consistent_with(Tuple[K, V], tuple[bool, int])` returning false.

[2022-09-27 19:59] nitinlkoin1984 commented on #21092
I tried setting scala to 2.12.10 in spark_runner.gradle; it did not work. Do I have to set scala version somewhere else?

[2022-09-27 20:01] nitinlkoin1984 commented on #21092
Also what is the working and testing spark job server version and it's compatible Spark version. If I cannot use beam with Spark 3.1.2; the I will have to downgrade the Spark version.

[2022-09-28 00:02] TheNeuralBit commented on #23366
Got it thanks. We could certainly do better by just raising an error in normalization stating that PEP 585 typehints are not currently supported. That could be a first step and should be pretty low effort, could be a good task for someone wanting to learn about our typehint infrastructure.

[2022-09-28 04:44] lukecwik opened #23395 "[Bug]: objsize 0.6.0 release breaks ApproximateQuantilesTest"
### What happened?

[code]

fails with:
[code]

### Issue Priority

Priority: 1

### Issue Component

Component: sdk-py-harness

[2022-09-28 04:53] lukecwik commented on #23395
Filed https://github.com/liran-funaro/objsize/issues/7 to upstream dependency.

[2022-09-28 05:29] #23395 closed

[2022-09-28 07:12] mksah17 opened #23397 "Reporting job status failed with error code: INVALID_ARGUMENT: Dataflow GCP"
I am fetching data from PostgreSQL first and creating a P Collection but unfortunately job is getting failed when rows count becomes greater than 250.

[2022-09-28 08:56] alexeyinkin opened #23398 "[Task]: Collect Playground frontend errors"
### What needs to happen?

Collect Playground frontend errors.

### Issue Priority

Priority: 3

### Issue Component

Component: beam-playground

[2022-09-28 08:57] alexeyinkin commented on #23398
.remove-labels 'awaiting triage'

[2022-09-28 10:35] Malarg commented on #22339
.take-issue

[2022-09-28 11:39] olehborysevych opened #23400 "[Tour of Beam][Task] Address API issues for Frontend integration"
### What needs to happen?

Need to address discrepancies found during integration of Tour of Beam Frontend and Backend:
- endpoint names
- API entity name

### Issue Priority
Priority: 3

### Issue Component
Component: tour-of-beam

[2022-09-28 11:41] eantyshev commented on #23400
.take-issue

[2022-09-28 14:44] ricardograca-scratch commented on #23290
@tvalentyn The Drive API being enabled or not has not effect on the result if the extra scope is included. However, without the scope, even if the file is shared with the service account accessing the data this error is displayed and it's not possible to access the table:
[code]
Adding the scope resolves the issue.

[2022-09-28 18:26] johnjcasey commented on #21368
So, once we solve for the schedule executor service issue, I don't think we can update to just providing an SES, because it would break the existing API that allows users to specify any executorservice

[2022-09-28 20:41] kennknowles commented on #23379
I understand these perspectives that there are use cases that can be implemented with this feature. That doesn't actually address the concern that it allows a lot of unprincipled behavior so the basic meaning of the pieces of the model are potentially no longer reliable building blocks.

[2022-09-28 20:55] kennknowles commented on #23379
Just commenting with my thought process around this, and from reading code. (most of this could/should be in public docs but I don't know that it is)

 - A window "is" a key with an end time for the purposes of aggregation or stateful processing.
 - Windows are equally meaningful in batch and streaming, and _all_ windows may be processed simultaneously in either mode. Concepts like "the latest win

[2022-09-28 22:42] tvalentyn commented on #23290
Thanks for checking.

Would adding `https://www.googleapis.com/auth/cloud-platform` also fix the problem or this specific drive scope is necessary?

[2022-09-28 23:13] tvalentyn commented on #23290
If not, I would suggest adding a new pipeline option that allows such customizations.

Looks like in Java it's possible to specify a custom credential via a factory or credential instance : https://beam.apache.org/releases/javadoc/current/index.html?org/apache/beam/sdk/extensions/gcp/options/GcpOptions.html . In Python we don't have this. But perhaps passing a string of custom scopes  to use when

[2022-09-28 23:39] #20529 closed

[2022-09-28 23:39] #21198 closed

[2022-09-29 01:03] #23389 closed

[2022-09-29 01:31] chamikaramj opened #23412 "[Feature Request]: Easy Multi-language via a SchemaTransform-aware Expansion Service"
### What would you like to happen?

We need a mechanism that allows easily using [Schema-Aware Transforms](https://s.apache.org/beam-schema-transform) (currently only available for Java) available in external SDKs via the multi-language pipelines framework.

This can be achieved by.
* Updating Java expansion service to automatically discover Schema-Aware transforms available in the classpath.
* Ad

[2022-09-29 02:29] tvalentyn commented on #21019
which one?
https://pypi.org/project/google-cloud-pubsub/#history is within range:
https://github.com/apache/beam/blob/master/sdks/python/setup.py#L286

[2022-09-29 02:35] tvalentyn commented on #20817
it's unlikely 3.6 version is relevant

[2022-09-29 02:35] tvalentyn commented on #20817
don't know if it is still flaky.

[2022-09-29 02:36] tvalentyn commented on #21462
I don't know. I haven't recently worked on a Java PR, but there may be a way to query history.

[2022-09-29 02:39] tvalentyn commented on #20528
@BjornPrime can you try to reproduce this ?

[2022-09-29 02:42] tvalentyn commented on #21103
@damccorm is working on a fix for PeriodicImpulse transform that may help with that pattern. Not sure if it will work with DirectRunner though as it has other limitations.

[2022-09-29 02:43] tvalentyn commented on #21103
@BjornPrime - when you will document direct runner streaming limitations, incorporate https://github.com/apache/beam/issues/21103#issuecomment-1242760530

[2022-09-29 02:51] tvalentyn commented on #20824
@rizenfrmtheashes could you provide a code sample we could use as a repro?

[2022-09-29 02:55] tvalentyn commented on #20824
cc: @johnjcasey  @BjornPrime

[2022-09-29 04:45] alexeyinkin opened #23415 "[Task]: Replace Playground code editor with Akvelon editor"
### What needs to happen?

Replace Playground code editor with Akvelon editor.

### Issue Priority

Priority: 3

### Issue Component

Component: beam-playground

[2022-09-29 04:55] alexeyinkin opened #23416 "[Task]: build.gradle.kts and Dockerfile for Tour of Beam frontend"
### What needs to happen?

Create `build.gradle.kts` and `Dockerfile` for ToB frontend to mimic the ones in Playground.

### Issue Priority

Priority: 3

### Issue Component

Component: beam-playground

[2022-09-29 08:40] ricardograca-scratch commented on #23290
It's [already there](https://github.com/apache/beam/blob/master/sdks/python/apache_beam/internal/gcp/auth.py#L49) and it doesn't allow access to Google Drive backed tables, so the drive scope is necessary.

No other scope is treated this way, and it seems like I would need to do a lot of modifications to beam to enable that. I'm no beam expert, not to mention I have no experience developing Java o

[2022-09-29 09:59] #23400 closed

[2022-09-29 14:19] alexeyinkin opened #23420 "[Task]: app_state navigation for ToB frontend"
### What needs to happen?

[app_state](https://pub.dev/packages/app_state) navigation for ToB frontend.

### Issue Priority

Priority: 3

### Issue Component

Component: beam-playground

[2022-09-29 14:20] alexeyinkin commented on #23420
.take-issue

[2022-09-29 15:11] mosche commented on #21092
@nitinlkoin1984 I finally found some time to look deeper into this. Sorry for the hassle, finding the job-server in this state is a bit disappointing.

Unfortunately this is a weakness of the existing test infrastructure, it uses Spark in local mode. In that setup such a classpath issue won't be discovered.

Anyways, I've done some testing:

- You can fairly easily build yourself a custom version

[2022-09-29 15:16] olehborysevych opened #23421 "[Tour of Beam] [Task] Add taskSnippetId/solutionSnippedId to learning unit"
### What needs to happen?

Add taskSnippetId/solutionSnippedId to learning unit details

### Issue Priority
Priority: 3

### Issue Component
Component: tour-of-beam

[2022-09-29 15:18] eantyshev commented on #23421
.take-issue

[2022-09-29 17:03] lostluck opened #23422 "[Task][Go SDK]: Dataflow Go PostCommits timing out"
### What needs to happen?

Currently the postcommits are failing. We need to investigate where the time is being spent and if possible, either parallelized it better (WRT beam project Dataflow quotas), or consolidate some test pipelines into single jobs (better handling quota), or reduce the number of specific tests we're running against dataflow post commits (eg. remove low signal tests).

 As a

[2022-09-29 17:44] lostluck commented on #23422
Specifically, we could reduce the number of pipelines by consolidating them into a single pipeline for the specific area. The we have Dataflow filtering out the individual pipelines where the consolidated ones are used instead. This may require some test prefix renaming to simplify.

https://github.com/apache/beam/blob/a393efa61d4a1933717a4fe24a7559ec00e8912a/sdks/go/test/integration/integration.g

[2022-09-29 17:52] #22876 closed

[2022-09-29 17:55] damccorm opened #23424 "[Task]: Consolidate go precommits"
### What needs to happen?

With https://github.com/apache/beam/pull/23076 we will have 2 go precommit test suites doing very similar things. We should consolidate the number of jobs (or at least the number of workflows)

### Issue Priority

Priority: 3

### Issue Component

Component: sdk-go

[2022-09-29 18:15] #22354 closed

[2022-09-29 18:15] #22361 closed

[2022-09-29 18:15] #22363 closed

[2022-09-29 18:27] lostluck commented on #23424
The "Go Precommit" is all the unit tests. This runs a number of the integration tests against the Go Direct runner.

The "Go Portable Precommit" is running the integration tests against a portable runner (the python portable runner) that uses the FnAPI. This is run as a precommit because it was determined to be lightweight enough to be run as a Precommit, instead of a post commit. This catches iss

[2022-09-29 18:29] lostluck commented on #23424
Should I properly accomplish my goal of replacing the Go direct runner with a portable implementation, then the "Portable Precommit" could be dropped since the tests would be run portably in the normal Precommit. Though it's more likely to be renamed the "PyPortable" precommit, to allow the cross validation of runner implementations in the precommit stage itself.

[2022-09-29 19:00] #22877 closed

[2022-09-29 19:05] damccorm commented on #23424
Sorry, wasn't clear - that pr adds a go precommit set, but we already run most of those tests in GHA with https://github.com/apache/beam/blob/master/.github/workflows/go_tests.yml. There's some minor differences though and each version has a slightly different value add

[2022-09-29 20:07] #22878 closed

[2022-09-29 20:44] Abacn commented on #23422
Seen this before and was transient #23311

[2022-09-29 21:00] lostluck commented on #23422
Yeah, transient or not, it's a flake, which means it interrupts velocity.

 Since our apache-beam-testing project for Dataflow is a shared resource and we have  only so many simultaneous job slots, I'd rather get the post commit back down under an hour.

[2022-09-29 21:36] yeandy commented on #21437
Several questions around the error handling:
1. We're working with a batch of data. If inference fails, do we consider that to be 1 `num_failed_inferences`? Or perhaps it should be renamed to `num_failed_batch_inferences`? It may depend on framework, but is there a way to figure out which specific data points in a batch fail? In which case we can also track `num_failed_inferences`.
2. Do we want t

[2022-09-29 21:53] aamontree opened #23433 "[Bug]: Apache Beam v2.42.0 RC00 malformed Python Wheel filename"
### What happened?

The latest version (`v2.42.0rc00`) of the Python Apache Beam distribution is missing a hyphen between the distribution and version names.

https://pypi.org/simple/apache-beam/

This is breaking installations with `easy_install` (using `setuptools==51.3.3`):

[code]

Following [PEP 491](https://peps.python.org/pep-0491/#file-name-convention), the wheel filename should include a

[2022-09-29 22:10] rezarokni commented on #21437
I think we should borrow from best practice patterns in beam I/O's. And return errors along with the error message in the Prediction object.

Agree a flag would be nice user experience:

Config 1- Fail if any error

If Config 1 ( false )
Config 2- Retry error n times ( maybe n = 3 ?)
Config 3- Return error message along with data point in Prediction object

[2022-09-30 00:03] aamontree commented on #23433
Looks like `v2.42.0` was "yanked": https://pypi.org/project/apache-beam/2.42.0/#history

[2022-09-30 00:42] #23433 closed

[2022-09-30 02:14] pabloem opened #23436 "[Task]: Switch over to field_names strategy from typehints/testing/strategies in coders_property_based_test.py"
### What needs to happen?

After merge of https://github.com/apache/beam/pull/23425/,  and merge of https://github.com/apache/beam/pull/23361/, the strategy should be switched over.

### Issue Priority

Priority: 3

### Issue Component

Component: testing

[2022-09-30 02:16] #22866 closed

[2022-09-30 06:17] #20532 closed

[2022-09-30 07:37] mosche opened #23438 "[Task]: Improve documentation of PortableRunner for usage with Spark"
### What needs to happen?

Users are struggling to use the portable runner with Spark. Related Spark documentation should be updated and provide detailed instructions.

See:
- https://stackoverflow.com/questions/66320831/its-possible-to-configure-the-beam-portable-runner-with-the-spark-configuration
- https://stackoverflow.com/questions/66498209/how-to-configure-beam-python-sdk-with-spark-in-a-kub

[2022-09-30 07:52] mosche opened #23439 "[Bug]: Spark "uber jar" job server fails on cluster with NoSuchFileException"
### What happened?

Attempting to use the Spark "uber jar" job server when not in local mode fails with a NoSuchFileException.
[code]

This was reported in https://stackoverflow.com/a/66342031/4278032, I was able to reproduce the issue locally.

[code]

A work-around is to mount some shared storage for `/tmp` on all workers and the job itself. That suggests the jar isn't copied to all places where

[2022-09-30 08:09] je-ik commented on #23379
Do we have these definitions "set in stone"? I'd offer an alternative definition of watermark - not actually being an aggregation of "elements", it is rather an aggregation of causality. I tried to explain it [here](https://twitter.com/janl_apache/status/1478757956263071745?s=20&t=4SarwNn0_gNXd35FlK-pYg).

The basic idea is that the invariant is not the actual value of watermark is what is importa

[2022-09-30 08:14] mosche opened #23440 "[Bug]: PortableRunner fails with connectivity issues if using Spark + Docker on a Mac"
### What happened?

The reason is that the entire stack expects to connect to components on `localhost`.
Running Docker on Mac, there's no support for `host` networking. However, this would be required to get things working.

Consider this job:
[code]

The Spark job-server was started with `--spark-master-url=spark://spark:7077 --job-host=beam-job-server`.

I was able to fix connectivity between t

[2022-09-30 09:12] mcGIh opened #23441 "[Feature Request]: JdbcIO: Allow read fetchSize to be set to Integer.MIN_VALUE"
### What would you like to happen?

MySQL driver allows to stream the Read results when statement's fetchSize is set to Integer.MIN_VALUE.

cf. [documentation](https://dev.mysql.com/doc/connector-j/8.0/en/connector-j-reference-implementation-notes.html):

[code]

JdbcIO class only allows positive fetchSize. This is a blocker if we need to read in a stream mode to avoid OOM errors.
[code]

### Issu

[2022-09-30 09:21] olehborysevych opened #23442 "[Tour of Beam][Task] Add groupId to API entity to be used in app state management"
### What needs to happen?
We already have groupId in groupInfo.yaml metadata in learning content
Need to add it to API entity
This groupId will be used for FE app state management and navigation

### Issue Priority
Priority: 3

### Issue Component
Component: tour-of-beam

[2022-09-30 09:23] eantyshev commented on #23442
.take-issue

[2022-09-30 14:04] damccorm commented on #21437
+1, I think this is a good experience. It's worth noting that we don't force ModelHandlers to always return a PredictionResult (maybe we should?), but we can at least do this for our handlers. This logic will probably need to live in the modelHandler anyways.

I'm probably -1 on this, I'd prefer to avoid a proliferation of options and to be a little more opinionated here. Failing is generally a ba

[2022-09-30 14:20] kennknowles commented on #23379
It would break batch processing, since all windows are processed simultaneously. And that is also of course possible in streaming if there becomes a backlog.

[2022-09-30 14:21] kennknowles commented on #23379
Basically all conceptual models need to consider windows to just be keys IMO.

[2022-09-30 14:23] ryanthompson591 opened #23447 "[Task]: Add linter or unit test to README.md files to disallow tabs"
### What needs to happen?

Readme files should not use tabs and favor spaces instead.

We should make a precommit test in our linter to look for tabs in readme files.

### Issue Priority

Priority: 3

### Issue Component

Component: sdk-py-core

[2022-09-30 14:26] yeandy commented on #21437
I'd say most inference failures are due to mismatch in data shapes or data types. Retrying wouldn't help anyway since the user would need to go back and fix their pre-processing logic.

+1

[2022-09-30 14:30] damccorm commented on #21437
Right, that's what I was thinking as well. If we get into remote inference we may want retries for network failures, but at a local level I don't think it makes much sense. ModelHandlers can also make that determination for themselves

[2022-09-30 14:57] je-ik commented on #23379
Where exactly is the breakage? If the set of open windows is finite (which it is), then there is finite set of open windows with lowest timestamp.

The fact that watermark might represent "wall clock" doesn't mean that it has to advance. That is what I meant with non-negative speed wrt. processing time. The watermark can stay still for any (bounded) amount of processing time, which should solve th

[2022-09-30 14:59] je-ik commented on #23379
This is correct, but window keys have limited life-span. This is what we represent in the model by `window.maxTimestamp`. Generic keys do not have this property.

[2022-09-30 15:24] karthikprogrammer opened #23448 "[Bug]: Apache Beam ElasticIO Connector not working for ElasticSearch Cluster version 8.X"
### What happened?

We have google cloud dataflow application which reads data from big query and ingest the documents to elastic search index

Apache Beam IO Connector  is not working with ElasticSearch Cluster (8.X Version) .

The dataflow application is throwing the following errors(compatibility error)

[code]
Please find the details  of the apache beam/dataflow job  that was executed

- Cloud

[2022-09-30 15:26] mosche commented on #23206
Thinking this through, I fear this feature cannot be supported. The resulting behavior would be very inconsistent and even more confusing.

Let's imagine there's optional support for a `profileName` field when serializing `ProfileCredentialsProvider`. It cannot be required, that would be backwards incompatible.

If we provide the options as CLI args it works as expected for both alternatives:
- Us

[2022-09-30 16:21] Abacn opened #23449 "[Bug]: Flaky test: org.apache.beam.sdk.io.sparkreceiver.SparkReceiverIOTest.testReadFromCustomReceiverWithOffsetFailsAndReread"
### What happened?

See on https://ci-beam.apache.org/job/beam_PreCommit_Java_Phrase/5588/

[code]

### Issue Priority

Priority: 1

### Issue Component

Component: test-failures

[2022-09-30 16:26] kennknowles commented on #23379
OK this is all fine. So a common case will be that a large number of windows are processed simultaneously, and then the watermark makes a large jump (in batch from -inf to +inf, but it can be any large jump) causing them all to be completed. My main point is that we need to avoid mental models that think of them being processed one after the other. There is no "next" window, and the idea of there

[2022-09-30 16:32] kennknowles commented on #23379
I want to be clear that I think the general pattern here is valuable and I would like to do it a non-hacky way. We know that it works with state & timers by buffering and emitting with a watermark timer, right?

We do already let users observe the input watermark approximately via event time timers, and that let's you approximately observe the output watermark from upstream transforms. So I'm not

[2022-09-30 17:13] rezarokni commented on #21437
_Right, that's what I was thinking as well. If we get into remote inference we may want retries for network failures, but at a local level I don't think it makes much sense. ModelHandlers can also make that determination for themselves_

Yes future remote use cases are why I think retry is useful, as there can be many transient errors, from network to overloaded end points. As we are adding config

[2022-09-30 17:14] chamikaramj commented on #23449
@Amar3tto can you check ?

cc: @Lizzfox

[2022-09-30 17:18] damccorm commented on #21437
My vote would be to defer it. I don't think it gets us anything right now, and we may decide to just bake in retries on network/server errors no matter what in the remote inference case (that's what I'd vote we do). If we do it now, we're stuck with that option regardless of whether it ends up being useful.

[2022-09-30 17:29] pcoet commented on #21536
Looks like this has been fixed.

[2022-09-30 17:29] #21536 closed

[2022-09-30 17:34] pcoet commented on #20917
Fixed with https://github.com/apache/beam/pull/22770

[2022-09-30 17:34] #20917 closed

[2022-09-30 17:34] rezarokni commented on #21437
SG, lets deffer.

[2022-09-30 17:37] johnjcasey commented on #23261
@tvalentyn another example of version pinning issues

[2022-09-30 17:37] je-ik commented on #23379
We are able to observe input watermark via timers. The input watermark has to be there in the ProcessContext, because event timer with `timer.setRelative().offset(0)` needs to know the value of input watermark. It is questionable if this should not be the output watermark, but currently we use the input one. If the watermark is already present, I think we could make it available. If we are afraid

[2022-09-30 17:39] johnjcasey commented on #23306
@ahmedabu98 how familiar are you with this? it strikes me as similar to the other BQ changes you've done

[2022-09-30 17:57] pcoet commented on #21394
.take-issue

[2022-09-30 17:58] pcoet commented on #21090
This page no longer exists.

[2022-09-30 17:58] #21090 closed

[2022-09-30 18:02] gopinath678 commented on #18890
Is there any ETA for this feature request ? Please let me know.

[2022-09-30 18:03] pcoet commented on #20948
Looks like Java and Python are fixed. We just need to do the Go quickstart: https://beam.apache.org/get-started/quickstart-go/

[2022-09-30 18:04] lostluck opened #23452 "[Bug][Go SDK]: Dataflow status polling too optimistic"
### What happened?

Polling for pipeline results from Dataflow can spuriously cause the local task to be marked as failed  if the RPC itself fails.

[code]

Unless there's an auth error, the code should simply retry with backoff a few times, and at least annotate the error with that it's not a real pipeline job failure.

https://github.com/apache/beam/blob/master/sdks/go/pkg/beam/runners/dataflow/

[2022-09-30 18:04] karthikprogrammer commented on #23448
Hi Team ,

We have used the latest versions for Apache Beam SDK's and Apache Beam Elastic IO Connectors .

Dataflow is able to index the documents in the Elastic Cluster version 8.X

Cloud Environment : Google Cloud Platform
Pipeline RunnerType : DataflowRunner
Apache Beam SDKs Used : Apache Beam SDK for Java 2.41.0 instead of Apache Beam SDK for Java 2.25.0
Apache Beam ElasticIO Connector : beam-

[2022-09-30 18:11] #22881 closed

[2022-09-30 18:22] lostluck opened #23453 "[Feature Request][Go SDK]: Have the Dataflow runner use the cloned GCR images instead if the image is unset."
### What would you like to happen?

Java and Python SDKs use cloned external images from Dockerhub cached in GCR by default instead.

https://github.com/apache/beam/search?q=v1beta3%2F

Containers live here:
https://console.cloud.google.com/gcr/images/cloud-dataflow/global/v1beta3?mods=logs_tg_prod

The Go SDK should do the same, to reduce startup time.
Container paths would be like `gcr.io/cloud-

[2022-09-30 18:26] TheNeuralBit commented on #20970
@databius (and anyone else who encounters this): Could you share stacktraces where this happened and the Beam verision you were using? That will help us pinpoint the client that is not being cleaned up.

FYI @johnjcasey - this comes up a lot. Some of the more recent stacktraces posted in BEAM-12356 may not have been tracked down.

[2022-09-30 18:29] TheNeuralBit commented on #23261
In this case I think our system is working as intended, the <4 guard prevents users from getting the newer version that will break them.

[2022-09-30 18:43] egalpin commented on #23448
Hi @karthikprogrammer. To use the 2.41.0 ES connector with the 2.25.0 SDK, you would need to build the jar for the ES module from the 2.41.0 branch and specify using that local version instead of the version from 2.25.0. I can’t guarantee that this will work, however, but you could try it.

I previously recorded some steps I took to do a similar thing with the pubsub module, which could easily be

[2022-09-30 20:00] lostluck commented on #23453
Open Question: What's the correct behavior here for Cross Language containers? If it's the "standard" path for a beam release container, but running on dataflow, should we make the substitution for them as well. I'd assume yes.

[2022-09-30 20:17] kennknowles commented on #23379
It cannot be the output watermark, because the timer itself holds the output watermark. The output watermark is a reservation of the ability to output at that timestamp. Anything that intends to produce output needs to reserve the time and impacts the output watermark.

[2022-09-30 20:53] lostluck commented on #23453
Answer from @chamikaramj : for Xlang, the host SDK needs to do the translation of paths. Expansion services have no idea if a request is to be used on Dataflow or not (or whatever runner is executing their reponses).

So the Go Dataflow runner package  will need to simply take the default beam image paths, and make the substitutions itself uniformly for all environments in the pipeline.

Around he

[2022-09-30 21:12] #22472 closed

[2022-09-30 21:17] je-ik commented on #23379
Agree. That is the current approach. But `offset(0)` is something like "immediate fire". There is no hold needed, because there is no invariant to break. Causality is preserved. There are implementation difficulties, I agree. But that is a different discussion. :)

[2022-09-30 21:33] chamikaramj commented on #23453
We do this for Python SDK here: https://github.com/apache/beam/blob/3c7a4e0f44d27ddac006c1ec83fbdfe157b2cf1a/sdks/python/apache_beam/runners/dataflow/internal/apiclient.py#L830

[2022-09-30 22:29] ahmedabu98 commented on #23306
Yeah it's in the same context, I can take a stab at this one

[2022-09-30 22:29] ahmedabu98 commented on #23306
.take-issue

[2022-09-30 23:11] TheNeuralBit opened #23454 "[Task]: Add BatchConverter for pyarrow Tables, use it in ParquetIO"
### What needs to happen?

We should have a BatchConverter for going between schema data and arrow Tables. Initially it can be used in ParquetIO.

### Issue Priority

Priority: 2

### Issue Component

Component: sdk-py-core

[2022-10-01 00:51] robertwb commented on #23453
We *really* need to get away from having dataflow-specific containers for anything.

[2022-10-01 02:12] lostluck commented on #23453
For Go, the containers are *not* Dataflow specific. They are the same release containers, cloned to GCR.

It makes sense for reduced user costs to keep things in region/network so there's less likelyhood of ingress costs for them, and possibly reduced startup latency.

[2022-10-01 03:52] chamikaramj commented on #23453
They are the same containers for Java/Python as well. We just copy the released Beam SDK harness containers to GCR (for improving reliability/latency I believe).

[2022-10-01 13:12] #23441 closed

[2022-10-02 17:12] IOR88 opened #23457 "[Feature Request]: documentation how to override connector logic to be reflected when executing pipeline"
### What would you like to happen?

Hi I am using mongodbio connector and needed to overwrite its logic of write https://github.com/apache/beam/blob/3c7a3d40ce12eef5f4d361c67f1286b487847f65/sdks/python/apache_beam/io/mongodbio.py#L792 to not use ReplaceOne but UpdateOne.

In the main function which has the pipeline logic I added sth like that bellow:

[code]

and this is my pipeline logic:
[code]

[2022-10-03 06:57] vchunikhin commented on #22879
it was merged by other PR: https://github.com/apache/beam/pull/22882

[2022-10-03 06:58] vchunikhin commented on #22879
it was merged by other PR: https://github.com/apache/beam/pull/22882

[2022-10-03 06:58] #22879 closed

[2022-10-03 08:22] ricardograca-scratch commented on #23290
I agree with that. The ideal solution for me would be to provide a minimal set that is required to access BigQuery and allow users to specify any extra scopes needed.

I'll work on this change as it's currently proposed for now.

[2022-10-03 11:08] vchunikhin opened #23458 "[Playground][Task]: Update playground cache component to increase fault tolerance"
### What needs to happen?

The cache component needs to be updated to allow retrieving objects from the Cloud Datastore when Redis is not available

In addition, in ci/cd python scripts was deleted transaction to remove not actual examples if their amount more than 25. According this doc: https://cloud.google.com/datastore/docs/concepts/structuring_for_strong_consistency#entity_group_limitations_o

[2022-10-03 11:08] vchunikhin commented on #23458
.take-issue

[2022-10-03 11:29] bullet03 opened #23460 "[Bug]: tables content overflow"
### What happened?

Steps to reproduce:

1. [Open Beam ZetaSQL lexical structure page](https://beam.apache.org/documentation/dsls/sql/zetasql/data-types/) in the browser
2. Reduce the width of the page to 1080px
3. Scroll to the section Data type properties
4. Scroll down that the right menu overlaps the table

Same issue on pages:
- https://beam.apache.org/community/presentation-materials/index.h

[2022-10-03 11:31] bullet03 commented on #23460
.take-issue

[2022-10-03 13:10] #23421 closed

[2022-10-03 13:49] #21465 closed

[2022-10-03 14:55] olehborysevych opened #23463 "[Tour of Beam] [Task] Extract CI to a separate workflow with per-sdk example verification"
### What needs to happen?
Need to refactor Playground\ToB CI\CD so that CI is separated from CD  and we are able to run CI from PR's originating from forks without access to github secrets.

- [x] #23464
- [x] #23465
- [x] #23470

### Issue Priority
Priority: 3

### Issue Component
Component: tour-of-beam, playground

[2022-10-03 15:12] olehborysevych opened #23464 "[Tour of Beam] [Subtask] Extract reusable CI workflow for examples per-SDK"
### What needs to happen?
Extract reusable CI per-SDK workflow without need of GCP credentials
This should be achieved by performing example verification not in GKE cluster but on the runner itself in docker container

### Issue Priority
Priority: 3

### Issue Component
Component: tour-of-beam, playground

[2022-10-03 15:14] eantyshev commented on #23463
.take-issue

[2022-10-03 15:15] eantyshev commented on #23464
.take-issue

[2022-10-03 15:26] olehborysevych opened #23465 "[Tour of Beam] [Subtask] Introduce caller CI workflow to call per-SDK workflows"
### What needs to happen?
Add a new caller CI workflow to call per-SDK workflows to save resources

### Issue Priority
Priority: 3

### Issue Component
Component: tour-of-beam, playground

[2022-10-03 16:31] fernando-wizeline opened #23466 "[Feature Request]: Replicate in GHA checkstyle report created by the spotless task in Jenkins"
### What would you like to happen?

In jenkins, the spotless task creates a report like the [following](https://ci-beam.apache.org/job/beam_PreCommit_Spotless_Commit/22573/checkstyle/). We need a similar report when executing the task via Github Actions.
There are a couple of unofficial plugins that generate a really short status section within github, although not that different from the one alre

[2022-10-03 16:42] chamikaramj opened #23467 "[Feature Request]: Python RunInference transform should be Schema-Aware"
### What would you like to happen?

Currently, Python RunInference transform takes a [parameterized input/output type](https://github.com/apache/beam/blob/master/sdks/python/apache_beam/ml/inference/base.py#L59) that may or may not be Schema-Aware. This makes it harder to use this transform for cases where we need a Schema-Aware/portable type (for example, Multi-language, SQL). For such cases, the

[2022-10-03 16:42] chamikaramj commented on #23467
cc: @robertwb @rezarokni @damccorm

[2022-10-03 17:31] TheNeuralBit commented on #21593
This was just again in #23366, I'm going to close this as a duplicate since that one has additional information about the errors raised.

[2022-10-03 17:31] #21593 closed

[2022-10-03 20:52] olehborysevych opened #23470 "[Tour of Beam] [Subtask] Refactor PG Examples CI/CD using new workflows"
### What needs to happen?
Need to refactor Playground\ToB CI\CD to use new separate CI and CD workflows instead single CI\CD workflow

### Issue Priority
Priority: 3

### Issue Component
Component: tour-of-beam, playground

[2022-10-03 21:13] olehborysevych commented on #23339
R: @damondouglas

[2022-10-03 21:17] olehborysevych opened #23471 "[Playground] [Task] Move Playground frontend deployment to GKE"
### What needs to happen?
Need to move Playground frontend deployment fron App Engine to GKE

### Issue Priority
Priority: 3

### Issue Component
Component: beam-playground

[2022-10-03 23:02] TheNeuralBit opened #23472 "[Feature Request]: beam.apache.org search buries relevant links under ads"
### What would you like to happen?

The search box on beam.apache.org just does a google search with `inurl:`. This seems effective, but unfortunately organic results are difficult to find under several ads. When I search for "dataframe" I see 4 ads and half of the actual result I'm looking for:

![image](https://user-images.githubusercontent.com/675055/193700707-b20d3a9b-25d0-4ab1-95ff-4289ec413a

[2022-10-03 23:03] TheNeuralBit commented on #23472
(We don't have to do this with lunr, it's just a project I was already aware of that could be easy to setup)

[2022-10-04 03:52] oakad commented on #23206
I'd say, the field should always be serialized.

The "default" profile is not in any way special. It's simply a profile named "default" by convention. That value can be set by the default constructor and serialized with no issue.