[2022-10-04 04:26] nausharipov commented on #22074
.take-issue

[2022-10-04 05:45] MakarkinSAkvelon commented on #23471
.take-issue

[2022-10-04 09:21] #22698 closed

[2022-10-04 11:30] olehborysevych opened #23475 "[Tour of Beam] [Task] Create Terraform scripts for Tour of Beam backend"
### What needs to happen?

Need to create terraform scripts for Tour of Beam backend deployment to GCP project:
- scripts for deployment ToB cloud functions to GCP
- scripts for service accounts if needed

### Issue Priority
Priority: 3

### Issue Component
Component: tour-of-beam

[2022-10-04 11:33] ruslan-ikhsan commented on #23475
.take-issue

[2022-10-04 13:46] damccorm commented on #23091
@ryanthompson591 can we close this one?

[2022-10-04 13:47] damccorm commented on #22651
@AnandInguva is there more to do here or should we close this one?

[2022-10-04 13:48] #23091 closed

[2022-10-04 14:29] BjornPrime commented on #20528
I've successfully reproduced the issue.

Compare with fanout: https://paste.googleplex.com/5670550667001856 and without: https://paste.googleplex.com/6400888045305856

[2022-10-04 14:42] bullet03 commented on #23460
.take-issue

[2022-10-04 14:51] bullet03 opened #23478 "[Bug]: python sdk link stretches page on mobile resolutions"
### What happened?

Steps:

1. Open the website page https://beam.apache.org/documentation/sdks/python-dependencies/
2. Find header Beam SDK for Python dependencies
3. Scroll to `Replace `` with the major.minor.patch version of the SDK`
4. Change the screen size to 428px x 680px
5. Take a look on the [pre tag](https://raw.githubusercontent.com/apache/beam/v2.41.0/sdks/python/setup.py)[https://raw.

[2022-10-04 14:51] bullet03 commented on #23478
.take-issue

[2022-10-04 15:39] AnandInguva commented on #22651
It is a tracking issue for building a docker image during runtime for tensorRT. There is some more work to do here

[2022-10-04 15:57] AnandInguva commented on #23350
.close-issue

[2022-10-04 15:57] #23350 closed

[2022-10-04 17:19] tvalentyn commented on #21104
There have been several fixes (see Jira). last one: https://github.com/apache/beam/pull/17537/files

However this test is still flaky. Seeing a different error this time:

[code]

[2022-10-04 17:40] ryanthompson591 opened #23483 "[Task]: Write better experience on TF python notebook"
### What needs to happen?

The current tensorflow notebook will fail on its first run, and needs the notebook to be restarted due to an import error.

Change the notebook with an explicit restart, or perhaps a try-catch block that does a restart.

See code:
https://github.com/apache/beam/blob/master/examples/notebooks/beam-ml/run_inference_tensorflow.ipynb

.take-issue
.set-labels task run-inferen

[2022-10-04 17:41] ryanthompson591 commented on #23483
.take-issue
.set-labels task run-inference python ml core P3

[2022-10-04 17:42] ryanthompson591 commented on #23483
.take-issue

[2022-10-04 17:42] ryanthompson591 commented on #23483
.set-labels task run-inference python ml core P3

[2022-10-04 17:43] tvalentyn commented on #20528
Thanks, I'll add it to our interrupts tracker.

[2022-10-04 17:57] ryanthompson591 opened #23484 "[Feature Request]: Add unit test to validate RunInference ModelHandler doesn't cause regressions"
### What would you like to happen?

In the unit tests for [ModelHandler](https://github.com/apache/beam/blob/fd45479ad7f9f28eafcedd306bdfd03f4a5156f1/sdks/python/apache_beam/ml/inference/base.py#L85) there is no strong test to validate that the signature of the constructor does not change.

If the signature of the constructor changes, then we can break other projects that rely on backwards compati

[2022-10-04 17:58] ryanthompson591 commented on #23484
.take-issue

[2022-10-04 17:58] ryanthompson591 commented on #23484
.set-labels task run-inference python ml core P2

[2022-10-04 18:12] damccorm commented on #22258
.remove-labels stale

[2022-10-04 18:13] damccorm commented on #23484
The take issue/add labels action was broken until just now, should be fixed

[2022-10-04 18:16] damccorm commented on #23460
The take issue command was broken until just now, should be fixed

[2022-10-04 19:47] jossonpaul commented on #20914
@damccorm One of our pipelines where checkpoint is not enabled was running fine with Beam 2.23 but having the exact same problem mentioned in this Jira after migrating to 2.37. Is there any work around for this issue?.

[2022-10-04 20:29] Abacn opened #23487 "[Task]: Eliminate google-python-cloud-debugger dependency in base_image_requirements"
### What needs to happen?

google-python-cloud-debugger has been deprecated and will be shutdown by May 31,2023. https://cloud.google.com/debugger/docs/release-notes

We need to eliminate this dependency in our container image by that time.
The tasks involves the investigation how this dependency works currently (beam does not use it directly) and either remove it or find alternatives.

### Issue

[2022-10-04 20:37] damccorm commented on #21587
This is now healthy - https://ci-beam.apache.org/job/beam_PreCommit_PythonDocs_Cron/

[2022-10-04 20:37] #21587 closed

[2022-10-04 20:41] damccorm commented on #19207
This job doesn't exist anymore and the postcommit has generally been split apart so we can safely close here

[2022-10-04 20:41] #19207 closed

[2022-10-04 20:45] damccorm commented on #22590
Looks like this is still happening - https://github.com/apache/beam/actions/runs/3147702124/jobs/5117449016

[2022-10-04 20:56] damccorm commented on #19634
This is currently consistently healthy

[2022-10-04 20:56] #19634 closed

[2022-10-04 20:57] damccorm commented on #19862
This has been healthy as far back as history goes on the cron job

[2022-10-04 20:57] #19862 closed

[2022-10-04 21:36] KevinGG opened #23488 "[Task]: Release apache-beam-jupyterlab-sidepanel with notebook-managed cluster manager widget"
### What needs to happen?

Release the cluster manager UI widget (JupyterLab extension) for the interactive FlinkRunner on notebook-managed clusters [feature](https://cloud.google.com/dataflow/docs/guides/interactive-pipeline-development#interactive_flinkrunner_on_notebook-managed_clusters).

The release is standalone from other Beam releases and happens to Beam's svn repo and NPM.

### Issue Prio

[2022-10-04 22:14] KevinGG commented on #23488
- Documented [here](https://docs.google.com/document/d/1aKK8TzSrl8WiG0K4v9xZEfLMCinuGqRlMOyb7xOhgy4/edit#bookmark=id.e72dovi9ljo2)
- Git repo tag: https://github.com/apache/beam/releases/tag/jupyterlab-sidepanel-v3.0.0
- Git commit: https://github.com/apache/beam/commit/e679b49e755e28b15f4900b6e450177907c52fd1
- Staged to Beam dist/dev repo: https://dist.apache.org/repos/dist/dev/beam/extensions/j

[2022-10-04 22:33] sachinag opened #23489 "[Bug]: add DebeziumIO to the connectors page"
### What happened?

https://github.com/apache/beam/tree/master/sdks/java/io/debezium/src exists but is not listed on https://beam.apache.org/documentation/io/connectors/

### Issue Priority

Priority: 1

### Issue Component

Component: website

[2022-10-04 22:59] #22632 closed

[2022-10-04 23:42] rszper commented on #21537
.take-issue

[2022-10-05 00:03] rszper commented on #21537
See https://github.com/apache/beam/pull/23490

[2022-10-05 03:20] jossonpaul commented on #20914
@je-ik Do you have any work around for this issue?.

[2022-10-05 05:38] je-ik commented on #20914
You are right, it happens when checkpointing is not enabled, so the workaround is enabling checkpoints. 🙂
Afterall, any streaming pipeline should have checkpoints enabled, or it might lose data.

[2022-10-05 05:48] jossonpaul commented on #20914
@je-ik , some of our pipelines do not have check point enabled. Those pipelines are ok to loose data.  Is there any java file I can look into?.

[2022-10-05 06:25] ruslan-ikhsan commented on #23475
.take-issue

[2022-10-05 06:28] mosche commented on #23206
The default profile is absolutely special as it might resolve differently on different machines, e.g. if using `AWS_PROFILE`!

Once again, to be clear(er), if  the provider is set programmatically without profile, the default profile is used. However, this might resolve differently on workers that eventually use the credentials. This is a breaking chance and could affect users and their currently

[2022-10-05 07:09] thiagotnunes opened #23494 "[Bug]: SpannerIO.readChangeStream backlog bytes reported incorrectly"
### What happened?

The `SpannerIO.readChangeStreams` reported `backlog bytes` using all record types from a change stream (`data change records`, `heartbeat records` and `child partition records`). However, only `data change records` are sent downstream.

This has the unintended effect of preventing downscaling when using autoscaling. The scenario where this occurs is when the throughput is `0`,

[2022-10-05 12:36] bullet03 opened #23499 "[Bug]: right nav-menu and videos overlap"
### What happened?

Steps:

1. Open the website page https://beam.apache.org/community/youtube-channel/
2. Find header What is it and what are the goals?
3. Scroll to The YouTube channel found here is owned by the Apache Beam PMC.
4. Change the screen size to 1042 * 730
5. Take a look on the right menu and youtube video

Actual result: right menu overlaps youtube video
Expected result: right menu

[2022-10-05 12:36] bullet03 commented on #23499
.take-issue

[2022-10-05 13:04] bullet03 commented on #23460
Thank you! Works perfectly now!

[2022-10-05 13:34] svetakvsundhar commented on #22910
just wanted to clarify here if we are ok checking in both a colab notebook (that will be referenced in blog post) as well as both a file and integration tests (as done in the examples [here](https://github.com/apache/beam/tree/master/sdks/python/apache_beam/examples/dataframe)).

[2022-10-05 13:38] damccorm commented on #19618
Dupe of #20930

[2022-10-05 13:38] #19618 closed

[2022-10-05 13:40] damccorm commented on #20376
This has been healthy as long as the test history goes back - https://ci-beam.apache.org/job/beam_PostCommit_Java_ValidatesRunner_Samza/

[2022-10-05 13:40] #20376 closed

[2022-10-05 13:44] damccorm commented on #20725
This isn't happening consistently and will go away when we move to GHA

[2022-10-05 13:44] #20725 closed

[2022-10-05 13:45] #20414 closed

[2022-10-05 13:57] damccorm commented on #21704
Closing in favor of https://github.com/apache/beam/issues/21705

[2022-10-05 13:57] #21704 closed

[2022-10-05 13:57] damccorm commented on #21701
Both subtasks are closed

[2022-10-05 13:57] #21701 closed

[2022-10-05 13:59] #21629 closed

[2022-10-05 14:00] #21563 closed

[2022-10-05 14:01] damccorm commented on #21540
I don't think we've been seeing this frequently, and we're moving towards GHA anyways

[2022-10-05 14:01] #21540 closed

[2022-10-05 14:03] damccorm commented on #21480
This hasn't happened in the current Jenkins history for the job

[2022-10-05 14:04] damccorm commented on #21475
This hasn't happened in the current Jenkins history

[2022-10-05 14:04] #21475 closed

[2022-10-05 14:05] damccorm commented on #21473
Closing since this is now perma-green :)

[2022-10-05 14:05] #21473 closed

[2022-10-05 14:07] damccorm commented on #21472
This is no longer occurring

[2022-10-05 14:09] damccorm commented on #21467
This is no longer happening

[2022-10-05 14:09] #21467 closed

[2022-10-05 14:41] Tera commented on #20970
Hi all

I think that I got this error on apache beam 2.41, java 11

this is my stack trace, it happens during reading phase

[code]

hope to have reported all valuable info

[2022-10-05 15:28] Lizzfox commented on #23449
@chamikaramj Thank you for the notification!
We are working on it.

[2022-10-05 15:29] damccorm commented on #21794
Looks like this was fixed with https://github.com/apache/beam/pull/21793

[2022-10-05 15:29] #21794 closed

[2022-10-05 15:38] riteshghorse opened #23503 "[Task][Go SDK]: Enable Validates Runner test for Python External Transform in Go SDK"
### What needs to happen?

Currently we have tests setup for Java XLang IO transforms from Go SDK https://github.com/apache/beam/blob/b7b71361590b4fa8bac32a4541058bafdf0d1df1/buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy#L2462

We want similar tests for python external transforms as well.

### Issue Priority

Priority: 2

### Issue Component

Component: sdk-go

[2022-10-05 15:39] riteshghorse commented on #23503
.set-labels 'go' 'P2'

[2022-10-05 16:44] efalkenberg commented on #23494
@lostluck this is heavily impacting customers and we would like to get this into a `v2.42.0-RC2`. Can you help me make that happen? Happy to provide more context via efalkenberg at google
thanks!

[2022-10-05 16:48] efalkenberg commented on #23494
The corresponding PR is here: https://github.com/apache/beam/pull/23493

[2022-10-05 17:02] reuvenlax opened #23504 "[Bug]: BigQueryIO schema update should be opt in"
### What happened?

Since schema update is on by default, it often results in major slowdowns for pipelines due to querying BigQuery for new messages.

### Issue Priority

Priority: 1

### Issue Component

Component: io-java-gcp

[2022-10-05 17:12] yeandy commented on #21437
My take is to not update `self._inference_batch_latency_micro_secs`, `self._inference_counter`, `self._inference_request_batch_size`, `self._inference_request_batch_byte_size` inside of the [update()](https://github.com/apache/beam/blob/master/sdks/python/apache_beam/ml/inference/base.py#L372) function since we wouldn't want to skew the statistics based on a failed inferences.

[2022-10-05 18:53] svetakvsundhar commented on #22910
+1 agree that it'd be useful to check this in given it might be referenced in public material.

[2022-10-05 21:35] robertwb commented on #23467
Huge +1. Note that TF's natural input of TFExamples can easily (and automatically) be derived from schema'd data (and often models can take dicts of numpy arrays as well, as can other platforms, which is very schema-like).

@TheNeuralBit

[2022-10-05 22:20] TheNeuralBit commented on #23467
Thanks Cham, I'm surprised we didn't already have this tracked somewhere :)

We also need this for `df.predict` (or `predict(df, ..)`).

There are a couple of challenges here that have been rattling around in my head:
- For many ModelHandlers the input/output type is basically bag of numbers, e.g. a Tensor with dimensions (X,Y). It's ambiguous how these should be mapped to Beam schemas.
  - It cou

[2022-10-05 22:23] rszper commented on #21349
.take-issue

[2022-10-05 22:31] TheNeuralBit opened #23511 "[Feature Request]: Make CombineFns used in Python Combiners part of the public API"
### What would you like to happen?

Currently the CombineFn implementations in combiners.py are [not included in `__all__`](https://github.com/apache/beam/blob/7980cb9a35cdb37ffd57a43ec9a1bfa5e204f5d7/sdks/python/apache_beam/transforms/combiners.py#L49) which makes them look like implementation details. I think we should expose these in a way that makes it clear they can be used directly (e.g. in

[2022-10-05 23:36] #23494 closed

[2022-10-05 23:52] tvalentyn commented on #23511
I think there is no concern adding public CombineFn implementations to `__all__`. Re second approach - there may be some ambiguity here for composite combiners. For example: would there be an expectation for defining "Top.SmallestPerKey.combineFn" or just Top.combineFn ?

[2022-10-06 04:56] alexeyinkin opened #23514 "[Bug]: Nightly Snapshot build is broken"
### What happened?

- #23253
has added a `:playground:frontend:playground_components:clean` Gradle task which relies on Flutter and was intended for running on a developer machine to clean up a project before building a web app.

Somehow it is also run during Nightly Snapshot, but that environment does not have Flutter so it breaks.

https://ci-beam.apache.org/job/beam_Release_NightlySnapshot/1680

[2022-10-06 04:56] alexeyinkin commented on #23514
.take-issue

[2022-10-06 08:44] adekunleoajayi commented on #23440
I have a similar problem with the portable runner mac. Take this example

[code]

### 1 - Using `--net=host`

When I start the portable runner with

`docker run --platform linux/amd64 --net=host apache/beam_spark_job_server:latest`

The server starts successfully

[code]

but the ports are not accessible because `--net=host` is not supported on mac, hence the pipeline fails.

[code]

### 2 - Publi

[2022-10-06 10:03] nausharipov commented on #22074
.take-issue

[2022-10-06 10:15] mosche opened #23517 "[Bug]: Don't retry ResourceNotFoundException in KinesisIO"
### What happened?

The not unexpected outcome from #23206 is ResourceNotFoundException from the various AWS SDK calls (if we are hitting the wrong account, the expected stream will not be there). However, current implementation of Kinesis consumer swallows those exceptions and proceeds as if no error had happened, eventually failing with cryptic "NullPointerException" errors (because consumer ite

[2022-10-06 15:26] #23264 closed

[2022-10-06 15:43] mosche commented on #20995
@ibzib This is absolutely possible using the usual `--tests` param, e.g.
[code]

[2022-10-06 16:33] aromanenko-dev commented on #23206
Isn't it a responsibility of user to check their configuration on workers and not Beam/KinesisIO? I mean why KinesisIO (or any other AWS IO connector) has to check if it's matching or not?

[2022-10-06 16:42] #22717 closed

[2022-10-06 17:07] #23514 closed

[2022-10-06 17:48] yeandy commented on #21437
Not necessarily out of scope to pose a modification upon current implementation. Can you clarify w/ an example of having a more generic update?

[2022-10-06 17:51] TheNeuralBit commented on #23504
Closing this and adding to 2.43.0 milestone, please update it if that's incorrect @reuvenlax

[2022-10-06 17:51] #23504 closed

[2022-10-06 17:55] TheNeuralBit commented on #21705
No failures in Jenkins history, marking this fixed.

I suspect this was addressed by https://github.com/apache/beam/pull/17200, but I'm not sure

[2022-10-06 17:56] #21705 closed

[2022-10-06 17:58] TheNeuralBit commented on #21700
CC: @y1chi who posted some context in the jira

[2022-10-06 18:05] TheNeuralBit commented on #19473
No flakes in Jenkins history currently, marking this fixed.

[2022-10-06 18:05] #19473 closed

[2022-10-06 18:11] TheNeuralBit commented on #20528
I feel like the labels `P1` and `good first issue` should be mutually exclusive?

[2022-10-06 18:12] TheNeuralBit commented on #20109
Is this actually a P1 _and_ a good first issue?

[2022-10-06 18:17] TheNeuralBit commented on #19285
There are no instances of this in Jenkins history right now.

[2022-10-06 18:17] #19285 closed

[2022-10-06 18:34] TheNeuralBit commented on #19336
There's only one instance of this test failing in Jenkins history and that was a correlated failure with other tests, due to a quota issue: https://ci-beam.apache.org/job/beam_PostCommit_Java_ValidatesRunner_Dataflow/8440/testReport/junit/org.apache.beam.sdk.transforms/SplittableDoFnTest/testSideInputUnbounded/
[code]

[2022-10-06 18:34] #19336 closed

[2022-10-06 18:34] y1chi commented on #21700
I think the fix is either turn on  the same set of flags of --experiments=use_runner_v2 when seeing --dataflowServiceOptions=use_runner_v2 in SDK so we get proper FNAPI job types or do it on service side. Do it on service has slight advantage of working for released SDKs.

[2022-10-06 18:45] TheNeuralBit commented on #20655
Current status: this is excluded in Flink Portable VR tests: https://github.com/apache/beam/blob/9b2f87d0201e8923a021c6bedbe0f64e37704014/runners/flink/job-server/flink_job_server.gradle#L165-L166

P1 is probably appropriate, since the exclusion means we don't know if 10MB keys will work.

[2022-10-06 19:01] BjornPrime commented on #21437
I'm just imagining a situation where we want to update one metric and not all of the others. For example, we could have a method `update_metrics(metrics)`, where "metrics" is a dict with names of metrics as keys and numerical values that are interpreted according to the metric they're associated with. So if I run `update_metrics({"_num_failed_inferences": 2})`, it would increment _num_failed_infer

[2022-10-06 19:32] rszper commented on #21245
The StackOverflow page is already in the Join the Conversation section of the Community page: https://beam.apache.org/community/join-beam/

[2022-10-06 20:10] TheNeuralBit opened #23525 "[Bug]: Default PubsubMessage coder will drop message id and orderingKey"
### What happened?

We register multiple coders for `PubsubMessage`:
https://github.com/apache/beam/blob/9b2f87d0201e8923a021c6bedbe0f64e37704014/sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubCoderProviderRegistrar.java#L32-L40

But in practice everything but the first one is a no-op. We will never use them (see https://github.com/apache/beam/pull/22216#d

[2022-10-06 20:13] TheNeuralBit commented on #23525
Marking this P1 since it could lead to data loss (in rare cases). We might mitigate by making `PubsubMessageWithAttributesCoder` (and other PubsubMessage coders) raise an error if the unsupported fields are non-null.

A better long-term fix would be to default to a coder that handles all fields, but this could break update compatibility so we'd need to be careful.

[2022-10-06 20:24] Abacn opened #23526 "[Task]: Migrate remaining io.jdbc.JdbcLogicalType to Portable Logical Types in core.schemas.logicaltypes"
### What needs to happen?

After #23014 there are following logical types in `io.jdbc.LogicalTypes`:
* FixedLengthString
* FixedLengthBytes
* VariableLengthString
* VariableLengthBytes

We should migrate them to portable logical type in order to use them in cross-language scenario. For example, currently Python cross-language JDBC Read cannot read rows containing fixed or variable length string: h

[2022-10-06 20:51] #23316 closed

[2022-10-06 21:04] rajkiran2190 opened #23527 "[Feature Request]: PubSubLiteIO custom timestamp policy"
### What would you like to happen?

Currently PubSubLiteIO seems to be tightly coupled with message PublishTime. It would be good to have an option to add a custom timestamp policy or atleast an option to rebase it on EventTime rather than Publish Time.

### Issue Priority

Priority: 1

### Issue Component

Component: extensions-java-gcp

[2022-10-06 22:44] #23276 closed

[2022-10-07 00:22] tvalentyn commented on #20528
it may be neither actually.

[2022-10-07 06:22] oakad commented on #23206
It's not easy to check the configuration on the worker and rather counterintuitive too. Requires custom pipeline steps and what not.

[2022-10-07 09:05] alexeyinkin opened #23534 "[Task]: Version-control all generated Playground files"
### What needs to happen?

1. Version-control all generated files.
2. Exclude all generated files from Apache Rat check (this really is the most painful thing with their version-controlling as we had been adding licenses manually there).
3. When building a Docker container, delete and re-generate all generated files so that their manual modifications have no effect in deployment and we see errors

[2022-10-07 09:06] alexeyinkin commented on #23534
.remove-labels 'awaiting triage'

[2022-10-07 09:57] #23442 closed

[2022-10-07 12:23] yeandy commented on #21437
I like this proposal, as it makes it more flexible.

To be clear, there are two types: `Metrics.counter()` and `Metrics.distribution`, where we "increment" the `self._inference_counter` and "update" the distributions of `self._inference_batch_latency_micro_secs`, `self._inference_request_batch_size`, `self._inference_request_batch_byte_size`.

So we should also have something like `increment_metri

[2022-10-07 13:05] mosche commented on #23440
The solution is to set these two environment variables for the Spark workers:

[code]

See https://github.com/mosche/beam-portable-spark for a working example.

[2022-10-07 13:29] olehborysevych opened #23538 "[Tour of Beam] [Task] Add backend endpoint to save user progress"
### What needs to happen?

Need to add backend endpoint to save user progress as a cloud function declaration

### Issue Priority
Priority: 3

### Issue Component
Component: tour-of-beam

[2022-10-07 13:32] olehborysevych opened #23539 "[Tour of Beam] [Task] Add user progress to getContentTree endpoint"
### What needs to happen?
Add user progress to getContentTree endpoint response for authenticated users

### Issue Priority
Priority: 2

### Issue Component
Component: tour-of-beam

[2022-10-07 14:00] mosche commented on #23206
Beam's responsibility is backwards compatibility in this case, @aromanenko-dev.
If we add support for custom profile names for `ProfileCredentialsProvider` (will say we extract/serialize the profile name in the respective pipeline option), it gets a bit tricky as I tried to explain above. When serializing a provider that was set programmatically, we cannot distinguish if the user provided the prof

[2022-10-07 14:38] eantyshev commented on #23539
.take-issue

[2022-10-07 14:38] eantyshev commented on #23538
.take-issue

[2022-10-07 14:50] BjornPrime commented on #21437
So, just to make sure I'm understanding, one failed inference doesn't interrupt the rest of the batch from completing?

[2022-10-07 16:20] ahmedabu98 opened #23541 "BigQuerySamplesIT.testTableIO is breaking in Java PostCommits"
### What happened?

beam_PostCommit_Java_DataflowVX and beam_PostCommit_Java_Dataflow_Examples_Dataflow_V2_X are failing due to the following exception:
`
java.lang.RuntimeException: org.apache.beam.sdk.util.UserCodeException: org.apache.beam.vendor.guava.v26_0_jre.com.google.common.base.VerifyException: Expected Decimal logical type
`

### Issue Priority

Priority: 1

### Issue Component

Compone

[2022-10-07 16:49] #23517 closed

[2022-10-07 17:35] tvalentyn commented on #22267
@TheNeuralBit how would you size this request (S, M, L) and/or starter issue?

[2022-10-07 17:38] tvalentyn commented on #22267
Actually, I found some notes where it was sized as small.

[2022-10-07 18:29] kennknowles commented on #20109
Ha. Good point. Independently, both statements are true:

 - It is pretty straightforward to go in to the transform and add the check.
 -  It is a data loss risk if the coder is nondeterministic.

[2022-10-07 18:30] kennknowles commented on #21700
Yes, the expectation of `dataflowServiceOptions` is that the SDK will _never_ do anything based on them. This ensures that everything is handled in the service and can be updated for released SDKs.

[2022-10-07 18:42] kennknowles commented on #20528
It sounds like data loss, which should certainly be P1

[2022-10-07 19:13] rszper commented on #22523
This is a duplicate of https://github.com/apache/beam/issues/21537

There already a PR with a fix: https://github.com/apache/beam/pull/23490

[2022-10-07 19:23] rszper commented on #20749
It looks like the https://beam.apache.org/community/powered-by/ page doesn't exist anymore.

The closest thing I could find was the Case Studies page: https://beam.apache.org/case-studies/

Is that where this information should be added?

[2022-10-07 19:26] tvalentyn commented on #20528
Sure, we can investigate as P1. P2 was based on the suspicion that this behavior has been like this from initial implementation.
As next step, I think we should identify whether with_fanout by nature of its implementation only works for particular classes of combiners/accumulators, for example:  Top or Mean where repeating elements twice doesn't affect the end result, or whether this is a bug that

[2022-10-07 19:27] rszper commented on #20749
Also, it looks like when there was a Powered by page, these were already added. See https://github.com/apache/beam/commit/3f9ae543d55ea486e5d05d9a5c51e45735931f20

[2022-10-07 19:28] rszper commented on #20749
.take-issue

[2022-10-07 19:31] rszper commented on #20749
.close-issue

[2022-10-07 19:31] #20749 closed

[2022-10-07 19:40] rszper commented on #20742
I can't find a "Powered by" page. Has this been removed?

[2022-10-07 19:50] rszper opened #23542 "[Bug]: Get Started right nav rendering incorrectly"
### What happened?

Page: https://beam.apache.org/get-started/

The right nav isn't correctly displaying the heading, "Quickstart for Java, Python, or Go"

<img width="237" alt="beam-overview" src="https://user-images.githubusercontent.com/98840847/194642304-abeaaea5-5431-4a58-865c-6dc89c93c4b0.png">

### Issue Priority

Priority: 3

### Issue Component

Component: website

[2022-10-07 19:57] rszper commented on #23542
.take_issue

[2022-10-07 20:00] damccorm commented on #20742
@hermannbritt

[2022-10-07 20:06] rszper commented on #23542
R: @damccorm

[2022-10-07 20:47] yeandy commented on #21437
To my knowledge, particularly for scikit-learn and pytorch, if the numpy array or torch tensor that we pass to the model contains even one invalid/malformed instance, then predicting for the entire batch will fail. But we may need to do some testing, and more digging around to confirm, especially for TensorFlow.

[2022-10-07 21:01] benWize commented on #22983
.take-issue

[2022-10-07 21:04] #23542 closed

[2022-10-07 21:31] kennknowles commented on #20528
If we cannot quick fix, we should remove with_fanout until we can fix it, or at least warn somehow, and add to release notes for released SDKs.

[2022-10-07 21:31] kennknowles commented on #20528
I mean, disable with_fanout when sliding windows.

BTW is this on all runners?

[2022-10-07 22:12] kennknowles commented on #18712
@tvalentyn @robertwb do type hints not catch this?

[2022-10-08 03:09] Abacn commented on #23526
.take-issue

[2022-10-08 14:46] lostluck opened #23550 "[Bug][Go SDK]: register.CombineN doesn't accept combiners with context.Context parameter"
### What happened?

It's valid to have combiners with a context parameter in any of the methods, for metrics and logging use, but the generic registration package doesn't tolerate it at this time.

Work arounds include continue using the static analysis code generator (starcgen), or not optimizing the combiner, or removing the context.Context issue.

Fix requires adjusting the generation template

[2022-10-08 15:59] Rstar1998 opened #23551 "Is it possible for apache beam mongo sdk to include support to read Mongodb cdc (Change data capture) streams ?"
### What would you like to happen?

Hi folks , There are many use cases where people want realtime migration of collections of  Mongodb to Big query (Data Warehouse ) / GCS (Data lake). Hence , it would be great if  apache beam mongo sdk included support to read Mongodb cdc (Change data capture) streams in real time and those events capture can be dumped into big query or GCS for analytical purpos

[2022-10-10 16:03] #23499 closed

[2022-10-10 18:43] #23000 closed

[2022-10-10 19:00] kennknowles commented on #17986
@johnjcasey might know something. This is a very old ticket. I don't know if the error message is better now. There are a few different ways to read from BigQuery. It really depends on BigQuery what our IO connector will support. The goal of this ticket is definitely just around giving a good message when there is an unsupported feature. To be honest I don't think the IO should interfere, because

[2022-10-10 19:34] robertwb opened #23559 "[Task]: Remove obsolete nativeio BigQuery read."
### What needs to happen?

This source has been superseded by the Beam-based read which was introduced over three years ago and made the default over two years ago.

This kind of source is incompatible with Runner v2.

### Issue Priority

Priority: 2

### Issue Component

Component: io-py-gcp

[2022-10-10 19:47] lostluck opened #23560 "2.42.0 Release Branch: Python PostCommits failing"
### What happened?

Release Validation branch https://github.com/apache/beam/pull/23200 has failures for the python post commits:

https://ci-beam.apache.org/job/beam_PostCommit_Python37_PR/459/
https://ci-beam.apache.org/job/beam_PostCommit_Python38_PR/624/
https://ci-beam.apache.org/job/beam_PostCommit_Python39_PR/80/

These need to be examined and resolved ASAP to unblock an RC2.

cc: @tvalenty

[2022-10-10 19:50] tvalentyn commented on #23560
looks like failing due to quota errors resulting from running multiple suites at once

[2022-10-10 19:57] lostluck opened #23561 "2.42.0 Release Branch: Flink Examples integration test failing"
### What happened?

Release Validation branch https://github.com/apache/beam/pull/23200 has failures for the Flink Example post commits:

https://ci-beam.apache.org/job/beam_PostCommit_Java_Examples_Flink_PR/8/

from the beam branch: `./gradlew :runners:flink:1.13:examplesIntegrationTest` replicates the same failure.

Errors are all the following InvalidProgramException

[code]

Other flink valida

[2022-10-10 20:01] lostluck opened #23562 "2.42.0 Release Branch: Dataflow Java ValidatesRunner Streaming tests failing"
### What happened?

Release Validation branch https://github.com/apache/beam/pull/23200 has a failure Dataflow JAva Validates Runner Streaming Postcommit:

https://ci-beam.apache.org/job/beam_PostCommit_Java_ValidatesRunner_Dataflow_Streaming_PR/28/

[code]

Most other dataflow validation is passing, but it seems like it could be a quick fix? This needs to be determined and or resolved before RC2

[2022-10-10 20:01] Abacn commented on #23559
.remove-labels "awaiting triage"

Fixed in #23557

[2022-10-10 20:22] Abacn commented on #23559
.remove-labels 'awaiting triage'

[2022-10-10 20:28] lostluck commented on #23561
Confirmed this is still happening at Master Head, and was working at the time of the 2.41.0 release, so this is a regression in configuration at minimum.

[2022-10-10 20:50] robertwb opened #23564 "[Task]: Avoid using deprecated nativeio.Sink for BigQuery write."
### What needs to happen?

These sinks are incompatible with Dataflow Runner v2.

### Issue Priority

Priority: 2

### Issue Component

Component: io-py-gcp

[2022-10-10 21:18] deepakb1 commented on #21582
I am having the same  issue  with the source of 2.41.0
`Build file '/Users/db794y/code/beam-2.41.0/build.gradle.kts' line: 19

An exception occurred applying plugin request [id: 'org.apache.beam.module']

`

Any help is appreciated.

[2022-10-10 22:10] #22339 closed

[2022-10-10 22:15] ryanthompson591 commented on #21451
.close-issue

[2022-10-10 22:15] #21451 closed

[2022-10-11 00:03] KevinGG commented on #23488
Released to NPM: https://www.npmjs.com/package/apache-beam-jupyterlab-sidepanel.

[2022-10-11 00:09] #23488 closed

[2022-10-11 00:32] AnandInguva opened #23566 "[Bug]: Incorrect traceback for some tests run on Python 3.10."
### What happened?

Beam failing test: https://ci-beam.apache.org/job/beam_PostCommit_Python310_PR/3/testReport/apache_beam.examples.dataframe.flight_delays_it_test/FlightDelaysTest/test_flight_delays/

Dill has reported a bug https://github.com/uqfoundation/dill/issues/488.

From the issue:

Between 3.9 and 3.10, the number of arguments to build a CodeType didn't change, but `co_lnotab` was repla

[2022-10-11 07:16] pabloem commented on #22000
Ah ok sorry I was confused. @TheNeuralBit can you take a look?

On Wed, Jun 22, 2022, 12:26 PM tvalentyn ***@***.***> wrote:

[2022-10-11 07:44] reuvenlax commented on #21368
This is not a library swap - it is part of the next version of the library
we already use. (already released, but not yet part of a BOM release).

On Mon, Sep 26, 2022 at 8:21 PM Lukasz Cwik ***@***.***>
wrote:

[2022-10-11 08:36] mosche opened #23568 "[Bug]: Spark2 runner fails to deserialize PipelineOptions due to NoSuchMethodError"
### What happened?

Spark 2.4.8 uses a fairly old version of Jackson `2.6.7`, while Beam is far ahead at `2.13.3`.
When attempting to deserialize Pipeline options on a Spark worker, it will fail with a `NoSuchMethodError` it attempts to use a newer Jackson API that doesn't exist in the older Spark version.

Note: The Spark 2 runner is already deprecated. So this is likely a NO-FIX and mostly for r

[2022-10-11 08:39] #21092 closed

[2022-10-11 09:30] reuvenlax commented on #21368
Right now if they are writing to many tables using dynamic destinations, we
must have a separate grpc channel for each table stream. The BigQuery team
is working on multiplexing support which would allow using a single grpc
for all tables, however that is not quite ready yet.

On Wed, Aug 24, 2022 at 2:00 PM Brian Hulette ***@***.***>
wrote:

[2022-10-11 12:56] mosche opened #23570 "Kinesis x-lang support depends on deprecated Kinesis IO (Aws Sdk v1)"
### What would you like to happen?

X-lang support for Kinesis should be migrated to use the [v2 module](https://github.com/apache/beam/tree/master/sdks/java/io/amazon-web-services2).

The v1 modules ([kinesis](https://github.com/apache/beam/tree/master/sdks/java/io/kinesis), [aws](https://github.com/apache/beam/tree/master/sdks/java/io/amazon-web-services)) will be eventually removed.

### Issue

[2022-10-11 14:16] Abacn opened #23573 "[Task]: Run some BigQuery integration tests only on one Dataflow Python3.X PostCommit"
### What needs to happen?

There is a Dataflow Python PostCommit flake due to too many BigQuery tests running same time.
Encountered in recent release process: https://github.com/apache/beam/pull/23200#issuecomment-1266419850

    I've found that trying to run all the dataflow based tests simultaneously simply causes spurious failures in
    various levels of API quota. apache-beam-testing simply

[2022-10-11 14:19] Abacn commented on #23573
.take-issue

[2022-10-11 14:20] Abacn commented on #23573
add-labels python, io, gcp

[2022-10-11 14:36] scwhittle commented on #20664
.close-issue

[2022-10-11 15:19] gauravchak commented on #21089
Thanks @bvolpato for pointing me to this https://github.com/apache/beam/issues/21089
This would be extremely useful for us at Discord. We use [Rust heavily](https://discord.com/blog/why-discord-is-switching-from-go-to-rust) and we are using Beam (using python) for data processing. To reduce training serving skew this would be very beneficial.

[2022-10-11 15:53] egalpin commented on #21304
Fixed by https://github.com/apache/beam/pull/22216

[2022-10-11 15:53] #21304 closed

[2022-10-11 16:01] lostluck commented on #23560
3.8 passed! So that's hopeful.

But 3.9 still failed:
https://ci-beam.apache.org/job/beam_PostCommit_Python39_PR/85/

Skim of the tail for 3.9 seems to be timeouts, which are still possibly quota issues.

I kicked off 3.7 again: https://ci-beam.apache.org/job/beam_PostCommit_Python37_PR/468/

[2022-10-11 17:10] tvalentyn commented on #23261
@AnandInguva  can you PTAL to see if we can update the Beam code to support newer version of this dependency?

[2022-10-11 17:11] tvalentyn commented on #23261
Sample fix: #23365 + #23480

[2022-10-11 17:21] TheNeuralBit commented on #22000
Hey @pabloem it looks like you may have missed my reply. This was due to my change and has been addressed in #22006

[2022-10-11 17:46] xinbinhuang commented on #23551
No an expert on Beam's support on this. But have you tried the debezium io? https://beam.apache.org/releases/javadoc/2.30.0/org/apache/beam/io/debezium/DebeziumIO.html?

[2022-10-11 17:48] xinbinhuang commented on #23489
.take-issue

[2022-10-11 17:58] xinbinhuang commented on #23489
.take-issue

[2022-10-11 18:01] xinbinhuang commented on #23570
.take-issue

[2022-10-11 18:03] ahmedabu98 commented on #23541
An error is thrown when reading in a Numeric BigQuery field with batch loads. Reproduced this by reading from a BQ table that has a single column of type Numeric.

[2022-10-11 18:12] xinbinhuang commented on #23570
@mosche .. seems like I can't take the issue. Is there an alternative way to assign the issue to me?

[2022-10-11 18:12] xinbinhuang commented on #23489
@damccorm  .. seems like I can't take the issue. Is there an alternative way to assign the issue to me?

[2022-10-11 18:25] ahmedabu98 commented on #23541
The `BigQueryAvroUtils.toGenericAvroSchema()` method used [here](https://github.com/apache/beam/blob/51bcda973cf5452ae6a11bbbc3224e328f458254/sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BigQuerySourceBase.java#L240-L241) returns a null "type" value for the Numeric type:
[code]

[2022-10-11 18:27] ahmedabu98 commented on #23541
The schema was previously generated with `BigQueryIO.JSON_FACTORY` but was changed [here](https://github.com/apache/beam/pull/22718/files#diff-cb714b42eb4552b678a8193d34ecb892776deff2728b6589a6fda52e179cff5cL254). I added the method back and logged the schema results:
[code]

[2022-10-11 18:34] steveniemitz commented on #23541
@kkdoon

[2022-10-11 18:41] damccorm commented on #23489
I think Github actions were just backed up, looks like it succeeded eventually.

[2022-10-11 19:32] benWize opened #23580 "[Task]: Rename env vars in job-precommit-website-stage-gcs.yml to a more reasonable Github things"
### What needs to happen?

The job for Precommit Website in Jenkins used a group of env vars related to gh pr bot.
The gh pr bot infra is a Jenkins concept, not a GHA one and those should be renamed.

### Issue Priority

Priority: 2

### Issue Component

Component: infrastructure

[2022-10-11 20:04] AnandInguva opened #23581 "[Task]: Benchmark different dataflow worker configurations for RunInference tests"
### What needs to happen?

Benchmark different machine configurations for RunInference benchmark test on DataflowRunner.

### Issue Priority

Priority: 2

### Issue Component

Component: sdk-py-core

[2022-10-11 20:04] AnandInguva commented on #23581
.add-labels run-inference

[2022-10-11 20:04] AnandInguva commented on #23581
.take-issue

[2022-10-11 20:07] tvalentyn commented on #22891
Over to @chamikaramj to triage,

[2022-10-11 20:24] lostluck commented on #23335
#23583 removes a long operations from out of the lock, but another action would be to separate the lock into either map specific locks, or into control message usage specific locks. That could also avoid losing process on the control channel handler goroutine.

[2022-10-11 20:41] damccorm opened #23584 "[Feature Request]: Remove need for tf.function in TF ModelHandler"
### What would you like to happen?

Right now, to use the Tensorflow model handler you need to take in a string tf.example. To support models that don't do this and take in something like a numpy array of floats, we currently recommend adding a tf.function (see https://github.com/apache/beam/blob/c36077a96a4691ca9000c8b243847ac6c7f82a74/examples/notebooks/beam-ml/run_inference_tensorflow.ipynb). W

[2022-10-11 21:00] Johnny11502 commented on #23101
Hello @lostluck , I am a student learning the ins and outs of GitHub and currently have an assignment that requires us to have an issue that we feel confident in solving assigned to us. I would appreciate it if you could assign this issue to me so I can give it a try. Thanks in advance!

[2022-10-11 21:34] lukecwik commented on #23562
Logs:
[code]

[2022-10-11 21:42] lukecwik commented on #23562
The job logs show that the job succeeded successfully and then was cancelled during worker shutdown since it was taking too long:
[code]

This failure will not block the release.

[2022-10-11 21:42] #23562 closed

[2022-10-11 21:49] robertwb commented on #20528
OK, the problem is that we re-window to avoid stacked accumulating mode:

https://github.com/apache/beam/blob/release-2.40.0/sdks/python/apache_beam/transforms/core.py#L2742

This re-duplicates the windows for sliding windows WindowFns. (It will do the wrong thing for sessions as well.) What we need to do is set the new windowing to be the same thing without accumulating mode, but without applying

[2022-10-11 21:59] AnandInguva opened #23585 "[Bug]: Protobuf>=3.19.5 wheels are not uploaded for Python 3.10 on MacOS, failing the python unit tests on MacOS"
### What happened?

Protobuf MacOS wheels for 3.19.5, 3.19.6 and 3.20.x are removed because there are some errors on M1 Mac and the protobuf team couldn't able to figure out the root cause.  These wheels were rolled back on September 13th and the `protobuf-3.19.x-py2.py3-none-any.whl  ` wheels are not working for generating protos, leading to test failures on MacOS with GH actions

So for Python 3

[2022-10-11 22:00] AnandInguva commented on #23585
https://github.com/protocolbuffers/protobuf/issues/10564#issuecomment-1275310090

[2022-10-11 22:00] lostluck commented on #23562
Thank you!

[2022-10-11 22:00] AnandInguva commented on #23585
.take-issue

[2022-10-11 22:41] lostluck commented on #23561
`git bisect` blames 42b1640a25
  `  [Website] add Python to KinesisIO in connectors #22845 (#22841)`
looking into it...

[2022-10-11 22:42] lostluck commented on #23561
git bisect log
git bisect start
# bad: [135877e04a0d4e0349c48b65ebd974a20d764a41] Fix IllegalStateException in StorageApiWriteUnshardedRecords error handling. (#23233)
git bisect bad 135877e04a0d4e0349c48b65ebd974a20d764a41
# good: [7ef51bc8733c6bcba874d18a77e83762e9c4567f] Merge pull request #22759 from kileys/releasebranch
git bisect good 7ef51bc8733c6bcba874d18a77e83762e9c4567f
# good: [cd5f88a

[2022-10-11 22:46] lostluck commented on #23561
But that seems rather unrelated. Going to run it again, but it's due to flakes.

[2022-10-11 23:03] lukecwik opened #23588 "[Bug]: use_grpc_for_gcs experiment broken by big dataoss library upgrade from 2.2.6 to 2.2.8"
### What happened?

The `use_grpc_for_gcs` experiment was broken by the upgrade of the big dataoss library from 2.2.6 to 2.2.8 (https://github.com/apache/beam/pull/23300) and was caught by internal testing within Google (b/251766179).

I used the following flags when creating the pipeline:
[code]

The pipeline fails to upload artifacts during pipeline creation. An example dump of the failure is be

[2022-10-11 23:04] lukecwik commented on #23588
CC: @scwhittle @damccorm

[2022-10-11 23:19] lostluck commented on #23588
I'll note that if it's an experiment, it shouldn't be release blocking, as that's what experiment means.

That said, we're already collecting things for an RC2, so we may as well fix it.

[2022-10-11 23:34] lostluck commented on #23588
Assigning to [scwhittle](https://github.com/scwhittle) since I'm a vocal Go programmer and can't make heads or tails of Java Deps.

But I can't assign it to scwhittle unless they comment here first. :/

[2022-10-11 23:37] lostluck commented on #23588
Is that PR even in the release? The release was cut on the 7th but the PR was merged on the 20th.

[2022-10-11 23:38] lostluck commented on #23561
Second pass seems more readinable:

git bisect start
# good: [8347b9e1d36cb8c2a1d863909d2d27a00a3efdaa] Merge pull request #22814 from cushon/bb
git bisect good 8347b9e1d36cb8c2a1d863909d2d27a00a3efdaa
# bad: [1526ca8c4cc6d58b3c28d816fc2597e51603d75f] Improvements to SchemaTransform implementations for BQ and Kafka (#23045)
git bisect bad 1526ca8c4cc6d58b3c28d816fc2597e51603d75f
# bad: [fe297c3653

[2022-10-11 23:40] lostluck commented on #23561
@ahmedabu98 your PR https://github.com/apache/beam/pull/22624 seems to have broken the Flink Examples using big query.

Could you please investigate and resolve?

[2022-10-12 00:00] lostluck commented on #23588
It is not (validated with `git branch --contains 5af5a1fb2016ab62387de5973c5a8ed0ec3045fd`).

Changing the milestone to 2.43.0

[2022-10-12 00:22] lostluck commented on #23101
Sure! Let me know if you have any questions.

For future reference, per beam.apache.org/contribute , you can comment  “.take-issue”  and a bot will make sure you're assigned. :)

[2022-10-12 00:27] lostluck commented on #23101
That page should also have some getting started contribution information (like cloning the repo, etc). Remember, if you read all the documentation, and it doesn't work as described, it's just as likely the documentation is wrong, as you've made a typo or similar.

So please do file an issue (or a PR to fix the documentation!) if you run into something like that.

[2022-10-12 00:32] lostluck commented on #23335
The SDK should do a keyed de-dupe to make a single in-flight for the same requests
That would have benefits for when the descriptor is large, as we'd save the deserialization time, if not the plan construction time.
This would have more benefits for streaming jobs than batch, but it's a good move nevertheless, as it would reduce wire congestion.

[2022-10-12 01:01] Johnny11502 commented on #23101
Got it. Thanks for the information!

[2022-10-12 01:10] chamikaramj commented on #23588
@scwhittle will you be able to check ?

Also cc'ing few folks who might have context/interest. @cnauroth @medb @veblush

[2022-10-12 01:49] cnauroth commented on #23588
Between GCS connector 2.2.6 and 2.2.8, there were multiple changes in the gRPC integration path. I haven't yet identified a specific change that could explain this.

CC: @abmodi @arunkumarchacko

[2022-10-12 04:23] arunkumarchacko commented on #23588
There is a know issue where uploads of more than 30MB is failing. This is due to a change at the GCS side.

CC: @singhravidutt

[2022-10-12 04:33] alexeyinkin opened #23592 "[Task]: Tour of Beam Markdown styles"
### What needs to happen?

Tour of Beam frontend currently works with the default Markdown styles.
They need to match the mocks.

### Issue Priority

Priority: 3

### Issue Component

Component: beam-playground

[2022-10-12 04:39] alexeyinkin opened #23593 "[Task]: Tour of Beam URLs"
### What needs to happen?

Currently ToB shows `/tour/<sdk>` as the URL for all units. These need to match the current unit's ancestor's chain of IDs like `/tour/java/module-id/group-id/group-id/unit-id`.

Also we need to show a unit when its URL is typed in.

For a module or a group URL, we must show its first unit and update the URL with that unit's URL.

### Issue Priority

Priority: 3

### Iss

[2022-10-12 05:41] kkdoon commented on #23541
Thanks @ahmedabu98 for opening this issue. The root cause is the reader schema generated by `BigQueryAvroUtils.toGenericAvroSchema()` for numeric BigQuery type, where the expected schema should be like:`{"type":"bytes","logicalType":"decimal","precision":38,"scale":9}`, however this function generates `{"type":"bytes"}` instead. Using only the writer schema fixes this issue since it reads the corr

[2022-10-12 07:25] scwhittle commented on #23588
I don't think I'm the right person to investigate this, I upgraded the version to fix a Conscrypt issue but don't have any other relevant knowledge.
It sounds like Chris is investigating from above

[2022-10-12 07:40] mosche commented on #20018
💯 for e2e tests! looks like this the uber jar job server is currently broken https://github.com/apache/beam/issues/23439

[2022-10-12 07:51] ruodingt opened #23598 "[Bug][Or a Feature Request]: Overwrite BigQuery TestClient to work with another API endpoint"
### What happened?

Thanks for reviewing my issue:)

I am trying to use the `test_client` arg while declare an `WriteToBigQuery` instance and hopefully I can make the bq client work with big query emulator.

I did notice this one:
https://github.com/apache/beam/blob/786ba8b54c023d6f7a24cbf8321a46f329ca7027/sdks/python/apache_beam/io/gcp/bigquery.py#L1443

which lead to an assumption: `test_client`

[2022-10-12 09:10] FurcyPin opened #23599 "[Bug]: Google Colab DataFrame example crashes with dependency conflict"
### What happened?

I tried running the [DataFrame example in Google Colab](https://colab.research.google.com/github/apache/beam/blob/master/examples/notebooks/tour-of-beam/dataframes.ipynb), and after running the first cell:

[code]

I got the following error:
[code]

Trying to run the next cell:
[code]

also gave an error:
[code]

You should add a validation pipeline for you Google Colab example

[2022-10-12 09:17] nausharipov commented on #23592
.take-issue

[2022-10-12 10:09] Rstar1998 commented on #23551
@xinbinhuang A managed service (wrt to compute and scaling)  is always preferred by most of the customers rather than hosting debezium on a server. If we are able to make mongo streaming possible using dataflow , it will help in lot of data engineering usecases

[2022-10-12 11:22] mosche commented on #19967
@psolomin could you assign this issue to yourself, pls... just comment:
[code]

[2022-10-12 12:03] psolomin commented on #19967
.take-issue

[2022-10-12 13:01] olehborysevych opened #23600 "[Playground] [Task]: Restore workflow trigger for Playground deploy examples GA"
### What needs to happen?
Playground example deploy workflow was switched to manual trigger due to existing bug in workflow code.
Some broken examples might get into Playground storage bucket. New Playground CI/CD will address and fix this bug but it might catch broken examples before playground backend is redeployed. Since we plan to switch to new backend deployment model soon, we don't want to b

[2022-10-12 14:59] ahmedabu98 commented on #23541
Thanks for taking a look @kkdoon

Changing the name to note that this test failure is not limited to Dataflow runner, eg: https://ci-beam.apache.org/job/beam_PostCommit_Java_Examples_Flink_PR/10/testReport/

[2022-10-12 15:47] Abacn commented on #21471
Infrastructure issue. Likely won't fix because we're going to migrate away from jenkins.

[2022-10-12 15:49] Abacn commented on #21468
.close-issue not_planned

obsolate

[2022-10-12 15:54] Abacn commented on #19946
.close-issue not_planned

Not seen for a while, obsolete

[2022-10-12 16:30] #21468 closed

[2022-10-12 16:34] #19946 closed

[2022-10-12 16:42] #23559 closed

[2022-10-12 17:00] Miuler opened #23604 "CosmosDB: Add support for Azure database CosmosDB with Core (SQL) Api"
### What would you like to happen?

Add suppor for read data from Azure Cosmos DB with Core (SQL) API

### Issue Priority

Priority: 2

### Issue Component

Component: io-java-azure

[2022-10-12 17:04] Miuler commented on #23604
.add-labes azure,cosmosdb,database

[2022-10-12 17:06] Miuler commented on #23604
`.add-labes azure,cosmosdb,database`

[2022-10-12 17:32] Abacn commented on #23573
Considered as a subtask of #20930

[2022-10-12 17:33] lostluck commented on #23335
Not likely the issue the user is facing, but Bundle Finalization seems to be doing a fair amount of work in the control lock critical section that could be moved out.

https://github.com/apache/beam/blob/master/sdks/go/pkg/beam/core/runtime/harness/harness.go#L413

and accessing the plans map doesn't appear to be locked here too:
https://github.com/apache/beam/blob/master/sdks/go/pkg/beam/core/run

[2022-10-12 17:37] Abacn commented on #23564
Fixed in #23558

[2022-10-12 18:16] xinbinhuang commented on #20796
I think this issue can be closed with this merged: https://github.com/apache/beam/pull/13983

[2022-10-12 18:21] xinbinhuang commented on #23551
I'm not sure if I follow your questions. I believe the `DebeziumIO` is self-contained and encapsulated within Beam, so you don't need to set up a separate kafka and debezium server. Though experimental, it should also work with the `MongoDbConnector`.

Is your use case about Beam or about dataflow?  Beam should just work on dataflow.

[2022-10-12 18:28] benWize opened #23606 "[Bug]: apache_beam.examples.complete.distribopt_test.DistribOptimizationTest.test_basics is failling with Dataflow runner"
### What happened?

Assertion of the test apache_beam.examples.complete.distribopt_test.DistribOptimizationTest.test_basics failed when it is run using Dataflow as runner.
https://ci-beam.apache.org/job/beam_PostCommit_Python_Examples_Dataflow_PR/20/testReport/junit/apache_beam.examples.complete.distribopt_test/DistribOptimizationTest/test_basics/
[code]

### Issue Priority

Priority: 2

### Issue

[2022-10-12 18:29] benWize commented on #23606
.add-labels python, 'failing test'

[2022-10-12 18:52] #20796 closed

[2022-10-12 19:41] Miuler commented on #23604
`.take-issue`

[2022-10-12 19:47] benWize opened #23608 "[Bug]: apache_beam.examples.cookbook.group_with_coder_test.GroupWithCoderTest.test_basics_with_type_check is failing with Dataflow"
### What happened?

Assertion of the test apache_beam.examples.cookbook.group_with_coder_test.GroupWithCoderTest.test_basics_with_type_check failed when it is run using Dataflow as runner.
https://ci-beam.apache.org/job/beam_PostCommit_Python_Examples_Dataflow_PR/20/testReport/junit/apache_beam.examples.cookbook.group_with_coder_test/GroupWithCoderTest/test_basics_with_type_check/

<pre>
Error Mes

[2022-10-12 19:48] benWize commented on #23608
`.add-labels python,'failing test'`

[2022-10-12 19:54] benWize commented on #23606
`.remove-labels 'failing test'`

[2022-10-12 19:54] benWize commented on #23606
`.add-labels 'disabled test'`

[2022-10-12 19:57] benWize commented on #23608
`.add-labels 'disabled test'`

[2022-10-12 20:51] #23541 closed

[2022-10-12 20:56] tvalentyn opened #23613 "[Bug]: apache_beam.examples.cookbook.bigtableio_it_test.BigtableIOWriteTest.test_bigtable_write is flaky"
### What happened?

 (from postCommitIT-df-py39)

[code]

### Issue Priority

Priority: 1

### Issue Component

Component: io-py-gcp

[2022-10-12 20:59] tvalentyn commented on #23613
~recently added in https://github.com/apache/beam/pull/16751

[2022-10-12 20:59] tvalentyn commented on #23613
is `>       operation.result(timeout=10)` reasonable?

[2022-10-12 21:00] tvalentyn commented on #23613
should there be a retry with a back-off?

[2022-10-12 21:07] Rstar1998 commented on #23551
@xinbinhuang DebeziumIO should work in my case. But unfortunately it doesn't have Mongo support in beam library itself.

https://beam.apache.org/releases/javadoc/2.30.0/org/apache/beam/io/debezium/DebeziumIO.html

https://github.com/apache/beam/blob/master/sdks/java/io/debezium/src/main/java/org/apache/beam/io/debezium/Connectors.java

Maybe some tweaks will able to do our job. Because debezium do

[2022-10-12 21:10] ahmedabu98 opened #23614 "[Task] (BQ Java): Create an integration test that involves the use of both single and multi partition writes"
### What needs to happen?

Need an integration test that fully makes use of [this flatten step in batch loads](https://github.com/ahmedabu98/beam/blob/ef85e6b948c4fd02b85f93e493e3dc50be2299c9/sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/bigquery/BatchLoads.java#L409-L412).

Should look like a file loads write with dynamic destinations, one destination needing copy jo

[2022-10-12 21:17] zhengbuqian opened #23616 "[Task]: Add MultimapState support for Dataflow FnAPI"
### What needs to happen?

Add MultimapState support for Dataflow FnAPI

### Issue Priority

Priority: 3

### Issue Component

Component: runner-dataflow

[2022-10-12 21:18] chamikaramj commented on #23588
Thanks Sam. @arunkumarchacko do you have a reference to that issue ?

If that is fixed and released, probably we can just do another version bump.

[2022-10-12 21:35] AnandInguva commented on #23573
.add-labels python, io, gcp

[2022-10-12 22:21] prodriguezdefino opened #23618 "[Feature Request]: Support maps in BigQuery StorageWrites when using Beam Rows as the PCollection input type"
### What would you like to happen?

Currently BigQuery table schema utility, and the implementation for StorageWrites, does not support sending Beam Rows withMaps as part of their schema.

### Issue Priority

Priority: 2

### Issue Component

Component: io-java-gcp

[2022-10-12 22:22] prodriguezdefino commented on #23618
.take-issue

[2022-10-12 22:27] #23561 closed

[2022-10-12 22:55] lostluck commented on #23613
May be root cause of #23560

[2022-10-13 00:47] #23613 closed

[2022-10-13 00:52] tvalentyn commented on #23560
Expecting that
https://github.com/apache/beam/pull/23617
https://github.com/apache/beam/pull/23595
reduced the flakiness here.
#23617 would need to be cp'ed to release branch to take effect.

[2022-10-13 00:54] #23560 closed

[2022-10-13 00:55] tvalentyn commented on #23560
postcommits passed on https://github.com/apache/beam/pull/23200

[2022-10-13 03:40] Miuler commented on #20411
But with what api? Mongo? Cassandra?

[2022-10-13 13:06] Geddy05 commented on #23049
.close-issue

[2022-10-13 13:08] #23049 closed

[2022-10-13 13:17] damccorm commented on #23599
@TheNeuralBit FYI

[2022-10-13 14:49] arunkumarchacko commented on #23588
What is the impact at your side? This will help us prioritise. Also, gRPC support in GCS is not yet GA. Hence was wondering how you are using this.

Also, can you try with a lower upload size? If you are hitting the same issue, it usually happens when the upload size is higher (more than 30MB). This will also help us confirm that that it is the same issue.

[2022-10-13 15:17] #23420 closed

[2022-10-13 17:50] damccorm opened #23627 "[Bug]: Website precommit flaky"
### What happened?

Occasionally the website precommit has taken 2 hours to run and has timed out. Normally it takes <30 minutes.

Example from cron job - https://ci-beam.apache.org/job/beam_PreCommit_Website_Cron/5938/
Many examples from precommit - https://ci-beam.apache.org/job/beam_PreCommit_Website_Commit/

### Issue Priority

Priority: 1

### Issue Component

Component: website

[2022-10-13 18:01] reuvenlax opened #23628 "[Feature Request]: Handle failed inserts in Storage API sink"
### What would you like to happen?

The Storage API BigQuery sink already handles rows that do not conform to schema and forwards them to the failed-rows PCollection. We should handle the remaining cases - rows that are too large, and rows that don't conform to any other BigQuery constraints.

### Issue Priority

Priority: 2

### Issue Component

Component: io-java-gcp

[2022-10-13 18:26] TheNeuralBit commented on #23599
Thanks @FurcyPin and @damccorm.

Note we already have #22659 for exercising these notebooks continuously. I don't think that would have caught this particular issue because this is a version conflict with `google-colab`. We might separately test that we don't have version conflicts with colab. Let's use this issue just to track this particular incompatibility, we can consider filing a follow-up fo

[2022-10-13 18:29] TheNeuralBit commented on #23599
Note these deps on `colab-tools` are very out of date. There are some issues filed against that project to address it: https://github.com/googlecolab/colabtools/issues/2230

[2022-10-13 18:51] lukecwik commented on #23588
This will break customers who are opted into the experiment that rely on the SDK at HEAD and will block the 2.43 release which will be cut on Oct 19, 2022.

Are you talking about the whole file size or the buffer size (note that I tested with 16mb buffer and it was failing)?
If it is for the whole file size then we can't reduce it since almost all customer pipelines use files that are greater than

[2022-10-13 19:00] KevinGG commented on #23599
I would +1 asking `colab-tools` to update their dependency as ipykernel v6+ now supports Jupyter native debugger.

And ipython v7 and v8 both works with ipykernel v5+. The only issue is that ipython v7 is not backward compatible to v6. I suggest they only need to upgrade their ipython dep and then they can start using ipykernel v6 w/o any compatibility issue.

[2022-10-13 19:05] #21245 closed

[2022-10-13 19:28] rszper commented on #21349
.close-issue

[2022-10-13 20:45] lukecwik commented on #23290
I disagree that adding scopes is a good idea, we should instead allow users to configure the scopes themselves. Adding a credential factory to python or adding a pipeline option that enables configuring these scopes with the default being the currently enabled list makes a lot more sense to me.

[2022-10-13 21:10] tvalentyn opened #23631 "[Task]: Verbose logging from Portable Runner creates unredable logstreams (xxMB) in Python PostCommits"
### What needs to happen?

This impedes debugging of test failures, incl. identifying flakes.

### Issue Priority

Priority: 1

### Issue Component

Component: testing

[2022-10-13 21:42] #21349 closed

[2022-10-13 21:57] TheNeuralBit commented on #23599
Is jupyter native debugger support the only reason for the `ipykernel>6` requirement? That seems like a dev requirement, not something we need to impose on our users.

It would be nice to get this fixed in google-colab since it will fix already released SDKs, but that issue has been open for a year now. It would be good to try to mitigate from our end.

[2022-10-13 21:58] Abacn opened #23632 "[Bug]: Python sdk_harness_log_level_overrides option not compatible with runners Job Invoker"
### What happened?

When running a Python Pipeline with Flink runner, FlinkJobInvoker tries to translate the pipeline options with a heuristic abc_def -> abcDef. For sdk_harness_log_level_overrides, this translates to sdkHarnessLogLevelOverrides which is an existing option in SdkHarnessOptions. But SdkHarnessOptions.sdkHarnessLogLevelOverrides is a Map<String, String>, while sdk_harness_log_level_

[2022-10-13 23:02] TheNeuralBit commented on #23599
Ah actually the ipykernel version conflict is non-blocking, apache-beam is still installed (we should still address this though since it's disconcerting, thanks for #23599).

The other, protobuf, issue is a hard blocker though. Here is the full stacktrace:
[code]

It looks like this is happening when importing `DataprocClusterManager`.

[2022-10-13 23:02] apilloud opened #23634 "[Bug]: Nexmark SparkStructuredStreamingRunner v2 and v3 publishing to same metric"
### What happened?

The Nexmark SparkStructuredStreamingRunner v2 and v3 tests are both publishing results to the same metric since the feature went in #15529 resulting in bad data:
![oeKw8uaYtyHxsdT](https://user-images.githubusercontent.com/5972627/195726030-54d64119-fe5a-4b89-b4fb-3f4e3da4df7e.png)

cc: @echauchot

### Issue Priority

Priority: 1

### Issue Component

Component: testing-nexmark

[2022-10-13 23:21] KevinGG commented on #23599
dataproc and apache-beam both use the same protobuf-plus dep that transitively apply the same protobuf version range.
The raised version conflict is probably irrelevant because the final protobuf installed is 3.20.3.
3.19.0 should suffice all deps' version ranges, don't know why pip picked 3.20.3 in the end.

[2022-10-13 23:27] KevinGG commented on #23599
This is probably why.

So it's a problem with pip. There can be 2 solutions:

- User install a version that works in Colab.
- Colab installs conflicting deps with a specific version after installing everything else.

[2022-10-13 23:48] TheNeuralBit commented on #23599
Do we know where 3.17.3 came from? The initial install says we have 3.20.3. How do we get 3.17.3 before the version conflict in the dataproc import.

I wonder if installing a newer `google-cloud-dataproc` will help. We are depending on 3.x, but 5.x is out now.

Alternatively, can we make the dataproc stuff separable? This example notebook is not doing anything with dataproc, but it has been broken

[2022-10-14 01:56] tvalentyn commented on #23487
It sounds like we don't actually support integration with cloud debugger and this dep is a dead weight.

[2022-10-14 07:16] echauchot commented on #23634
Thanks @apilloud. @mosche can you take a look ?

[2022-10-14 07:37] algirdas-k opened #23636 "[Bug]: BQ Storage Write API converter fails for small timestamps with ArithmeticException: long overflow"
### What happened?

While trying to write to `TIMESTAMP` column in BQ a small value (for example `0001-01-01T00:00:00Z`), Storage Write API converter utility `TableRowToStorageApiProto` fails to convert from `String` to proto `INT64` with an error:

[code]
Reproduced on Apache Beam 2.41.0 SDK on GCP Dataflow.

This is converter issue, as BQ perfectly supports such dates.

---

After some investiga

[2022-10-14 08:30] mosche opened #23637 "[Feature Request]: Direct translation of Reshuffle transforms in Spark Dataset runner."
### What would you like to happen?

Despite being deprecated, `Reshuffle` is a commonly used transform, especially with SQL transforms.
The traditional SparkRunner does this. Similar capabilities should be added to the new experimental Spark dataset runner.

### Issue Priority

Priority: 2

### Issue Component

Component: runner-spark

[2022-10-14 15:04] riteshghorse opened #23640 "[Task][Go SDK]: Add output coders to expansion request"
### What needs to happen?

Expansion request has additional field for [output coder request](https://github.com/apache/beam/blob/a297ebd3ffaf5c196d8d0262d762d06491648cef/model/job-management/src/main/proto/org/apache/beam/model/job_management/v1/beam_expansion_api.proto#L54) which is used to tell the expansion service to use that coder for output produced. Currently, we marshal the coder for outpu

[2022-10-14 15:04] riteshghorse commented on #23640
.take-issue

[2022-10-14 15:04] riteshghorse commented on #23640
.remove-labels 'awaiting triage'

[2022-10-14 16:28] #23637 closed

[2022-10-14 17:06] lukecwik commented on #23290
I would disagree, having existing users who upgrade to this version pick up additional scopes that they may not have been aware of is not a good experience.

[2022-10-14 17:15] riteshghorse opened #23643 "[Task][Go SDK]: Toggle UseSingleCorePerContainer flag when using Python Xlang in Go"
### What needs to happen?

https://github.com/apache/beam/blob/56d10f3f9cf1292d214d585b59b4fee9d1bc8f3e/sdks/go/pkg/beam/runners/dataflow/dataflowlib/job.go#L109 should be set to true for job submission to dataflow when using python external transforms in Go SDK.

### Issue Priority

Priority: 2

### Issue Component

Component: sdk-go

[2022-10-14 17:15] riteshghorse commented on #23643
.take-issue

[2022-10-14 17:21] kennknowles commented on #23290
If it is easy to do The Right Thing then go ahead and do it. But forcing arbitrary discipline on new contributors that _we ourselves never complied with_ is not how we should run things.

[2022-10-14 17:22] lukecwik commented on #23290
Continuing to do something that was done incorrectly in the past and digging a bigger hole for future maintenance is a problem.

[2022-10-14 17:22] tvalentyn commented on #23290
I might have been covered by the google-cloud-platform scope. Java doesn't have spanner scopes, not sure if python had to reference them explicitly.

[2022-10-14 17:24] kennknowles commented on #23290
https://github.com/apache/beam/commit/5b6a0ea3ba59760515ecfc76684d8202fd54c647#diff-21a78a52eca0c898070d58302127a9bb5cdb5de512ec16b9b3d945e0b84b694c

[2022-10-14 17:32] Abacn commented on #22372
Hi, just curious about what is the current status of this bug? Is the working example fixed by #22390 ? @steveniemitz @MarcoRob

[2022-10-14 17:37] lukecwik commented on #23290
https://github.com/apache/beam/commit/5b6a0ea3ba59760515ecfc76684d8202fd54c647#diff-21a78a52eca0c898070d58302127a9bb5cdb5de512ec16b9b3d945e0b84b694c only modifies Python's scopes and not Java's.

[2022-10-14 18:00] lukecwik commented on #23290
We should be guiding contributors to produce the right solution, this isn't arbitrary.

[2022-10-14 18:03] lukecwik commented on #23290
https://github.com/apache/beam/pull/23644 is a proposed solution.

[2022-10-14 18:38] KevinGG commented on #23599
I know what went wrong. The example needs to be updated. Always use `!pip install` in Colab, not `%pip install`.

Note that `%pip` is a notebook magic (not a shell cmd) that only works on Jupyter notebook runtimes that allows multiple kernel selections. When `%pip install`, it installs the dependency to the venv of the connected IPython kernel.

This is required in products such as Beam Notebooks

[2022-10-14 19:12] haoyuche opened #23646 "[Feature Request]: Try to write PCollection<Row> through JdbcIO but JdbcUtil.BeamRowPreparedStatementSetter is not visible"
### What would you like to happen?

PCollection<Row> rows
rows.apply(JdbcIO.<Row>write()
                .withDataSourceConfiguration(JdbcIO.DataSourceConfiguration.create(
                        output.driverClassName, output.url)
                        .withUsername(output.username)
                        .withPassword(output.password))
                .withStatement(generateWriteStatement(ro

[2022-10-14 20:43] TheNeuralBit commented on #23599
I tried running the notebook on colab with `!pip` and got the same errors

[2022-10-14 21:04] euannliu opened #23647 "[Bug] Runtime Error: invalid memory address or nil pointer dereference for newJarGetter()"
I'm getting an error initializing Apache Beam for my Go service deployed to kubernetes. The error in question is:
[code]

Looking at the code, it seems like the culprit is `usr` in
[code]
I am wondering if there is a potential bug or problem with `usr, _ := user.Current()` in the line before.

[2022-10-14 21:59] KevinGG commented on #23599
You are right, I tried it again. So the thing fixed the example is restarting the runtime after installing the dependency.

In that case, we need to add a note in the example to tell the user to restart the runtime if it's the 1st time execute the 1st cell installing apache-beam.

[2022-10-14 22:02] KevinGG commented on #23599
Removing the `--quiet` parameter, the warning is displayed at the end of the installation:
![ZyGPsLvqxYMucMb](https://user-images.githubusercontent.com/4423149/195950475-743aade5-7cc0-42bd-a4a7-a50265193d3c.png)

[2022-10-15 00:31] #23290 closed

[2022-10-17 08:29] ricardograca-scratch commented on #23290
Thanks everyone! The final solution looks great, and I wouldn't have minded doing the right thing to help the project, but it would have taken me a long time since I'm not familiar with the project internals.

[2022-10-17 12:31] alexeyinkin commented on #23367
.remove-labels 'awaiting triage'

[2022-10-17 14:15] damccorm commented on #21470
This hasn't caused CI to fail in current history of the cron job. I also tried running it 100 times locally and it didn't flake (`for i in {1..100} ; do (pytest -v apache_beam/runners/portability/fn_api_runner/fn_runner_test.py::FnApiRunnerSplitTest::test_split_half_sdf) ; done`)

[2022-10-17 14:15] #21470 closed

[2022-10-17 14:25] damccorm commented on #21118
This hasn't caused CI to fail within the current history (with the exception of [this one](https://ci-beam.apache.org/job/beam_PreCommit_Python_Cron/6230/consoleFull) where it looks like Jenkins itself may have flaked out and a whole suite all failed), and running it 100 times locally it didn't fail once (`for i in {1..100} ; do (pytest -v apache_beam/runners/portability/fn_api_runner/fn_runner_te

[2022-10-17 14:25] #21118 closed

[2022-10-17 14:35] alexeyinkin opened #23663 "[Task]: Use Dart's highlight package to highlight code blocks in Tour of Beam"
### What needs to happen?

The code blocks in a unit content are not highlighted as of #23592

We need to use Dart's highlight package on them.

### Issue Priority

Priority: 3

### Issue Component

Component: beam-playground

[2022-10-17 14:46] ahmedabu98 commented on #22010
.close-issue

[2022-10-17 14:49] ahmedabu98 commented on #22010
Closing issue because this test has been passing for the past couple of months

[2022-10-17 14:54] ahmedabu98 commented on #21271
.close-issue

[2022-10-17 14:55] ahmedabu98 commented on #21271
Closing because test has been passing consistently for the past couple of months

[2022-10-17 15:04] ahmedabu98 commented on #22288
Hey @steveniemitz, did #22289 fix the issue? Should this be closed?

[2022-10-17 15:05] ryanthompson591 commented on #21121
.take-issue

[2022-10-17 15:25] riteshghorse commented on #23640
.remove-labels 'P1'

[2022-10-17 15:29] cushon opened #23666 "[Bug]: FloatingPointLiteralPrecision error in TableRowToStorageApiProtoIT"
### What happened?

When compiling with JDK versions that include the fix for [JDK-4511638: Double.toString(double) sometimes produces incorrect results](https://bugs.openjdk.org/browse/JDK-4511638), I'm seeing this build error in `TableRowToStorageApiProtoIT.java`

[code]

### Issue Priority

Priority: 3

### Issue Component

Component: sdk-java-core

[2022-10-17 15:54] ryanthompson591 commented on #21121
This was reported in July 2021.  I looked through about 40 builds.

Example:
https://ci-beam.apache.org/job/beam_PreCommit_Python_Cron/6210/testReport/apache_beam.examples.streaming_wordcount_it_test/StreamingWordCountIT/

I couldn't find any flakes.  My best guess is that jenkins had some issues that are now resolved.

[2022-10-17 16:04] damccorm commented on #21114
It doesn't seem like this has caused a failure in the retained jenkins history, and I'm not able to get a repro even starting 26 concurrent runs (via 50 instances of calling `pytest -v apache_beam/io/gcp/bigquery_file_loads_test.py::BigQueryFileLoadsIT --test-pipeline-options='--runner=TestDataflowRunner --project=<my gcp project> --temp_location=gs://<my bucket> --sdk_location=dist/apache-beam-2.

[2022-10-17 16:04] #21114 closed

[2022-10-17 16:08] Abacn commented on #23631
.take-issue

[2022-10-17 16:13] ryanthompson591 commented on #21121
.close-issue

[2022-10-17 16:35] rizenfrmtheashes opened #23670 "[Bug]: Python WriteToBigQuery with File Loads and dynamic table destinations sometimes remove temp tables before copy finishes or is triggered."
### What happened?

We believe that in the Python SDK, for the GCP IO library, In `WriteToBigQuery`, using `file_loads` and dynamic table destinations, that sometimes in rare scenarios temp tables get removed via the `RemoveTempTables` ptransform before the prior Copy Jobs finish or even get kicked off.

We've only seen this occur under heavy load (many millions of rows) and high parallelism (beam

[2022-10-17 16:40] rizenfrmtheashes commented on #23670
.add-labels gcp,io,python

[2022-10-17 16:52] #22010 closed

[2022-10-17 17:03] #21271 closed

[2022-10-17 17:13] aromanenko-dev opened #23671 "[Bug]: TPC-DS Jenkins job doesn't read all data from partitioned files"
### What happened?

TPC-DS Jenkins job doesn't read all data from partitioned files from `gs://beam-tpcds/datasets/parquet/partitioned` path. It can be related to an internal structure of partitioned directories and files that are not properly matched with provided path pattern.

### Issue Priority

Priority: 2

### Issue Component

Component: testing-tpcds

[2022-10-17 17:35] pabloem commented on #22303
how should we triage this? should we assign it to @johnjcasey or @Abacn ?

[2022-10-17 17:38] ryanthompson591 commented on #22115
.take-issue

[2022-10-17 17:46] lukecwik commented on #23290
I'm happy that you're happy with the solution.

Hopefully we can spend more time with you on your next change.

[2022-10-17 17:55] apilloud commented on #23525
@egalpin @TheNeuralBit Is this fixed by #22216?

[2022-10-17 18:22] egalpin commented on #23525
@apilloud It's introduced by https://github.com/apache/beam/pull/22216 rather than fixed.  Part of the complexity, at least for me, is the multiple coders registered against the same class in [PubsubCoderProviderRegistrar](https://github.com/apache/beam/blob/693725d6017d2ef6572a12c8688caef5a601fa97/sdks/java/io/google-cloud-platform/src/main/java/org/apache/beam/sdk/io/gcp/pubsub/PubsubCoderProvid

[2022-10-17 18:23] chamikaramj commented on #23588
@johnjcasey can you determine if this should be a blocker for the Beam 2.43.0 release ?

If the fix is purely on the GCS client library side, I don't think we should block the Beam release on this.

I'm not sure if the workaround mentioned above apply to Beam BTW. "fs.gs.grpc.write.buffered.requests" seems like a Hadoop configuration option that does not apply to Beam. Not sure if changing the Bea

[2022-10-17 18:33] apilloud commented on #22913
This is the top flaky test in the suite. Recent failures:
https://ci-beam.apache.org/job/beam_PostCommit_Java_ValidatesRunner_Flink/10960/testReport/org.apache.beam.sdk.transforms/GroupByKeyTest$BasicTests/testAfterProcessingTimeContinuationTriggerUsingState/
https://ci-beam.apache.org/job/beam_PostCommit_Java_ValidatesRunner_Flink/10961/testReport/org.apache.beam.sdk.transforms/GroupByKeyTest$Bas

[2022-10-17 19:10] #22855 closed

[2022-10-17 20:13] lukecwik opened #23676 "[Bug]: WordCountIT.test_wordcount_impersonation_it failing"
### What happened?

https://github.com/apache/beam/pull/23644 causes Python PostCommit to fail.

Example:
https://ci-beam.apache.org/view/PostCommit/job/beam_PostCommit_Python39/974

[code]

This does cause other tests to fail since the credentials object isn't [reset](https://github.com/apache/beam/blob/10e15a96383de0bb1167d619e4d1fce5dd5b562b/sdks/python/apache_beam/examples/wordcount_it_test.py

[2022-10-17 20:17] tvalentyn commented on #23631
thanks, @Abacn for looking into this issue! in the event we cannot easily disable the not relevant logs, we could try to tee them into a file and save in GCS for manual inspection if necessary, and possibly move the portable tests into separate suite.

[2022-10-17 20:28] pabloem commented on #23627
keeping open to verify improvement in a few days

[2022-10-17 20:32] tvalentyn commented on #20824
This is very helpful, thank you so much, @rizenfrmtheashes .

As a next step, we should identify whether the error is caused in the drain logic, or this is a gap in BQ IO implementation (incorrect usage of BQ apis during the call in draining phase). I suspect it's the latter . Will try to find an owner for this to look closer.

[2022-10-17 20:45] #23666 closed

[2022-10-17 20:45] Abacn commented on #23631
Sorry, further investigation found that it actually can be dealt with 'log_level_overrides'. Currently flink runner seems not respecting this argument. The setting of log level overrides does not take effect, at least on client (job submission). Having a working code and will submit a change.

[2022-10-17 21:09] kileys commented on #19816
Ran 100x times with no repro and no recent failures on Jenkins. Closing this issue

[2022-10-17 21:09] #19816 closed

[2022-10-17 21:35] ahmedabu98 commented on #20824
There was a similar issue a few months ago where a pipeline in draining was running into similar errors. This connector used to throw and early error when a source URI (ie. file to load to BQ) is not provided. The other issue was mitigated with https://github.com/apache/beam/pull/17566/files where the error was replaced with a warning.

In contrast, the error in this issue looks like it's from Big

[2022-10-17 22:34] tvalentyn commented on #23670
cc: @ahmedabu98

[2022-10-18 00:57] robertwb commented on #20528
If we can't get someone to fix this we should at least throw an error ASAP, before the next release, e.g. rejecting all but known good windows (globals and fixed windows).

[2022-10-18 01:19] #23632 closed

[2022-10-18 03:22] alexeyinkin commented on #23663
.remove-label 'awaiting triage'

[2022-10-18 04:48] #23676 closed

[2022-10-18 05:56] alexeyinkin opened #23690 "[Task]: Adjustable font size in Tour of Beam"
### What needs to happen?

This is how font sizes currently compare on my 1920x1080 screen with the default Chrome settings:
![image](https://user-images.githubusercontent.com/44893228/196346942-90be23d8-7493-492a-9cf2-68be3c9ce454.png)

We should:
1. Make the sizes match the Beam website.
2. Ensure font size scales following browser settings.

### Issue Priority

Priority: 3

### Issue Component

[2022-10-18 07:53] mosche opened #23691 "[Feature Request]: Support the Flux query interface for InfluxDB"
### What would you like to happen?

Unfortunately InfluxQL is very limited. Many, rather basic types of queries can only be done using the [Flux query interface](https://docs.influxdata.com/influxdb/v1.8/flux/). E.g. extracting parts from a string for readability or also grouping by a dynamic set of columns as required to handle Java microbenchmark (JMH) params.

https://grafana.com/docs/grafana/v

[2022-10-18 07:54] mosche commented on #22238
Without Flux support it'll be hard to visualize the data https://github.com/apache/beam/issues/23691

[2022-10-18 08:12] bullet03 commented on #22694
.take-issue

[2022-10-18 10:09] alexeyinkin opened #23692 "[Task]: Tour of Beam Authentication: obtain and store OAuth2 tokens on frontend"
### What needs to happen?

Tour of Beam Authentication: obtain and store OAuth2 tokens on frontend

### Issue Priority

Priority: 3

### Issue Component

Component: beam-playground

[2022-10-18 10:18] nausharipov commented on #23692
.take-issue

[2022-10-18 10:47] rickiesmooth opened #23693 "[Bug]: apache_beam.io.kinesis module READ_DATA_URN mismatch"
### What happened?

versions:
apache-beam==2.41.0
apache-beam[gcp, aws]==2.41.0

when starting a DataFlow streaming job that uses `ReadDataFromKinesis`, I see that it registers the following transforms:
[code]
But I finally see the following error

[code]

So I tried patching the `ReadDataFromKinesis` class locally:
[code]
And that fixed the issue.

### Issue Priority

Priority: 1

### Issue Compo

[2022-10-18 13:52] mosche opened #23695 "[Bug]: Kotlin examples pre-commit test set is empty"
### What happened?

The gradle task definition for `{runner}PreCommit` was copy-pasted from the java example without adjusting test includes.
Currently no tests are run

### Issue Priority

Priority: 2

### Issue Component

Component: examples-java

[2022-10-18 14:38] johnjcasey commented on #23588
The fix may be in the libraries, but as long as we have a broken version of the library imported, I think this would could block the release. It would mean that users of use_grpc_for_gcs couldn't use 2.43. As such, I think this blocks the release, unless our policy is that it is fine for experiments to break for a version. @lukecwik @chamikaramj what is the standard here?

[2022-10-18 14:49] Abacn opened #23697 "[Bug]: beam_Publish_Beam_SDK_Snapshots fails"
### What happened?

No Snapshot container produced since Oct 14th.

Fail since https://ci-beam.apache.org/job/beam_Publish_Beam_SDK_Snapshots/4066/

Related to #23165

### Issue Priority

Priority: 1

### Issue Component

Component: test-failures

[2022-10-18 15:04] #23384 closed

[2022-10-18 15:16] BjornPrime commented on #21116
.take-issue

[2022-10-18 15:16] BjornPrime commented on #21643
.take-issue

[2022-10-18 15:16] BjornPrime commented on #20981
.take-issue

[2022-10-18 15:32] #23511 closed

[2022-10-18 15:42] damccorm commented on #23697
@kileys the first failure is at https://github.com/apache/beam/commit/117aa34bcef1a7854bbd894f7ffae036357aefe8 which looks suspiciously related to the error: `java17Home or java11Home property required. Re-run with -Pjava17Home or -Pjava11Home`

[2022-10-18 16:30] #22074 closed

[2022-10-18 16:46] ahmedabu98 commented on #20824
Could reproduce this with the following pipeline:
[code]

[2022-10-18 16:48] ahmedabu98 commented on #20824
I think it would be safe to log a warning and ignore the bundle in [`TriggerLoadJobs`](https://github.com/apache/beam/blob/fe41855c322e31dee2077d8cf3b95ad2fba85870/sdks/python/apache_beam/io/gcp/bigquery_file_loads.py#L649) if no files are there.

[2022-10-18 16:52] ryanthompson591 commented on #22115
I've hopefully fixed this in https://github.com/apache/beam/pull/23696.

However, I had two other theories on what could be going that I'm not sure about.

I'm going to note them here in case they turn out to be true:
1. It's possible _pick_unused_ports is running into a race case and picking an already used port and timing out. Ideally this would raise a different exception.
2. It's possible that

[2022-10-18 16:56] Abacn commented on #22115
Thanks @ryanthompson591. Case 1 is likely. I observe that in most case the time needed for setup is small, much less than 30 seconds. If it is just a performance issue the time should have some distribution.

[2022-10-18 16:58] ahmedabu98 commented on #20824
Although I'm having trouble identifying what exactly causes us to end up with empty `files` during draining.

[2022-10-18 17:10] tvalentyn opened #23704 "[Bug]: ValidatesContainer suite needs attention"
### What happened?

Two issues:

1) Sometimes a suite times out after 15 min: https://ci-beam.apache.org/job/beam_PostCommit_Py_ValCont/

2) We need to update gcloud on jenkins for this test to pass on Python 3.10.

We have an image and updated the worker #9, I'll try to update the rest.

### Issue Priority

Priority: 1

### Issue Component

Component: test-failures

[2022-10-18 17:31] Abacn commented on #21706
This only flakes on jenkins.

[2022-10-18 17:35] pabloem commented on #21714
@MarcoRob are you working on this?

[2022-10-18 17:38] #23640 closed

[2022-10-18 17:50] Abacn commented on #21714
@pabloem There was a draft PR #17473 seems not having updates for a while.

[2022-10-18 17:54] Abacn commented on #23573
Currently on hold as GitHub migration involves splitting postcommit tests. Downgrade to P2 for tracking if it still occurs when GitHub migration completed.

[2022-10-18 17:54] Abacn commented on #23573
.remove-labels P1

.add-labels P2

[2022-10-18 17:54] pabloem commented on #21714
hm from #17473 it seems more complex, huh? we'll see what I can do...

[2022-10-18 17:54] Abacn commented on #20930
Currently on hold as GitHub migration involves splitting postcommit tests. Downgrade to P2 for tracking if it still occurs when GitHub migration completed.

[2022-10-18 17:55] Abacn commented on #20930
.remove-labels P1

.add-labels P2

[2022-10-18 17:56] Abacn commented on #21714
That seems right. It indicates issues for the IO connector itself.

[2022-10-18 17:58] #21458 closed

[2022-10-18 17:58] #20982 closed

[2022-10-18 17:58] #21671 closed

[2022-10-18 18:00] #22192 closed

[2022-10-18 18:02] MarcoRob commented on #21714
Hi @pabloem
Yes I am working on it, just right now I am working on the migration of Github Actions (GA)

I consulted with Pulsar community and seems like the issue comes from the function that `seeks(timestamp)` the message from a timestamp it fails sometimes in retrieving the right message with the correct timestamp, so they advice me to use `seek(MessageId)` instead.  So I am working on changing

[2022-10-18 18:04] pabloem commented on #21714
gotcha. thanks @MarcoRob !

[2022-10-18 18:07] riteshghorse commented on #23385
.close-issue

[2022-10-18 18:19] pabloem commented on #21706
thanks @Abacn !

[2022-10-18 18:31] ryanthompson591 commented on #21556
.add-label done-and-done

[2022-10-18 18:33] #22743 closed

[2022-10-18 18:38] kennknowles commented on #19814
Did not flake in 100 runs on DirectRunner

[2022-10-18 18:45] Abacn commented on #21696
.take-issue

[2022-10-18 18:46] lukecwik commented on #23588
Typically rollback so that issues that were resolved are re-opened and those users will continue to have the same experience and we don't break anyone effectively deferring the fix.

Users who need the newer version of the library can choose to override the dependency version to 2.2.8 knowing that they get the fixes OR can use the experiment, not both.

[2022-10-18 18:51] Abacn commented on #21121
I actually encountered it a couple of times, most recently yesterday: https://ci-beam.apache.org/job/beam_PreCommit_Python_Commit/25312/console

Note that this test somehow not reported in "Test Result" but the logs show it is failing:
[code]

[2022-10-18 18:56] chamikaramj commented on #23588
I'm in favor of rolling back the original dependency upgrade (https://github.com/apache/beam/pull/23300).

Also, IIUC, Dataflow runner does not use the Conscrypt security provider by default unless experiment enable_conscrypt_security_provider is used (dependency upgrade was intended to fix an issue with Conscrypt).

Any affected users could manually upgrade the bigdataoss:gcsio library as Luke me

[2022-10-18 19:01] kennknowles commented on #19812
Ah I was just deflaking #19814 which is the same but includes Spark and Flink. Linking them via this comment.

[2022-10-18 19:02] kennknowles commented on #19814
Did not flake in 100 runs on Flink batch:

[code]

[2022-10-18 19:03] kennknowles commented on #19814
We do see a recent flake: https://ci-beam.apache.org/job/beam_PostCommit_Java_ValidatesRunner_Flink/10958/testReport/junit/org.apache.beam.sdk.transforms/ParDoLifecycleTest/testTeardownCalledAfterExceptionInProcessElementStateful/

[2022-10-18 19:04] scwhittle commented on #23588
Yes, that is fine to rollback, we can instruct them to upgrade the dependency themselves.

[2022-10-18 19:07] kennknowles commented on #19812
Ah, I see one is startbundle the other is finishbundle. Surely it is a common root cause anyhow.

[2022-10-18 19:14] kennknowles commented on #19814
Notably the flakes only occur in the stateful variant.

[2022-10-18 19:16] kennknowles commented on #19814
We do see recent flakes in Spark _batch_:

 - https://ci-beam.apache.org/job/beam_PostCommit_Java_ValidatesRunner_Spark/10934/testReport/org.apache.beam.sdk.transforms/ParDoLifecycleTest/testTeardownCalledAfterExceptionInProcessElement_4/

These may be the same root cause in the `StatefulDoFnRunner` but may be something else entirely having to do with exception handling in the runner. I will fork

[2022-10-18 19:18] kennknowles commented on #19814
Actually the Spark flake is not in a stateful variant.

[2022-10-18 19:20] kennknowles opened #23709 "[Flake]: Spark batch flakes in ParDoLifecycleTest.testTeardownCalledAfterExceptionInProcessElement and ParDoLifecycleTest.testTeardownCalledAfterExceptionInStartBundle"
### What happened?

This test has been historically flaky, and flaked here:

 - https://ci-beam.apache.org/job/beam_PostCommit_Java_ValidatesRunner_Spark/10934/ (https://scans.gradle.com/s/kqx3lxltwtorq#failure)

### Issue Priority

Priority: 1

### Issue Component

Component: runner-spark

[2022-10-18 19:23] jrmccluskey commented on #21645
The previous error message appears to be a red herring, as it occurs in test logs that have successful runs. These seem to continue to execute until the container is started up. This message, on the other hand, appears to be the common denominator in failing runs:

[code]

With the containerID being indicated as started in the log message before.

[2022-10-18 19:24] kennknowles commented on #19814
Despite recent flakes in Jenkins, this succeeded:

[code]

From the logs, it seems clear that the state of the chain moves to failed, and presumably it is taken down in a race condition with calling teardown.

[code]

[2022-10-18 19:28] kennknowles commented on #23709
Forked from #19814

[2022-10-18 19:28] Abacn commented on #22009
Not seen again, and not seen on cron job. close for now.

[2022-10-18 19:57] Abacn commented on #22009
.close-issue

[2022-10-18 20:06] #23697 closed

[2022-10-18 20:06] Abacn commented on #23286
Fix by #23286

[2022-10-18 20:26] kileys commented on #23286
Keeping it open for a bit longer to see if it keeps passing

[2022-10-18 20:42] Abacn opened #23713 "[Feature Request]: Support default log level and log level overrides for runners based on translators"
### What would you like to happen?

Currently log level and log level overrides are handled by fn harness: https://github.com/apache/beam/blob/9f40bbf9c3ba4227e696554426c66abee0f37e6f/sdks/java/harness/src/main/java/org/apache/beam/fn/harness/logging/BeamFnLoggingClient.java#L118

For PipelineRunners that run pipeline using translator, e.g., FlinkRunner, SparkRunner, but not involve fn harness, th

[2022-10-18 21:00] ahmedabu98 commented on #23670
this is most likely not a reality because of the [GBK here](https://github.com/apache/beam/blob/9f40bbf9c3ba4227e696554426c66abee0f37e6f/sdks/python/apache_beam/io/gcp/bigquery_file_loads.py#L1096). I'm wondering if that GBK is necessary (I think BQ ignores delete ops for non-existing tables so sending more than one request for a table should be fine). @pabloem WDYT? The GBK is an old addition but

[2022-10-18 21:08] ahmedabu98 commented on #23670
Although, the GBK maintains a boundary for retries here. Load to temp table and copy to destination steps are [fusible steps](https://cloud.google.com/dataflow/docs/guides/deploying-a-pipeline#fusion-optimization), and delete tables is it's own separate step. So any retries happening while deleting temp tables would not trigger a retry for the load and copy steps.

[2022-10-18 21:11] ahmedabu98 commented on #23670
@rizenfrmtheashes does this only happen with dynamic destinations? Also can you check your log timestamps and see if these errors start showing up near an autoscale event?

[2022-10-18 21:52] rizenfrmtheashes commented on #23670
I think it only happens with dynamic destinations because there aren't any remove table steps in static destinations.  That basically directly loads the data into destination table, instead of using a temp table intermediate step (there is some stuff around if some data hits some number thresholds to require partitioning that falls outside this, but that's an edge case).

I just checked the job I

[2022-10-18 21:54] kennknowles commented on #23709
Unfortunately not so easy to reproduce. This passed:

[code]

Either it depends on resource constraints on Jenkins due to concurrency or it flakes less often.

[2022-10-18 21:55] kennknowles commented on #23709
Leaving open but opportunistically moving to a bug I can repro. This one is in the unfortunate state where I know it is real so I can't close it but I cannot repro.

[2022-10-18 21:55] kennknowles commented on #19814
Leaving open but opportunistically moving to a bug I can repro. This one is in the unfortunate state where I know it is real so I can't close it but I cannot repro.

[2022-10-18 22:43] kennknowles commented on #21242
The recent flakes are only in a different method but I imagine it is the same regardless. Since I opened #23709 I will close this for that since it will be more obviously not stale.

[2022-10-18 22:43] #21242 closed

[2022-10-18 22:45] kennknowles commented on #21266
This is the same as #19814

[2022-10-18 22:45] #21266 closed

[2022-10-18 22:52] kennknowles commented on #22590
Browsing https://github.com/apache/beam/actions/workflows/java_tests.yml?page=2&query=event%3Aschedule I don't see this happening any more.

[2022-10-18 22:52] #22590 closed

[2022-10-18 23:51] kennknowles commented on #20331
Could not reproduce flake

[code]

And do not see it any time recently at https://ci-beam.apache.org/job/beam_PreCommit_Java_Cron/test_results_analyzer/

[2022-10-18 23:51] #20331 closed

[2022-10-18 23:52] #23385 closed

[2022-10-19 00:09] kennknowles commented on #21533
Confirmed this on my first try: https://scans.gradle.com/s/s3rz2sggpks4m/tests/:sdks:java:io:google-cloud-platform:test/org.apache.beam.sdk.io.gcp.spanner.changestreams.SpannerChangeStreamErrorTest/testUnavailableExceptionRetries?top-execution=1

[2022-10-19 00:24] Abacn commented on #21480
See it again: https://ci-beam.apache.org/job/beam_PreCommit_Java_Commit/24453/testReport/junit/org.apache.beam.runners.flink/FlinkRunnerTest/testEnsureStdoutStdErrIsRestored/

[2022-10-19 00:36] #22009 closed

[2022-10-19 03:10] chamikaramj opened #23717 "[Bug]: PythonDataframeWordCount broken for Beam 2.42.0 release with default expansion service"
### What happened?

I'm getting following error when trying to run PythonDataframeWordCount according to instructions [here](https://beam.apache.org/documentation/sdks/java-multi-language-pipelines/).

[code]

This seems to be due to the "--pickle_library=cloudpickle" option which was added here: https://github.com/apache/beam/pull/23111

https://github.com/apache/beam/issues/22714 might be relate

[2022-10-19 03:13] kennknowles commented on #21706
There is no sign of an infrastructure failure. This appears to be an actually-possible execution that fails. This suggests a race condition to me, and the heavy load on the Jenkins workers causes it.

[2022-10-19 03:15] kennknowles commented on #21706
Based on it being a timeout I would guess deadlock (assuming 3 seconds is many orders of magnitude more than a successful run takes). Something to do with a concurrent map used in the dynamic timers? I don't know what this looks like in the Python codebase.

[2022-10-19 05:53] chamikaramj opened #23722 "[Feature Request]: Multi-lang Java quickstart should run with released Beam"
### What would you like to happen?

Current instructions are for running the pipeline from HEAD and can be unstable for some users.

### Issue Priority

Priority: 2

### Issue Component

Component: cross-language

[2022-10-19 07:26] janhicken commented on #21592
As of Apache Beam 2.42.0, we cannot create instances of `BigtableDataClient` any more, because a `NoSuchMethodError` is thrown. It seems to be related to this dependency issue.

Stack trace:
[code]

[2022-10-19 08:39] dakl commented on #19711
Any updated on this? It's an amazingly annoying bug.

[2022-10-19 11:10] #23039 closed

[2022-10-19 11:24] #23470 closed

[2022-10-19 11:25] #23465 closed

[2022-10-19 11:25] #23464 closed

[2022-10-19 11:25] #23463 closed

[2022-10-19 11:31] gowtham3 opened #23723 "[Bug]: kafkaio.Read pipeline from go sdk client gives `no root units` error"
### What happened?

I'm trying to use apache beam go sdk to listen to messages from kafka. This is how I'm trying to use kafkaio library to connect to kafka.

[code]

I followed the instructions given in https://github.com/apache/beam/blob/master/sdks/go/examples/kafka/taxi.go example to write this. I have kafka setup and running locally. As instructed, I also have the expansion service running to

[2022-10-19 14:53] jrmccluskey commented on #21464
Test is passing on CI, cannot reproduce.

[2022-10-19 14:53] #21464 closed

[2022-10-19 15:03] johnjcasey commented on #23588
created a rollback PR

[2022-10-19 15:08] ahmedabu98 commented on #23670
So you're right that the load to temp --> copy --> delete temp route is always chosen for dynamic destinations. However, this does also get triggered by large loads that don't fit in a single load job. So I'm wondering if this issue is unique to dynamic destinations or if it's for all writes that take this alternative route.

[2022-10-19 15:24] RobMcKiernan commented on #23433
I'm still experiencing this. Is this likely to be fixed?:
[code]

[2022-10-19 15:25] RobMcKiernan commented on #23433
@aamontree are you able to reopen this issue?

[2022-10-19 15:29] mosche opened #23728 "[Task]: Prepare removal of Spark2 runner"
### What needs to happen?

The Spark 2 has been deprecated for a while. Even more significant, it's actually in a badly broken state since long due to classpath issues when running on a Spark cluster (#23568).

Before Spark 2 support can be removed, all documentation and dependent components should be migrated to use Spark 3.

Notes:
- [x] Test examples against Spark 3
- [x] Java Quickstart on Spa

[2022-10-19 15:31] ahmedabu98 commented on #22983
FYI between the [noon](https://ci-beam.apache.org/job/beam_PostCommit_Python_Examples_Dataflow/1013/testReport/) and [evening](https://ci-beam.apache.org/job/beam_PostCommit_Python_Examples_Dataflow/1014/testReport/) cron runs, a bunch of tests disappeared from the list. They don't seem to be included in the run anymore despite no changes being made recently to the individual tests nor the [gradle

[2022-10-19 16:07] rizenfrmtheashes commented on #23670
You're right.  I haven't reproduced (or had the time to reproduce) the case you're talking about, but I doubt it's just isolated to dynamic table destinations. I suspect the error also occurs for large direct loads like you're describing, since there isn't much different code wise in either situation.

[2022-10-19 16:29] chamikaramj commented on #23588
Sounds good. Thanks.

[2022-10-19 16:55] Abacn commented on #21121
Also see in: https://ci-beam.apache.org/job/beam_PreCommit_Python_Commit/25339/

[2022-10-19 17:27] #21270 closed

[2022-10-19 17:33] johnjcasey commented on #21257
I attempted to reproduce this:
[code]
Running the above 100 times did not result in any failures, so I believe this issue is not current.

[2022-10-19 17:33] #21257 closed

[2022-10-19 17:37] tvalentyn commented on #23704
Jenkins VMs have been updated

[2022-10-19 17:40] AnandInguva commented on #23261
.take-issue

[2022-10-19 17:41] BjornPrime commented on #20981
.close-issue

[2022-10-19 18:13] kennknowles commented on #21533
So far 100% failure rate, not flaking.

[2022-10-19 18:25] kennknowles commented on #21533
Seems the test is expecting a particular proto class in a mock, so it isn't lining up with expected results

[2022-10-19 18:39] AnandInguva opened #23734 "[Bug]: Py310 unittests on MacOS are failing"
### What happened?

Python 3.10 unit tests are failing on MacOS. Could be related to newer version of `grpcio` released on October 18, 2022.
https://github.com/apache/beam/actions/runs/3278125487/jobs/5396167668

### Issue Priority

Priority: 1

### Issue Component

Component: test-failures

[2022-10-19 18:40] AnandInguva commented on #23734
.add-labels "failing test"

[2022-10-19 18:41] tvalentyn commented on #22321
[code]

[2022-10-19 18:42] tvalentyn commented on #22321
failed in https://ci-beam.apache.org/job/beam_PreCommit_Python_Phrase/3168/testReport/junit/apache_beam.runners.portability.portable_runner_test/PortableRunnerTestWithExternalEnv/test_pardo_large_input_2/

[2022-10-19 19:06] japerry911 opened #23736 "[Bug]: Macbook M1 Chip cannot not install `apache-beam==2.42.0` distribution"
### What happened?

I am currently on Python 3.9.13 with a Macbook Pro m1 Chip and I am trying to install the latest `apache-beam` version, `2.42.0`. I have tried to utilize the latest `pip`, and have utilized `poetry` as well with no luck.

It currently responds with the following error:

[code]

Is there any workarounds for this, or something that I am potentially doing wrong? We currently need

[2022-10-19 19:29] kennknowles commented on #21533
@zoercai @thiagotnunes this test is now a hard failure. It looks like it is caused by the way it uses mocking, even though the results of a retry may be fine.

[2022-10-19 20:08] #20981 closed

[2022-10-19 20:18] #23592 closed

[2022-10-19 20:25] Abacn commented on #23736
I believe this is due to the PyPi distribution has incorrect name "
apache-beam-2.42.0rc00.zip" (https://pypi.org/project/apache-beam/2.42.0/#files) instead of "
apache-beam-2.42.0.zip" as for 2.41.0: https://pypi.org/project/apache-beam/2.41.0/#files

[2022-10-19 20:26] Abacn commented on #23736
CC: @lostluck

[2022-10-19 20:32] apilloud commented on #23525
Only a small subset of dataflow users care about upgrade compatibility and we don't actually guarantee it is forever. As long as there is some path (it could require a code change by the user, such as explicitly declaring the old coder) to produce the previous behavior that should be sufficient.

[2022-10-19 20:56] pabloem commented on #21104
I'm having lots of trouble reproducing this failure...

[2022-10-19 20:58] pabloem commented on #21104
but I'm trying to : )

[2022-10-19 21:19] riteshghorse opened #23741 "[Feature Request][Python SDK]: Add image_uri field to the response from GCP Vision API"
### What would you like to happen?

Currently, the GCP Vision API implemented in python SDK doesn't return the image_uri which makes it difficult to know which image does the response correspond to.

### Issue Priority

Priority: 2

### Issue Component

Component: sdk-py-core

[2022-10-19 22:02] tvalentyn commented on #21104
may be one of those tests that fail on jenkins only (when run together w/ a bunch of tests)... i saw it today in a linked issue

[2022-10-19 22:02] Abacn commented on #23736
PyPI source distribution is underway. For now a workaround could be install the source from apache dist:  pip install https://dist.apache.org/repos/dist/dev/beam/2.42.0/python/apache-beam-2.42.0.zip

[2022-10-19 22:05] pabloem commented on #21104
i got it to reproduce a couple of times on my machine in non-cython. I'm adding logging to see what happens

[2022-10-19 22:10] japerry911 commented on #23736
Thank you so much @Abacn ! I appreciate it :)

[2022-10-19 22:12] tvalentyn commented on #21104
nice, did you run a single test?

[2022-10-19 22:19] svetakvsundhar commented on #22909
can close this issue 🥳 (sry i dont have perms i dont think)

[2022-10-19 22:20] chamikaramj commented on #21706
Hi folks,

Is this an actual blocker for the 2.43.0 release ? Seems like it was added to the milestone automatically.

[2022-10-19 22:22] chamikaramj commented on #23355
Moving this to next milestone since Tensorflow 2.11 has not been released yet.

[2022-10-19 22:23] kennknowles commented on #21111
Agree. The separation of `core-construction-java` was to keep protobuf out of the core dependencies. That is clearly obsolete. The separation of `java-fn-execution` I don't know. I assume it had something to do with the SDK harness and runners sharing the logic there?

[2022-10-19 22:24] kennknowles commented on #21111
To mitigate this, we should have all the runners depend on core-construction so it is always on the classpath.

[2022-10-19 22:25] kennknowles commented on #21111
(until we feel like taking the time to merge the modules)

[2022-10-19 22:25] tomaspiaggio commented on #23741
I have this implemented. I can create a PR.

[2022-10-19 22:59] #22909 closed

[2022-10-19 23:00] TheNeuralBit commented on #22909
woohoo! Thanks @svetakvsundhar

[2022-10-19 23:28] pabloem commented on #21104
I got it to repro by runnig the full class of tests (FnApiRunnerTestWithGrpcAndMultiWorkers)

[2022-10-19 23:31] thiagotnunes commented on #21533
@nancyxu123

[2022-10-19 23:53] tvalentyn commented on #20981
seems a duplicate of https://github.com/apache/beam/issues/21104.

[2022-10-19 23:55] japerry911 commented on #23736
This works, and it's uploaded, closing. Thank you team!

[2022-10-19 23:55] #23736 closed

[2022-10-20 00:45] AnandInguva commented on #23734
Partial fix: https://github.com/apache/beam/pull/23735 is to pin a version to grpcio only for MacOS. I was able to pass this locally but it fails on GH actiions.

[2022-10-20 01:16] kennknowles opened #23745 "[Bug]: Samza AsyncDoFnRunnerTest.testSimplePipeline is flaky"
### What happened?

On an unrelated PR, this failure occurred: https://ci-beam.apache.org/job/beam_PreCommit_Java_Commit/24482/testReport/junit/org.apache.beam.runners.samza.runtime/AsyncDoFnRunnerTest/testSimplePipeline/

[code]

### Issue Priority

Priority: 1

### Issue Component

Component: runner-samza

[2022-10-20 03:16] ruodingt opened #23746 "[Feature Request]: WriteToBigquery should offer a callback to deeply customise destination & element to BQ"
### What would you like to happen?

Hi, Beam community,

I very much like the feature WriteToBigquery offering to dynamically deciding the `table`:

https://github.com/apache/beam/blob/6adecd438790d8c1b5182043db16232b68ff7a98/sdks/python/apache_beam/io/gcp/bigquery.py#L1788

I am thinking about a potential improvement opportunity. Currently `WriteToBigquery` supports either dict or TableRow, and i

[2022-10-20 03:27] haoyuche opened #23747 "[Bug]: After JDBCIO read withRowOutput(), the VARCHAR/TEXT -> LOGICAL_TYPE and not compatible with SqlTypeName"
### What happened?

        PCollection<Row> rows = pipeline.apply(JdbcIO.<Row>readWithPartitions()
                .withDataSourceConfiguration(JdbcIO.DataSourceConfiguration.create(
                        input.driverClassName, input.url)
                        .withUsername(input.username)
                        .withPassword(input.password))
                .withTable(input.tableName)

[2022-10-20 07:40] scwhittle commented on #21492
.reopen-issue

[2022-10-20 07:44] scwhittle commented on #21492
Reopening as #23300 is being rolled back due to #23588

Workarounds in the meantime are to:
- not enable the conscrypt security provider via enable_conscrypt_security_provider experiment
- update the bigdataoss:gcsio library used manually to 2.2.8 (and not use use_grpc_for_gcs experiment)

[2022-10-20 08:54] mosche opened #23750 "[Task]: Remove {runner}PreCommit tasks from :examples:java"
### What needs to happen?

It looks like these tasks are obsolete and not triggered anymore.
Instead the respective runners contain a task `examplesIntegrationTest`.

cc @benWize

### Issue Priority

Priority: 3

### Issue Component

Component: examples-java

[2022-10-20 11:24] olehborysevych opened #23752 "[Playground] [Task] Remove redis cache from PG code and Infrastructure"
### What needs to happen?
After we have performance tests we need to consider removing redis cache from Playground codebase and infrastructure

### Issue Priority
Priority: 3

### Issue Component
Component: beam-playground

[2022-10-20 14:45] damccorm commented on #23734
@AnandInguva looks like it is now working with your fix on master - https://github.com/apache/beam/actions/runs/3286759714/jobs/5415213138

[2022-10-20 15:08] BjornPrime commented on #20981
It looks like different specific tests are failing, though in the same class. Definitely could be related. Also interesting that Pablo managed to repro those by running the whole class. I'll give that a shot and see if it repros any of these.

[2022-10-20 15:23] #23588 closed

[2022-10-20 15:36] johnjcasey commented on #22299
is there a particular reason to not just put connection setup logic into @setup?

[2022-10-20 15:46] yeandy opened #23756 "[Bug]: TensorFlow RunInference signature dtype issue"
### What happened?

I am trying to use the TensorFlow MobileNet v2 320x320 [model](https://github.com/tensorflow/models/blob/master/research/object_detection/g3doc/tf2_detection_zoo.md) model in RunInference using the [API from tfx_bsl](https://github.com/tensorflow/tfx-bsl/blob/master/tfx_bsl/public/beam/run_inference.py).

But I'm running into this error. Please see this [PR](https://github.com/

[2022-10-20 16:36] johnjcasey commented on #22299
looking at this more, it can't be in @setup, but it may be possible to use @startbundle instead

[2022-10-20 17:15] Abacn commented on #22299
Context of last change: #12209

[2022-10-20 17:20] BjornPrime commented on #21643
.close-issue

[2022-10-20 17:25] demongolem-biz opened #23758 "[Bug]: Cannot run Python wordcount quickstart example, ModuleNotFoundError"
### What happened?

WIth python 3.8 on rhel 8, I ran `python3.8 -m apache_beam.examples.wordcount`.  I did this from a fresh virtual environment where I pip installed apache-beam.

The error I get is `ModuleNotFoundError: No module named 'apache_beam.portability.api`.  This exception is raised in `apache_beam/portability/common_urns.py` on line 22 with the line `from .api import beam_runner_api_pb

[2022-10-20 17:32] ryanthompson591 commented on #21121
Just wanted to update with what I did in case I don't come back to this.

Getting this test to run locally entailed two things.

1. Change the timeout from 6 minutes to 12 minutes. This is because if you run it locally it takes 3 minutes to even start up dataflow and the test will time out.
2.  Here's a command to run it --

[code]
or
[code]

I checked the dataflow job that was linked in [Abacn](h

[2022-10-20 17:45] #21404 closed

[2022-10-20 17:46] kileys commented on #22728
Can't repro

[2022-10-20 17:46] #22728 closed

[2022-10-20 17:48] riteshghorse commented on #23717
FYI, I was getting the similar error while implementing wrapper in Go SDK. After skipping the flag, it passes successfully.

[2022-10-20 18:10] AnandInguva commented on #23734
Yes, we can downgrade this to P2. But still, it doesn't explain why the sdist of grpcio is failing on MacOS.

Is there a way to SSH into the GH workers and check why the sdist failing? @damccorm

[2022-10-20 18:10] AnandInguva commented on #23734
.add-labels P2

[2022-10-20 18:11] BjornPrime commented on #21116
.close-issue

[2022-10-20 18:12] svetakvsundhar opened #23760 "[Bug]: Importing bigquery_schema_tools.py needed to utilize read_gbq."
### What happened?

When utilizing `apache_beam.dataframe.io.read_gbq`, we see an error as described in the image.
<img width="1205" alt="Screen Shot 2022-10-19 at 1 13 11 PM" src="https://user-images.githubusercontent.com/26037657/197025025-574be904-e2fc-4511-b986-9a5a04599d1d.png">

A workaround to this is to add `from apache_beam.io.gcp import bigquery_schema_tools` to the Python file that call

[2022-10-20 18:13] svetakvsundhar commented on #23760
.take-issue

[2022-10-20 18:27] damccorm commented on #23734
Technically, yes - https://github.com/appleboy/ssh-action - but we can't add that action to the main beam repo because its a big security hole. If you want to go that route, I'd recommend doing it on a fork of the repo. You might be better off just scripting commands to run in your fork and checking them in as actions steps though

[2022-10-20 19:07] damccorm opened #23763 "[Bug]: Periodic sequence never updates the watermark"
### What happened?

Right now, if you have a streaming job with periodic impulse as your source, the watermark will not get updated until the periodic impulse completes.

This means that if you have something like:

[code]

the pipeline will hang indefinitely and never log anything. If we properly emitted watermarks, it would log output every 2 seconds.

### Issue Priority

Priority: 2

### Issue

[2022-10-20 19:13] lukecwik opened #23764 "[Bug]: [Python] Dataflow jobs fail if GcsIO initializes credentials"
### What happened?

https://github.com/apache/beam/pull/23644 (and a partial fix in https://github.com/apache/beam/pull/23677) breaks certain pipelines if gcsio.py initializes credentials first.

gcsio.py currently passes around dictionaries in certain situations instead of PipelineOptions types causing authentication to give up due to the following error:
[code]

This causes pipelines to fail wit

[2022-10-20 19:34] Abacn commented on #23763
Wondering if this is the cause of #22776

[2022-10-20 19:46] Abacn commented on #23764
Also see in: https://ci-beam.apache.org/job/beam_PostCommit_Python_Examples_Dataflow/999/

[2022-10-20 20:09] damccorm commented on #23763
Scratch that - my original analysis was right and we need to explicitly truncate. The drain I thought I saw was actually just my test framework cancelling the job 😳 Explicitly truncating works perfectly though, I'll put up a PR for that shortly.

[2022-10-20 20:34] damccorm commented on #23756
This is related to https://github.com/apache/beam/issues/23584 which is caused by https://github.com/tensorflow/tfx-bsl/blob/49baf317527cc53d2dfb7d6c37b59757cd6d83a8/tfx_bsl/beam/run_inference.py#L626 - basically tfx-bsl's implementation of their model handler requires a string

You can workaround it by adding a tf.function like we do in our notebook to convert from string records to uint8 records

[2022-10-20 20:39] riteshghorse commented on #23741
Please raise a PR for review. Thanks for working on it.

[2022-10-20 21:03] yeandy commented on #23756
Thanks for the info. This confirms what I was seeing. @AnandInguva also pointed me to his PR https://github.com/apache/beam/pull/23456 that introduces a helper function to assist with this conversion.

[2022-10-20 21:14] #20109 closed

[2022-10-20 21:25] tvalentyn commented on #23758
Are you by chance a Macbook M1 user ?

[2022-10-20 21:25] tvalentyn commented on #23758
nvm, i saw you mentioned rhel 8

[2022-10-20 21:26] tvalentyn commented on #23758
would you mind posting full sequence of commands you run?

[2022-10-20 22:23] TheNeuralBit opened #23768 "[Bug]: beam_PostCommit_Py_VR_Dataflow is failing in `translations_test.TranslationsTest.test_run_packable_combine_{globally,limit}`"
### What happened?

Failing tests:
- `apache_beam.runners.portability.fn_api_runner.translations_test.TranslationsTest.test_run_packable_combine_globally`
- `apache_beam.runners.portability.fn_api_runner.translations_test.TranslationsTest.test_run_packable_combine_limit`

First failure: https://ci-beam.apache.org/job/beam_PostCommit_Py_VR_Dataflow/9972/

I don't see an obvious culprit commit in th

[2022-10-20 22:24] TheNeuralBit commented on #23768
@riteshghorse could you take a look at this?

[2022-10-20 22:47] chamikaramj commented on #20528
@tvalentyn any updates here ?

[2022-10-20 22:50] tvalentyn commented on #20528
started working on this today, no PR yet.

[2022-10-20 22:53] #23261 closed

[2022-10-20 22:59] TheNeuralBit commented on #23760
### What went wrong?

The issue here is that we were accessing the `apache_beam.io.gcp.bigquery_schema_tools` package through the overall `beam` import (i.e. accessing  `import beam; beam.io.gcp.bigquery_schema_tools`), rather than importing it directly as we typically do (i.e. `from apache_beam.io.gcp import bigquery_schema_tools`) . Unfortunately it seems the bigquery_schema_tools package is not

[2022-10-21 01:20] svetakvsundhar commented on #23760
-I agree with this reasoning. I ran an experiment on the test file removing the `apache_beam.io.gcp.bigquery_schema_tools` import, and the error surfaced on the IDE.

[2022-10-21 01:22] #23764 closed

[2022-10-21 01:32] kennknowles commented on #20815
According to https://ci-beam.apache.org/job/beam_PostCommit_Java_ValidatesRunner_Direct/test_results_analyzer/ this has not flaked in 100 runs. I also could not reproduce. It is not disabled so we can just close this.

[2022-10-21 01:32] #20815 closed

[2022-10-21 01:47] kennknowles commented on #20937
There were fixes in https://github.com/apache/beam/pull/22612 so I will try to reproduce this.

[2022-10-21 06:20] alexeyinkin opened #23774 "[Task]: Scroll to a line with a hidden comment"
### What needs to happen?

Currently examples use `conext-line` hidden comment with an index of a line to scroll to.
Allow to mark a line with `// scroll-to` comment instead.

### Issue Priority

Priority: 3

### Issue Component

Component: beam-playground

[2022-10-21 10:11] mosche commented on #23568
Unfortunately classpath issues are a common trouble both with Beam and Spark.
From Beam's perspective this is a `NO FIX`, downgrading Jackson to the old version used by Spark 2.4 is obviously not an option.

Spark offers a workaround to handle this using [`userClassPathFirst`](https://spark.apache.org/docs/latest/configuration.html):

Property Name | Default | Meaning | Since Version
-- | -- | --

[2022-10-21 10:11] #23568 closed

[2022-10-21 12:38] #23440 closed

[2022-10-21 12:41] mosche commented on #22758
Duplicate of https://github.com/apache/beam/issues/23709

[2022-10-21 12:41] #22758 closed

[2022-10-21 13:17] mosche commented on #21340
Fixed as part of https://github.com/apache/beam/pull/16438

[2022-10-21 13:17] #21340 closed

[2022-10-21 13:21] #20995 closed

[2022-10-21 13:41] mosche commented on #20292
obsolete

[2022-10-21 13:41] #20292 closed

[2022-10-21 13:44] mosche commented on #20241
Might become an option later in 2023 again once [Project Lightspeed](https://databricks.com/blog/2022/06/28/project-lightspeed-faster-and-simpler-stream-processing-with-apache-spark.html) is completed, closing for now

[2022-10-21 13:44] #20241 closed

[2022-10-21 13:50] RustedBones commented on #21935
Recent changes on java SDK for coder validation are affecting scio: https://github.com/spotify/scio/pull/4549

In scio, we wrap coders into a thin layer able to reference user code in the exception stack trace upon failure.
Here, as you are checking strict equality, users MUST use beam's `KVCoder` and `IterableCoder` which makes things difficult for customization

[2022-10-21 13:56] egalpin commented on #23525
Good idea, I'll start a thread on dev list

[2022-10-21 14:11] mosche commented on #20158
Streaming support is not feasible at the moment https://github.com/apache/beam/issues/20241

[2022-10-21 14:11] #20158 closed

[2022-10-21 14:16] mosche commented on #19999
Fixed with https://github.com/apache/beam/issues/22445

[2022-10-21 14:16] #19999 closed

[2022-10-21 14:18] mosche commented on #19989
Fixed with https://github.com/apache/beam/issues/22445

[2022-10-21 14:18] #19989 closed

[2022-10-21 14:21] mosche commented on #19914
Obsolete

[2022-10-21 14:21] #19914 closed

[2022-10-21 14:30] #23449 closed

[2022-10-21 14:42] mosche commented on #20224
Duplicate of https://github.com/apache/beam/issues/20224

[2022-10-21 14:42] #20224 closed

[2022-10-21 14:53] AnandInguva commented on #23734
Thanks Danny. I will try to debug that way.

[2022-10-21 15:05] riteshghorse commented on #23768
Sure

[2022-10-21 15:20] johnjcasey commented on #22715
this has been fixed, see #22962

[2022-10-21 15:20] #22715 closed

[2022-10-21 15:25] #23760 closed

[2022-10-21 16:50] aromanenko-dev commented on #23728
Should all sub-tasks be finished within one Beam release or it's not required?

[2022-10-21 16:51] #23722 closed

[2022-10-21 17:25] riteshghorse commented on #23768
Looks like the build is green again

[2022-10-21 18:36] #20937 closed

[2022-10-21 18:52] kennknowles commented on #22321
Is this a dupe of #21643 or related?

[2022-10-21 18:53] kennknowles commented on #22321
@BjornPrime

[2022-10-21 18:56] tvalentyn commented on #19241
@andoni-guzman @benWize hi folks, just checking if this is something you'll be able to look at. Thanks!

[2022-10-21 18:57] kennknowles commented on #21463
This was already not flaking at the time of migration to GitHub Issues and has not flaked in all the Jenkins history that we have.

[2022-10-21 18:57] #21463 closed

[2022-10-21 19:05] BjornPrime commented on #22321
It does look like it's failing on the same test but the errors seem different enough that I don't think it's the same.

[2022-10-21 20:32] pabloem commented on #21104
fwiw this is the error stack that I'm able to reproduce:

[code]

[2022-10-21 21:33] kennknowles commented on #20655
This is not a flake but a hard failure from what I can tell:

[code]

[2022-10-21 21:34] kennknowles commented on #20655
A few more causes and digging in to the log we get

[code]

[2022-10-21 21:37] kennknowles commented on #20655
I don't know these details of Flink but I think this is simply a limitation of the portable runner and I will make this a P2 since it has never worked. It does seem that the non-portable Flink runner supports keys above 10mb, but disables keys above 100mb.

I don't know who might know about this. @chamikaramj ? @robertwb ? @je-ik ?

[2022-10-21 21:52] kennknowles commented on #20977
Didn't repro, and isn't disabled or flaking now.

[code]

[2022-10-21 21:52] #20977 closed

[2022-10-21 21:53] Abacn commented on #21696
The original failure was due to that the job server artifact of flink 1.12 has long stopped updating (https://pantheon.corp.google.com/gcr/images/apache-beam-testing/global/beam_portability/beam_flink1.12_job_server). Switched to using Flink 1.13, now all jobs are having same error:

[code]

[2022-10-21 22:28] kennknowles commented on #21935
Ah, interesting. The reason for it is that a runner needs to be able to understand the format in order to handle the element for GBK and state operations, and is expected to output from GBK in a standard format. Is there a way to have the wrapper in the Java layer but move the check to the portability layer perhaps?

[2022-10-21 23:23] TheNeuralBit commented on #21643
Did we just decide to close this because the test is disabled?

[2022-10-21 23:57] #23768 closed

[2022-10-22 05:12] reuvenlax opened #23794 "[Bug]: Storage Write API client hanging forever on shutdown"
### What happened?

The write client hangs forever on shutdown

### Issue Priority

Priority: 0

### Issue Component

Component: io-java-gcp

[2022-10-23 15:55] Abacn commented on #21696
Turns out that even specifying `flink-snapshot-url=https://archive.apache.org/dist/flink/flink-1.13.6/flink-1.13.6-bin-scala_2.12.tgz` the flink version on dataproc is still 1.12.5 (see https://cloud.google.com/dataproc/docs/concepts/versioning/dataproc-release-2.0). The latest error message is definitely due to inconsistent flink versions.

[2022-10-23 18:25] Abacn commented on #21364
no obsolete. The latest error message is https://github.com/apache/beam/issues/21696#issuecomment-1287472367

close this for now and future investigation will done in #21696

[2022-10-23 18:26] Abacn commented on #21364
.close-issue "not planned"

[2022-10-23 18:26] #21364 closed

[2022-10-23 18:27] Abacn commented on #21364
.close-issue not_planned

[2022-10-24 05:19] chamikaramj commented on #23717
Cherry-pick: https://github.com/apache/beam/pull/23798

[2022-10-24 05:30] vchunikhin opened #23799 "[Playground][Backend][Task]: Dataset processing with python scripts to deploy examples"
### What needs to happen?

To run emulator-enabled examples python scripts have to process examples with specific tags

### Issue Priority

Priority: 2

### Issue Component

Component: beam-playground

[2022-10-24 05:30] vchunikhin commented on #23799
.take-issue

[2022-10-24 06:53] mosche commented on #23728
No need for that, these tasks are pretty independent.

[2022-10-24 07:19] #23206 closed

[2022-10-24 08:50] mosche opened #23801 "[Task]: Update roadmap for Spark runner"
### What needs to happen?

The Spark related roadmap is far outdated and needs some attention.

- Spark 3 is fully supported.
- Spark dataset runner is on it's way.

### Issue Priority

Priority: 2

### Issue Component

Component: runner-spark

[2022-10-24 08:53] gabrywu commented on #23368
Sure, Thanks very much. I achieve it internally, you can @ me to help to review codes.

[2022-10-24 09:04] phoerious commented on #21598
Folks, this is a deal breaker. It happens ALL THE TIME. It is literally impossible to run any large job on Beam with Apache Flink and I have no idea how to fix it. I would submit a pull request, but I need a pointer where to start looking.

[2022-10-24 12:06] aromanenko-dev opened #23804 "[Task]: Bump Spark3 version to 3.2.2"
### What needs to happen?

Bump Spark3 version to 3.2.2 as a main Spark version in Beam

### Issue Priority

Priority: 2

### Issue Component

Component: runner-spark

[2022-10-24 14:24] tvalentyn commented on #20528
Does not seem to repro with sessions.  Passing test:

[code]

[2022-10-24 14:43] Abacn commented on #23747
Thanks for reporting this. It looks like the cause is CalciteUtil here: https://github.com/apache/beam/blob/4ffeae4d2b800f2df36d2ea2eab549f2204d5691/sdks/java/extensions/sql/src/main/java/org/apache/beam/sdk/extensions/sql/impl/utils/CalciteUtils.java#L224
does not consider the logical type FieldType.

[2022-10-24 15:31] #20824 closed

[2022-10-24 16:59] BjornPrime commented on #21643
I closed it (probably prematurely) because I couldn't repro the test failure. I created https://github.com/apache/beam/pull/23788 to re-enable the test but now that's failing a lot of checks so I'll need to look into it further.

[2022-10-24 17:04] pabloem commented on #21104
From latest repro:
[code]

Doing more research...

[2022-10-24 17:15] Abacn commented on #23747
.remove-labels P0, "awaiting triage"

.set_labels P2

[2022-10-24 17:17] Johnny11502 commented on #23101
@lostluck  Sorry for the lack of updates but I did end up completing a different issue for my assignment. This was one of the three I chose in case I had issues getting the first one assigned to me. I appreciate you allowing me to keep it for so long, Thank you.

[2022-10-24 17:30] lukecwik opened #23809 "[Bug]: MoreFutures.allAsList/allAsListWithExceptions does not allow mutation of passed in list"
### What happened?

Source of bug report: https://github.com/apache/beam/pull/22645#issuecomment-1289308040

We (spotify) are seeing ConcurrentModificationException errors due to https://github.com/apache/beam/pull/22645.

The issue starts in [WriteFiles.java](https://github.com/apache/beam/blame/master/sdks/java/core/src/main/java/org/apache/beam/sdk/io/WriteFiles.java#L964) where you construct a

[2022-10-24 17:38] kennknowles commented on #20655
It seems that the non-portable Flink runner is passing the 10mb keys test (but not 100mb keys) so I would guess this has to do with portability.

[2022-10-24 17:39] kennknowles commented on #20655
Maybe it was borderline and portability added just enough overhead. It does seem to occur in pure Flink code, not the gRPC channel to the SDK harness. I don't really know this codebase though.

[2022-10-24 17:40] kennknowles commented on #20528
Yea, it probably has to do with any windowfn that duplicates an element into multiple windows

[2022-10-24 17:45] lukecwik commented on #23809
@chamikaramj Would you consider cherry-picking this fix into the 2.43 release?

[2022-10-24 17:54] kennknowles commented on #23794
Can you link to the failing test for posterity? And this P0 is now closed since you mitigated, correct?

[2022-10-24 18:05] lukecwik commented on #21935
The error seen in SCIO was:
[code]

It seems as though there is logic already in SCIO to handle the case where the input/output is a KvCoder and is not wrapped with a MaterializedCoder. I suggested on the SCIO issue that the logic be extended for the value coder on the output PCollection to wrap the Iterable.

[2022-10-24 19:49] TheNeuralBit opened #23813 "[Bug]: PostRelease_NightlySnapshot failing"
### What happened?

https://ci-beam.apache.org/job/beam_PostRelease_NightlySnapshot/1902/

[code]

Seems to have started with #23619

### Issue Priority

Priority: 1

### Issue Component

Component: build-system

[2022-10-24 19:51] TheNeuralBit commented on #23813
To highlight the actual problem: `word-count-beam/src/main/java/org/apache/beam/examples/multilanguage/SklearnMnistClassification.java:[24,56] package org.apache.beam.sdk.extensions.python.transforms does not exist`

I'm not sure about this suite's configuration. Does `org.apache.beam.sdk.extensions.python.transforms` need to be in a release before we can reference it in an example?

@kennknowles

[2022-10-24 20:53] pabloem commented on #21104
Errors I'm seeing:

[code]

And afterwards

[code]

[2022-10-24 21:51] BjornPrime commented on #22206
.close-issue

[2022-10-24 21:56] tvalentyn commented on #21643
clicked on random error in #23788 and saw:
[code]

seems similar to what's reported in this issue.

[2022-10-24 22:02] BjornPrime commented on #21643
Hmm, may be more than one thing. Some of the failures from `portable_runner_test` aren't due to IndexErrors.

[2022-10-24 22:16] #22206 closed

[2022-10-24 22:33] haoyuche commented on #23747
Yes, I think somehow we should not feed LOGICAL_TYPE to CalciteUtils but instead we should feed the  [BaseT](https://github.com/apache/beam/blob/243128a8fc52798e1b58b0cf1a271d95ee7aa241/sdks/java/core/src/main/java/org/apache/beam/sdk/schemas/Schema.java#L547) so that it can handle the normal sql types.

[2022-10-24 23:15] kennknowles opened #23815 "[Bug]: Neo4j tests failing"
### What happened?

Since this build it has been perma-red:

https://ci-beam.apache.org/job/beam_PreCommit_Java_Neo4j_IO_Direct_Cron/510/

There was a similar flake at https://ci-beam.apache.org/job/beam_PreCommit_Java_Neo4j_IO_Direct_Cron/508/ but it recovered to green afterwards for one build.

[code]

### Issue Priority

Priority: 1

### Issue Component

Component: io-java-influxdb

[2022-10-24 23:43] #23717 closed

[2022-10-24 23:44] chamikaramj commented on #22714
Can we close this since https://github.com/apache/beam/pull/23739 was merged ?

[2022-10-24 23:50] TheNeuralBit commented on #22714
This is technically still an issue since dill can't pickle the types.

[2022-10-24 23:55] TheNeuralBit opened #23816 "[Feature Request]: Some pyarrow numeric types are not supported in `arrow_type_compatibility`"
### What would you like to happen?

Beam schemas do not support unsigned ints or float16s, so we currently refuse to map those in `arrow_type_compatibility`. If these types can't be added to core Beam schemas we might consider adding them as logical types.

### Issue Priority

Priority: 2

### Issue Component

Component: sdk-py-core

[2022-10-25 00:01] TheNeuralBit opened #23817 "[Feature Request]: Add support for Beam logical types in `arrow_type_compatibility`"
### What would you like to happen?

Currently we refuse to map Beam logical types to arrow. It should be possible to put the necessary metadata into arrow's custom metadata field (as we do for Beam options, and the schema id).

### Issue Priority

Priority: 2

### Issue Component

Component: sdk-py-core

[2022-10-25 00:02] lukecwik commented on #23809
Will close after cherry-pick is accepted or denied.

[2022-10-25 00:51] nickcaballero opened #23819 "[Feature Request]: Emit a WriteResult after writing to DynamoDB"
### What would you like to happen?

Emit a `WriteResult` from `DynamoDBIO.write`, which would make it possible to take other actions afterwards.

### Issue Priority

Priority: 3

### Issue Component

Component: io-java-aws

[2022-10-25 05:43] lukecwik commented on #22831
I see that you have started on an implementation but have you shared your intentions and a design for the API with dev@beam.apache.org?

[2022-10-25 12:03] derekocallaghan commented on #21615
I've added a local workaround which sets the specified `pickle_library` for `save_main_session` (in this case, `cloudpickle`), where I've modified https://github.com/apache/beam/blob/master/sdks/python/apache_beam/pipeline.py#L570 as follows:

[code]

[2022-10-25 15:07] aromanenko-dev commented on #20923
Already fixed in #15811 (https://issues.apache.org/jira/browse/BEAM-12070)

[2022-10-25 15:08] #20923 closed

[2022-10-25 15:11] aromanenko-dev commented on #19704
Spark 2.* support is deprecated in Beam and will be completely removed soon.
So, no need to fix this issue.

[2022-10-25 15:12] #19704 closed

[2022-10-25 15:27] tvalentyn commented on #20528
Can we re-window only if we detect accumulating mode? See: https://github.com/apache/beam/pull/23828

Alternatively, we could not rewindow if we detect slidng windows. disabling sliding windows is straightforward too if we want to go that route for now.

[2022-10-25 16:12] mosche commented on #23693
Thanks for reporting this @rickiesmooth!
Looks in deed wrong. Would you mind opening a PR with your fix?

[2022-10-25 16:15] mosche commented on #21291
Duplicate of #23804

[2022-10-25 16:15] #21291 closed

[2022-10-25 16:17] mosche commented on #23804
Should we bump to 3.2.2? Previous versions of Spark 3.2 contain vulnerabilities.

[2022-10-25 16:31] johnjcasey commented on #21262
I've been looking into this, and it is starting to seem like python triggers need to be reworked to some extent

[2022-10-25 16:31] johnjcasey commented on #21262
it looks like afterAny simply doesn't fire correctly at all, and has never done so

[2022-10-25 16:54] #18962 closed

[2022-10-25 17:01] aromanenko-dev opened #23832 "[Task]: Remove ParquetIO.withSplit"
### What needs to happen?

Following [BEAM-12070](https://issues.apache.org/jira/browse/BEAM-12070) where `ParquetIO.withSplit` became a default behaviour and taking into account the fact that no related issues were reported in the last several Beam releases (since Beam 2.35.0), we may drop such functionality as it was planned before.

### Issue Priority

Priority: 2

### Issue Component

Componen

[2022-10-25 17:39] johnjcasey commented on #21368
This has been reverted, so the fix isn't in master at the moment, but also the overall Gax issue isn't resolved

[2022-10-25 17:48] chamikaramj commented on #21368
Was it reverted in the release branch as well ? (couldn't find a reference to a revert PR here).

[2022-10-25 17:51] johnjcasey commented on #21368
here is reuven's revert pr https://github.com/apache/beam/pull/23793

[2022-10-25 17:52] johnjcasey commented on #21368
looks like it probably didn't make the release cut

[2022-10-25 17:54] chamikaramj commented on #21368
Ack. Please send a cherry-pick. (or I can start one).

[2022-10-25 18:09] johnjcasey commented on #21368
attempting it now

[2022-10-25 18:20] johnjcasey commented on #21368
@reuvenlax it looks like you then went and rolled forward the fix? https://github.com/apache/beam/pull/23795

[2022-10-25 18:20] eddie-scio commented on #22893
Good news, `dill` just released `0.3.6` (https://pypi.org/project/dill/0.3.6/) two days ago, so in `2.42.1` we should be able to take care of this?

[2022-10-25 18:21] tvalentyn commented on #23758
Is it reproducible with some docker container?

[2022-10-25 18:22] tvalentyn commented on #23758
cc: @BjornPrime who encountered a similar issue on an M1 machine.

[2022-10-25 18:23] johnjcasey commented on #21368
@reuvenlax can you clarify if master is good, or what the current state is?

[2022-10-25 18:58] scott-strong commented on #21882
Hi @sshahar1 @Abacn,

I ran into the same issue in my java pipeline. We upgraded to Apache Beam 2.39 and started getting the exact error message from above. I can't post the exact pipeline, but we're streaming Pub/Sub events, transforming and windowing, then writing them to MySQL. Below is the windowing function:
[code]

I'm curious if Sigal has resolved this since this post, or if there have been

[2022-10-25 19:13] BjornPrime opened #23835 "[Feature Request]: More granular treatment of failed inferences"
### What would you like to happen?

When a batch of inferences fails, we would ideally like to be informed which record caused the failure so that it can be investigated directly.

### Issue Priority

Priority: 2

### Issue Component

Component: run-inference

[2022-10-25 19:22] BjornPrime commented on #23758
You might try the process described here: https://github.com/apache/beam/issues/22742#issuecomment-1218216468

It was intended for M1 Macs but since you seem to be having a similar issue, it might be worth a try. Let us know whether or not it works for you.

[2022-10-25 19:29] Abacn commented on #21882
Hi @pabloem do you have an idea of the fix? Seems like here the third parameter is not compatible in the case of fixed window

https://github.com/apache/beam/blob/76761db371c8e33136706872f83d89ea600022db/sdks/java/io/jdbc/src/main/java/org/apache/beam/sdk/io/jdbc/JdbcIO.java#L1642

[2022-10-25 19:31] ryanthompson591 commented on #22893
Thanks for this eddie. I will be looking into doing this import and testing it throughout our code bases.  I was able to validate that the new version of dill did fix this problem.

[2022-10-25 20:23] lukecwik commented on #23809
Cherry picked into 2.43.0

[2022-10-25 20:23] #23809 closed

[2022-10-25 20:49] TheNeuralBit commented on #21404
Was there a PR for this?

[2022-10-25 20:49] kileys commented on #21404
https://github.com/apache/beam/pull/23165

[2022-10-25 20:50] eddie-scio commented on #22893
Thanks so much, Ryan!  Really excited to get this working.

[2022-10-25 20:52] ihji opened #23836 "Updating documentation for cross-language Java pipelines using Python external transforms"
### What needs to happen?

Updating documentation for cross-language Java pipelines using Python external transforms

### Issue Priority

Priority: 2

### Issue Component

Component: cross-language

[2022-10-25 20:59] chamikaramj commented on #23527
cc: @dpcollins-google

[2022-10-25 21:02] apilloud commented on #23068
Looks like this is being fixed by #23771

[2022-10-25 22:54] alxmrs opened #23838 "Dask Runner Options test failure."
Thanks. Python Precommit showing following test failure: https://ci-beam.apache.org/job/beam_PreCommit_Python_Cron/6286/
[code]

_Originally posted by @Abacn in https://github.com/apache/beam/issues/22421#issuecomment-1291168263_

[2022-10-25 22:58] alxmrs commented on #23838
@Abacn: I have a question for you about this test – shouldn't the unexpected argument be dropped due to `drop_defaults=True` and `retain_unknown_options=False`?

https://github.com/apache/beam/blob/735cb7b32811222086a06e624d3a950d9be7cd29/sdks/python/apache_beam/runners/dask/dask_runner_test.py#L61

[2022-10-26 01:22] Abacn commented on #23838
The unexpected `vpt_vp_arg3` is from here: https://github.com/apache/beam/blob/8a1aad6824319abf662570de36e2580db8e9450e/sdks/python/apache_beam/options/value_provider_test.py#L77

Looks like the test is contaminating some pipeline option namespace.

[2022-10-26 04:51] pabloem commented on #23838
Thanks for catching it. I am deactivating coverage tests in https://github.com/apache/beam/pull/23841, which seems like it can work around this issue for now.

[2022-10-26 06:50] mosche opened #23845 "(Spark dataset runner) Investigate performance issue in TPC-DS Query 83"
Investigate performance issue of Spark dataset runner (SparkStructuredStreamingRunner) for TPC-DS query 83.
This might be related to handling of side inputs, but not confirmed.

<img width="863" alt="Screenshot 2022-10-26 at 08 46 22" src="https://user-images.githubusercontent.com/1401430/197954248-dab4d3b7-1b11-4d0e-b994-b1db25bde548.png">

[2022-10-26 10:05] #22337 closed

[2022-10-26 10:05] #22328 closed

[2022-10-26 10:07] #22340 closed

[2022-10-26 10:07] #22329 closed

[2022-10-26 11:05] rickiesmooth commented on #23693
Thanks for looking at it! I had my PR ready but wasn't sure who to assign, so I'll assign you if you don't mind

[2022-10-26 11:26] potiuk opened #23848 "Support for Python 3.11"
### What would you like to happen?

I know it is eaarly (Python 3.11 has just been released yesterday) but we are hoping in Apache Airflow to a much faster cycle of adding new Python releases - especially that Pyhon 3.11 introduces huge performance improvements (25% is the average number claimed)  due to a very focused effort to increase single-threaded Python performance (Specialized interpreter

[2022-10-26 12:45] rshamunov opened #23850 "[Feature Request]: As a Playground user, I can open and run an example that uses emulated data source"
### What would you like to happen?

The feature implements Apache Beam Playground data source/sink emulators for Kafka.

Investigate options for Kafka emulator (real Kafka cluster, mock Kafka, etc.):
- [x] #23287

Add new examples for Kafka emulator to the repo:

Update backend to support Kafka emulator:

- [x] #23980
- [x] #23981
- [x] #24030
- [x] #25441

Update Frontend to support Kafka emulato

[2022-10-26 12:46] rshamunov commented on #22494
Tracked in https://github.com/apache/beam/issues/23850

[2022-10-26 12:46] #22494 closed

[2022-10-26 12:48] rshamunov commented on #22495
Tracked in https://github.com/apache/beam/issues/23850

[2022-10-26 12:48] #22495 closed

[2022-10-26 13:46] damccorm opened #23851 "[Task]: PR Bot - Only push commit if non-empty"
### What needs to happen?

Right now, we push a number of non-empty commits for our PR bot - https://github.com/apache/beam/blob/ead2d2e8025874ad5c3f09ea0fda06caf027e18c/scripts/ci/pr-bot/shared/persistentState.ts#L43 - we can be a little smarter about this and only push commits if they are meaningful.

### Issue Priority

Priority: 3

### Issue Component

Component: infrastructure

[2022-10-26 14:14] JozoVilcek opened #23852 "[Task]: Spark runner flatMap output should not be required to fit in the memory"
### What needs to happen?

Currently on Spark runner, if single processElement call produces multiple output elements, they all needs to fit in the memory [1]. This is problematic e.g. for `ParquetIO`, which instead of `Source<>` based reads uses `DoFn` and let reader from inside DoFn push all elements to the output. Similar happens with `JdbcIO` and was discussed here [2].

The goal is to overcom

[2022-10-26 15:02] damccorm opened #23853 "[Feature Request]: Add optional thread safety to RunInference"
### What would you like to happen?

There may be models which are not thread safe and will run into issues using RunInference (which relies on shared.py under the covers). We should add the ability to force type safety via locking when performing inference.

### Issue Priority

Priority: 2

### Issue Component

Component: run-inference

[2022-10-26 16:03] #23832 closed

[2022-10-26 16:09] #21537 closed

[2022-10-26 16:14] roger-mike opened #23855 "[IGNORE]: THIS IS A TEST, PLEASE IGNORE"
### What happened?

This is a test, ignore it.

### Issue Priority

Priority: 1

### Issue Component

Component: testing

[2022-10-26 16:15] roger-mike commented on #23855
.add-labels flaky-workflow-bot

[2022-10-26 16:34] roger-mike commented on #23855
.take-issue

[2022-10-26 17:09] #23728 closed

[2022-10-26 17:10] Abacn opened #23856 "[Bug]: beam_BiqQueryIO_Streaming_Performance_Test_Java permared"
### What happened?

The last success run was on Jul 28, 2022: https://ci-beam.apache.org/job/beam_BiqQueryIO_Streaming_Performance_Test_Java/4066/

Now write stuck:
[code]

### Issue Priority

Priority: 1

### Issue Component

Component: test-failures

[2022-10-26 17:11] Abacn commented on #23856
.take-issue

[2022-10-26 17:20] Abacn commented on #23856
The "success" run on July 28 actually is a false positive. It fails with quota exceeded.

[2022-10-26 17:47] chamikaramj commented on #20528
This is the only issue currently blocking the 2.43.0 release without an existing cherry-pick request.

Can we push this to the next release ?

[2022-10-26 17:49] chamikaramj commented on #21368
Thanks. Merged the cherry-pick.

Removing this from the 2.43.0 milestone.

[2022-10-26 17:54] reuvenlax commented on #21368
Correct - the PR only broke BigQueryIO.

On Wed, Oct 26, 2022 at 10:49 AM Chamikara Jayalath <
***@***.***> wrote:

[2022-10-26 18:14] tvalentyn commented on #20528
I discussed the fix yesterday w/ Robert and we will pursue a slightly different fix, which should be ready shortly. however, this bug has been there from the very first commit implementing `with_fanout`, so I wouldn't delay this specific release on it.

[2022-10-26 18:18] #21385 closed

[2022-10-26 18:25] ayushthe1 commented on #23851
hey @damccorm ,i would like to work on this issue. Please assign it to me.
Also could you please elaborate what i need to do .

[2022-10-26 18:26] chamikaramj commented on #20528
Ack. Removing this from the milestone for now.

[2022-10-26 18:35] damccorm commented on #23851
Hey @ayushthe1 - right now, our PR bot (which is backed by GitHub Actions) stores its state, it checks it in as a file to the branch `pr-bot-state` (this is done here - https://github.com/apache/beam/blob/ead2d2e8025874ad5c3f09ea0fda06caf027e18c/scripts/ci/pr-bot/shared/persistentState.ts#L43). Right now, we will produce a commit any time we call save state, even if there are no changes to commit.

[2022-10-26 18:36] damccorm commented on #23851
I assigned you as well. For future reference, you can self-assign issues by commenting `.take-issue`

[2022-10-26 18:48] ayushthe1 commented on #23851
Thanks ! I will look into all the details you provided. :smile:

[2022-10-26 19:40] chamikaramj commented on #23813
Will close this when the test suite is green.

[2022-10-26 19:41] #23794 closed

[2022-10-26 20:48] riteshghorse opened #23860 "[Task][Go SDK]: Update beam programming guide for Go pipelines using Python External Transforms"
### What needs to happen?

Update the documentation to explain the use of python external transforms in Go pipelines similar to Java
https://github.com/apache/beam/issues/23836

### Issue Priority

Priority: 2

### Issue Component

Component: sdk-go

[2022-10-26 20:48] riteshghorse commented on #23860
.remove-labels 'awaiting triage'

[2022-10-26 20:58] dpcollins-google commented on #23527
Hello,

I believe this can be resolved with comparable fidelity to kafkaIO's TimestampPolicy constructs in userland without pushing this down into the source. To that end, I've authored #23861, which should allow you to remap your data to the event time domain by doing:

[code]

If this doesn't get merged, I will implement the equivalent of KafkaIO's TimestampPolicy in the source.

-Daniel

[2022-10-26 21:26] roger-mike opened #23863 "[FLAKY-WORKFLOW]: THIS IS A TEST, PLEASE IGNORE #2"
### What happened?

This is a test, ignore it please.

### Issue Priority

Priority: 1

### Issue Component

Component: testing

[2022-10-27 03:13] #23415 closed

[2022-10-27 04:19] hieumdd commented on #23397
I have observed the same issue when I tried to ran high number of flows in parallel within a pipeline
Any updates to this @mksah17?

[2022-10-27 09:06] ayushthe1 commented on #23851
hey  @damccorm i am running into some issues . I used `git diff-index HEAD` and saw it produces some output if there are any changes made in repo .It also don't produces any output if no changes are made or if the last commit was an empty commit.
However on using the `--quiet` flag ,no output is produced in both cases . So how can i use this command with `--quiet` flag if no output is produced whe

[2022-10-27 10:21] alexeyinkin opened #23865 "[Task]: Current Playground example is not highlighted"
### What needs to happen?

MinimalWordCount should be bold:
![image](https://user-images.githubusercontent.com/44893228/198259851-13bc0428-eaea-48ac-a2e0-76fb7bc75549.png)

### Issue Priority

Priority: 3

### Issue Component

Component: beam-playground

[2022-10-27 14:10] chamikaramj commented on #23813
Latest run is green: https://ci-beam.apache.org/job/beam_PostRelease_NightlySnapshot/1911/

[2022-10-27 14:10] #23813 closed

[2022-10-27 14:34] ryanthompson591 commented on #18399
.take-issue

I've been working on this with the dill team.  I submitted a patch https://github.com/uqfoundation/dill/pull/558, but they have a more complicated patch that fixes this:
https://github.com/uqfoundation/dill/pull/450

Unfortunately their patch did not make it into 0.3.6 of dill.

[2022-10-27 14:50] rickiesmooth opened #23868 "[Bug]: apache_beam.io.kinesis.ReadDataFromKinesis UserCodeException"
### What happened?

Environment:
[code]

When running a DataFlow job that reads from a Kinesis stream like so:

[code]

I get the following error:

[code]

I'm not sure how to debug this further, but I believe I followed the docs and it should work? Let me know if I can supply a better reproduction case.

### Issue Priority

Priority: 1

### Issue Component

Component: io-py-aws

[2022-10-27 15:24] damondouglas opened #23869 "[Task]: Fix Akvelon editor static analysis on pub.dev"
### What needs to happen?

The Akvelon Editor dependency is showing a 10/30 static code analysis score.  See https://pub.dev/packages/flutter_code_editor/score

![image](https://user-images.githubusercontent.com/762456/198331813-b0c8eb30-7d10-4d5c-af09-e110f7a0daff.png)

The `flutter_code_editor` is a [dependency](https://github.com/apache/beam/blob/acd9cbeebc810106eb6f8825a4e85c67bcb8d8a7/playgro

[2022-10-27 16:36] davidcavazos commented on #21615
This looks like something that maybe Beam should adopt. Would it make sense to merge this into the main branch?

[2022-10-27 17:10] roger-mike opened #23871 "[FLAKY-WORKFLOW] TEST #3"
### What happened?

just a test

### Issue Priority

Priority: 3

### Issue Component

Component: testing

[2022-10-27 17:15] #23871 closed

[2022-10-27 17:16] roger-mike opened #23872 "[FLAKY-WORKFLOW] TEST #4"
### What happened?

Just a test

### Issue Priority

Priority: 3

### Issue Component

Component: testing

[2022-10-27 18:01] TheNeuralBit commented on #20970
Thanks @Tera

https://github.com/apache/beam/pull/23873 should address this instance of the issue.

[2022-10-27 19:54] AnandInguva opened #23874 "[Task]: Tracking task for Benchmark RunInference frameworks on CPUs and GPUs"
### What needs to happen?

Benchmark RunInference frameworks on GPUs and CPUs. Provide information on the website on the suggestions on how to use GPUs.

### Issue Priority

Priority: 2

### Issue Component

Component: run-inference

[2022-10-27 21:02] TheNeuralBit commented on #23813
Thanks for tracking this down :)

[2022-10-27 22:00] zhengbuqian commented on #22831
Hi Luke, I didn't but I have just sent a brief doc of MultimapState's interface to [dev@beam.apache.org](mailto:dev@beam.apache.org). Thanks for reminding!

[2022-10-27 22:12] aliftadvantage opened #23875 "[Bug]: beam.Row.__eq__ returns true for unequal rows"
### What happened?

The `beam.Row.__eq__` operator has unexpected behavior when rows have different number of columns. Specifically when one row has trailing columns and all else are equal, e.g.

`beam.Row(x=1, y=2, z=3) == beam.Row(x=1, y=2)` returns true.

### Issue Priority

Priority: 1

### Issue Component

Component: sdk-py-core

[2022-10-27 22:12] aliftadvantage commented on #23875
.take-issue

[2022-10-27 22:43] #23526 closed

[2022-10-28 08:31] scwhittle opened #23881 "[Bug]: IllegalArgumentException during bundle split in FnApiDoFnRunner.scaleProgress"
### What happened?

Full stack trace (ocr from image so may be slightly off):
"java.lang.IllegalArgumentException: Work completed and work remaining must be greater than or equal to zero but were 3.332476747E9
and -1.666238373E9.
Consumer Registry.java:434)
}
at org.apache.beam.sdk.transforms.splittabledofn. Restriction Tracker $Progress. from (RestrictionTracker.java:189)
at org.apache.beam.fn.ha

[2022-10-28 08:31] scwhittle commented on #23881
.take-issue

[2022-10-28 08:51] olehborysevych opened #23883 "[Task]: Setup cloud monitoring and email alerts for ToB"
### What needs to be done

Setup monitoring and email alerts for ToB endpoints which cover:
1) bad http codes
2) internal service errors: panics, cold restarts

Consider implementing as terraform script

### Issue Priority
Priority: 3

### Issue Component
Component: tour-of-beam

[2022-10-28 08:52] eantyshev commented on #23883
.take-issue

[2022-10-28 09:28] vchunikhin opened #23885 "[Playground][Backend][Task]: Updating the endpoints of precompiled objects to get datasets"
### What needs to happen?

Updating the endpoints of precompiled objects to get datasets

### Issue Priority

Priority: 2

### Issue Component

Component: beam-playground

[2022-10-28 09:28] vchunikhin commented on #23885
.take-issue

[2022-10-28 10:18] #22335 closed

[2022-10-28 10:20] rshamunov commented on #23287
Research completed. Kafka mock emulator was chosen.

[2022-10-28 10:25] #22234 closed

[2022-10-28 10:47] SteveNewson commented on #20752
The "problem" is here:
[code]
The first filter removes anything that does not start with "get" or "is":
[code]
Clearly a trivial change to correct this. However, that might be controversial as changing this behaviour may pick up methods that previously would not have been detected. If there's another Abstract method on the class that is not a getter then this would cause a problem. However, I can'

[2022-10-28 10:57] SteveNewson commented on #20752
[code]

[2022-10-28 10:59] SteveNewson commented on #20752
And we'll need to do an assortment of other changes to make it find the methods properly.

[2022-10-28 12:37] demongolem-biz commented on #23758
Sorry don't have access to the machine currently (later today will).  However I did click on that link and I noticed protobuf which has been an issue for us before.  We generally go with 3.17.3 and the link says 3.20.1 and so it could be that.  Will find out more and report back.

[2022-10-28 14:09] ahmedabu98 commented on #22372
Looks like #22390 fixed the Avro source problem referred to in the second comment.

[2022-10-28 14:34] ahmedabu98 commented on #22372
Looks like the problem is in this [deleted code block](https://github.com/apache/beam/pull/17365/files#diff-3edb3abd8909e7075e679e8b93420d4119858d6a9418b6ec10a204a592f062abL682-L692). The create disposition in WriteTables has always been `CreateDisposition.CREATE_IF_NEEDED`, because that's necessary when creating temp tables. However, in the case the schema isn't provided, this would cause the pro

[2022-10-28 14:45] #23856 closed

[2022-10-28 16:02] TheNeuralBit commented on #21022
#23224 addresses the Select and GroupBy transforms, that are supported in Python. But there's still some inconsistencies in the "schema transforms" docs, e.g. it discusses DropFields, AddFields, etc.. that only exist in Java. We should also add languages switches for those sections. Leaving this open to track that.

[2022-10-28 16:31] #22694 closed

[2022-10-28 17:13] #23872 closed

[2022-10-28 17:23] demongolem-biz commented on #23758
No, getting protobuf to a higher version does not change the error.

[2022-10-28 18:23] BjornPrime commented on #23758
Did you run `python gen_protos.py` once you upgraded protobuf?

[2022-10-28 19:23] demongolem-biz commented on #23758
No I hadn't and that did get me past that particular error with protobuf 3.20.3 installed.  Yes now I can successfully run on my own provided .txt file.  Thanks.

[2022-10-28 19:28] alexeyinkin commented on #23869
.take-issue

[2022-10-28 20:28] lostluck opened #23889 "[Bug][Go SDK]: register.Iter* and register.Emit* don't register parameter types."
### What happened?

At present, the regsiter.Function* and register.Dofn* functions register types for their parameters, but the iterables and emitters do not. This leaves gaps in type registration, forcing extra calls to beam.RegisterType, when the package should be handling it.

The solution is to add the RegisterType calls to the methods like we do for DoFn, Combine and Function.

### Issue Pri

[2022-10-28 23:18] pabloem commented on #21104
I've done some more research. Oddly, the encoding size for the first set of elements that we output varies even on instances of successful tests.

I wondered if this could be because we encode every element with the current timestamp, which varies depending on test execution time - so I hardcoded a specific timestamp for all instances of the test. Encoding size still varied:

[code]

[2022-10-28 23:42] lostluck opened #23893 "[Feature Request][Go]: Support Resource Hints"
### What would you like to happen?

Support [Resource Hints](https://beam.apache.org/documentation/runtime/resource-hints/).

Specifically being able to apply min_ram and accelerator hints at minimum at the whole pipeline level. This would enable a certain amount of [right fitting support on Google Cloud Dataflow](https://cloud.google.com/dataflow/docs/guides/right-fitting#go).

While the intent i

[2022-10-29 00:21] Abacn commented on #23747
.take-issue

[2022-10-29 04:48] SaurabhSingh92 opened #23895 "SpannerIO trying to read all the table"
Hi Team,

We have been planning to use dataflow with spanner, while doing POC i noticed the SpannerId.read was trying to read complete table.
Resulting more time in processing, can we make it like it keeps dropping batch of data already reading like we do in window?

[2022-10-29 07:13] mkuthan commented on #22843
You can't use any dependency with  google-api-client 2.x for direct runner as well, for example if you want to use PubsubIO you will get an error:

[code]

[2022-10-29 07:26] yanyiyi-yi opened #23896 "Move class InMemoryBundleFinalizer into package org.apache.beam.runners.direct"
### What happened?

Hi, @robertwb

**Issue Description**

Package **_org.apache.beam.runners.core_** is a promiscuous package, and groups together miscellaneous functionalities that might be useful to different subsystems. The package structure violates the “high cohesion and low coupling” design rules. I found that Class **_InMemoryBundleFinalizer_** is not used by classes in their package. The p

[2022-10-30 23:39] damccorm opened #23898 "[Task]: RunInference Benchmarking docs"
### What needs to happen?

Right now, we have some nice RunInference benchmarks (https://s.apache.org/beam-community-metrics/d/ZpS8Uf44z/python-ml-runinference-benchmarks?orgId=1), but we don't link to them anywhere, and they aren't clearly explained. We should:

- [ ] Add a small readme colocated with the benchmarks that explains what they are testing and link to that from the main grafana dashbo

[2022-10-31 08:21] sshahar1 commented on #21882
Nothing further we could do, unfortunatey

[2022-10-31 08:34] sshahar1 commented on #21882
I checked the decompiled code, I don't see anything that can cause this

[2022-10-31 13:15] #23836 closed

[2022-10-31 13:19] manuzhang commented on #23671
Fixed in #23655

[2022-10-31 13:19] #23671 closed

[2022-10-31 13:22] damccorm commented on #23851
A slightly cleaner approach than inspecting the output is probably to use the `quiet` flag and then inspect the exit code. There are usually tighter guarantees around exit codes than outputs. If there are changes, `git diff-index --quiet HEAD` will have an exit code of 1, if not it will have an exit code of 0.

So if you do, for example, `git diff-index --quiet HEAD || (git add * && git commit -m

[2022-10-31 14:34] Abacn commented on #23895
Thanks for reporting. Which SDK are you using? There are Java, Python native and Python cross-lang. Python native is known to have this issue ((metircs)[http://104.154.241.245/d/gP7vMPqZz/python-io-it-tests-dataflow?orgId=1])

[2022-10-31 14:57] Abacn commented on #23848
.remove-labels 'awaiting triage'

[2022-10-31 14:59] Abacn commented on #23303
.remove-labels 'awaiting triage'

[2022-10-31 15:04] Abacn commented on #21584
dup by #22805

[2022-10-31 15:05] Abacn commented on #21584
.close-issue

[2022-10-31 15:07] Abacn commented on #21246
.close-issue

[2022-10-31 15:29] #21584 closed

[2022-10-31 15:35] #21246 closed

[2022-10-31 15:45] Abacn commented on #20886
.remove-labels 'awaiting triage'

[2022-10-31 15:45] Abacn commented on #20886
.take-issue

[2022-10-31 15:47] Abacn commented on #20557
Intended behavior. Listing resources is not parallelized.

[2022-10-31 15:47] Abacn commented on #20557
.close-issue not_planned

[2022-10-31 15:50] Abacn commented on #20963
Obsolete. Flink 1.11 is no longer supported.

[2022-10-31 15:51] Abacn commented on #20963
.close-issue not_planned

[2022-10-31 16:06] Abacn commented on #23299
`beam:logical_type:date:v1` is a portable logical type (with URN). The support of portable logical types is currently underway. For now as a workaround, could create a PTransform that convert Row with `beam:logical_type:date:v1` type to `Date` type in its schema.

[2022-10-31 16:17] #20557 closed

[2022-10-31 16:20] #20963 closed

[2022-10-31 16:20] Abacn commented on #20544
@ahmedabu98 WIth the fix of FILE_LOADS in is this still a issue?

[2022-10-31 16:20] Abacn commented on #20544
.remove-labels 'awaiting triage'

[2022-10-31 16:24] ahmedabu98 commented on #20544
Yes, this should be fixed by #23012. thanks for catching that

[2022-10-31 16:26] Abacn commented on #22894
In Python there is also https://beam.apache.org/releases/pydoc/current/apache_beam.io.fileio.html#apache_beam.io.fileio.MatchContinuously now. Does that satisfy your requirements?

[2022-10-31 16:28] Abacn commented on #20544
.close-issue not_planned

[2022-10-31 17:10] TheNeuralBit opened #23901 "[Bug]: `optimizeOuterThis` breaks Count.CountFn anonymous class serialization"
### What happened?

`optimizeOuterThis`, an optimization in JDK 11, causes a serialization failure with `org.apache.beam.sdk.transforms.Count$CountFn$1`. We can disable this optimization for now, but serializing anonymous classes is [strongly discouraged](https://docs.oracle.com/javase/7/docs/platform/serialization/spec/serial-arch.html#4539). We should consider refactoring.

### Issue Priority

P

[2022-10-31 17:20] #20544 closed

[2022-10-31 17:26] olehborysevych opened #23903 "[Tour of Beam] [Task] Investigate using template learning materials for different SDKs"
### What needs to happen?

Need to research complexity, impact and possibility of introducing template learning materials with placeholders for SDK-specific material.
Need to provide story breakdown, draft design and estimated complexity for each task

### Issue Priority
Priority: 3

### Issue Component
Component: tour-of-beam

[2022-10-31 19:20] #23747 closed

[2022-10-31 19:25] kileys opened #23904 "[Bug]: beam_LoadTests_Python_Combine_Dataflow_Streaming failing"
### What happened?

Jenkins test has been failing since October

### Issue Priority

Priority: 1

### Issue Component

Component: test-failures

[2022-10-31 19:26] #23458 closed

[2022-10-31 19:27] #21125 closed

[2022-10-31 19:27] kileys commented on #23904
@jrmccluskey

[2022-10-31 19:54] brucearctor commented on #21089
Contributions welcome!  Do advise if need some resources to get started.  And, a related talk:  https://www.youtube.com/watch?v=VsGQ2LFeTHY

[2022-10-31 20:15] Abacn commented on #20814
@rvballada Is this done and can be marked be closed?

[2022-10-31 20:25] yeshvantbhavnasi commented on #20327
any updates ?

[2022-10-31 20:44] chamikaramj opened #23906 "[Bug]: Dataflow jpms tests fail on the 2.43.0 release branch"
### What happened?

For example,

https://ci-beam.apache.org/job/beam_PostCommit_Java_Jpms_Dataflow_Java17_PR/19/
https://ci-beam.apache.org/job/beam_PostCommit_Java_Jpms_Dataflow_Java11_PR/25/

I ran these few times but they continue to fail. Error in the Jenkins run doesn't say much.
02:00:31 Recording test results
02:00:32 ERROR: Step ‘Publish JUnit test result report’ failed: No test report fi

[2022-10-31 20:44] chamikaramj commented on #23906
P0 since this is blocking the ongoing release.

[2022-10-31 20:52] chamikaramj opened #23907 "[Bug]: Number of Python examples are failing for Flink and Spark on 2.43.0 release branch"
### What happened?

Seems like following Python examples are failing for Flink and Spark on 2.43.0 release branch.

- bigquery_tornadoes
- hourly_team_score
- filters_test

For example,
https://ci-beam.apache.org/job/beam_PostCommit_Python_Examples_Spark_PR/14/
https://ci-beam.apache.org/job/beam_PostCommit_Python_Examples_Flink_PR/12/

For bigquery_tornadoes, the error is following.

RuntimeError

[2022-10-31 20:52] chamikaramj commented on #23907
P0 since this is blocking the ongoing Beam release.

[2022-10-31 21:07] TheNeuralBit opened #23908 "[Task]: Add user guide for Batched DoFns"
### What needs to happen?

We should add user-facing documentation for Batched DoFns to the Beam Programming Guide.

### Issue Priority

Priority: 2

### Issue Component

Component: sdk-py-core

[2022-10-31 21:10] tvalentyn commented on #23907
Did these pass on previous release? If so, errors should be bisectable.

[2022-10-31 21:18] Abacn commented on #23907
Looks like failed tests are all BigQuery tests. Both have been failed after Sept 14th. Possible related changes on the Day of 14th: #23122 and/or #23012

[2022-10-31 21:22] Abacn commented on #23906
Cron jobs always succeeded instead, as well as around release cut: https://ci-beam.apache.org/job/beam_PostCommit_Java_Jpms_Dataflow_Java17/ https://ci-beam.apache.org/job/beam_PostCommit_Java_Jpms_Dataflow_Java11/

[2022-10-31 22:28] brucearctor commented on #23314
I think since added by @chamikaramj , @johnjcasey was tagged, has io, kafka, p2 and but labels, this has been 'triaged' therefore removing the 'awaiting triage' label...  Someone do advise if I misunderstand how we want to handle triaging [ ex: does someone need to be assigned ?]

[2022-10-31 22:32] kileys commented on #23906
Taking a look

[2022-10-31 22:56] AnandInguva opened #23910 "Testing issue creation for Perf tests. Please delete the issue."
Testing creating issues with Github rest APIs

[2022-10-31 22:57] #23910 closed

[2022-10-31 23:04] kileys commented on #23906
Checked out the release branch and tests pass locally
https://scans.gradle.com/s/omwnhwlhsom6m

[2022-10-31 23:11] chamikaramj commented on #23906
Jenkins run also had following info.

02:00:32 Execution failed for task ':sdks:java:testing:jpms-tests:dataflowRunnerIntegrationTest'.
02:00:32 > Process 'Gradle Test Executor 1' finished with non-zero exit value 143

Based on following seems like 143 error points to a potential OOM.

https://discuss.gradle.org/t/gradle-test-executor-x-finished-with-non-zero-exit-value-143/28857

But not sure why

[2022-11-01 00:03] #23016 closed

[2022-11-01 00:09] tvalentyn commented on #23907
Thanks, @Abacn . The first change affects go sdk only. https://github.com/apache/beam/pull/23012 looks suspicious. @ahmedabu98 could you please take a look?

[2022-11-01 00:16] kileys commented on #23906
Could be that the timeout killing the process

[2022-11-01 00:38] kileys commented on #23906
Ran the test with `--info` and it's getting stuck looking for the 2.43.0 container  `Error response from daemon: manifest for gcr.io/cloud-dataflow/v1beta3/beam-java17-batch:2.43.0 not found: manifest unknown: Failed to fetch \\\"2.43.0\\\"`

[2022-11-01 00:45] kileys commented on #23906
This needs the internal containers to be built to run successfully. I'm going to remove this as a blocker from the release

[2022-11-01 00:45] kileys commented on #23906
I'll re-run when the container is built to verify

[2022-11-01 03:32] gabrywu commented on #23299
I'm creating a table using a Beam SQL, can't apply a PTransform before it's created.

[2022-11-01 04:57] chamikaramj commented on #23906
Ah, that makes sense. This should be moved to a RC validation test instead of being a part of release branch validation tests then.

[2022-11-01 06:08] alexeyinkin commented on #22356
.take-issue

[2022-11-01 06:08] alexeyinkin commented on #22496
.take-issue

[2022-11-01 06:09] alexeyinkin commented on #23367
.take-issue

[2022-11-01 06:09] alexeyinkin commented on #23534
.take-issue

[2022-11-01 06:09] alexeyinkin commented on #21925
.take-issue

[2022-11-01 06:11] alexeyinkin commented on #22357
.take-issue

[2022-11-01 06:12] alexeyinkin commented on #22358
Done in https://github.com/apache/beam/pull/23825.

[2022-11-01 06:14] alexeyinkin commented on #23865
.take-issue

[2022-11-01 06:17] alexeyinkin opened #23917 "[Task]: Extract Go Beam symbols for Playground"
### What needs to happen?

Parse symbols so they can be suggested by the editor autocompletion.

See https://github.com/apache/beam/issues/23304 as a model.

### Issue Priority

Priority: 3

### Issue Component

Component: beam-playground

[2022-11-01 06:17] alexeyinkin opened #23918 "[Task]: Extract Java Beam symbols for Playground"
### What needs to happen?

Parse symbols so they can be suggested by the editor autocompletion.

See https://github.com/apache/beam/issues/23304 as a model.

### Issue Priority

Priority: 3

### Issue Component

Component: beam-playground

[2022-11-01 06:18] alexeyinkin opened #23919 "[Task]: Extract Scala Beam symbols for Playground"
### What needs to happen?

Parse symbols so they can be suggested by the editor autocompletion.

See https://github.com/apache/beam/issues/23304 as a model.

### Issue Priority

Priority: 3

### Issue Component

Component: beam-playground

[2022-11-01 06:18] alexeyinkin commented on #23917
.take-issue

[2022-11-01 06:18] alexeyinkin commented on #23919
.take-issue

[2022-11-01 06:19] alexeyinkin commented on #23918
.take-issue

[2022-11-01 06:23] alexeyinkin commented on #22542
.take-issue

[2022-11-01 06:24] alexeyinkin commented on #22552
- Overridden by #23534

[2022-11-01 06:24] #22552 closed

[2022-11-01 06:25] alexeyinkin commented on #22652
.take-issue

[2022-11-01 06:28] alexeyinkin commented on #23079
.take-issue

[2022-11-01 06:29] alexeyinkin commented on #23083
.take-issue

[2022-11-01 06:30] alexeyinkin commented on #23243
.take-issue

[2022-11-01 06:36] alexeyinkin commented on #23252
.take-issue

[2022-11-01 06:36] alexeyinkin commented on #23273
.take-issue

[2022-11-01 06:37] alexeyinkin commented on #23398
.take-issue

[2022-11-01 07:01] alexeyinkin opened #23920 "[Task]: Use HTML renderer for Flutter"
### What needs to happen?

HTML renderer saves ~2MB of download size compared to CanvasKit renderer.
The problem is some SVG icons appear corrupted.

| HTML | CanvasKit |
|-----|-----|
| ![image](https://user-images.githubusercontent.com/44893228/199176831-aee41c80-253d-4b77-b086-a1e4ffd8c7ae.png) | ![image](https://user-images.githubusercontent.com/44893228/199176895-29a14614-3e67-4e80-9c60-9b479

[2022-11-01 07:01] alexeyinkin commented on #23920
.take-issue

[2022-11-01 07:06] alexeyinkin opened #23921 "[Task]: Simultaneously run examples in different SDKs"
### What needs to happen?

Simultaneously run examples in different SDKs

### Issue Priority

Priority: 3

### Issue Component

Component: beam-playground

[2022-11-01 07:06] alexeyinkin commented on #23921
.take-issue

[2022-11-01 07:07] alexeyinkin opened #23922 "[Task]: Use app_state package in Playground frontend"
### What needs to happen?

Use app_state package in Playground frontend

### Issue Priority

Priority: 3

### Issue Component

Component: beam-playground

[2022-11-01 07:07] alexeyinkin commented on #23922
.take-issue

[2022-11-01 07:24] alexeyinkin opened #23923 "[Task]: Indicate examples with emulator on frontend"
### What needs to happen?

Indicate examples with emulator on frontend

### Issue Priority

Priority: 3

### Issue Component

Component: beam-playground

[2022-11-01 07:24] alexeyinkin commented on #23923
.take-issue

[2022-11-01 07:26] alexeyinkin opened #23924 "[Task]: A button to show emulator data in frontend"
### What needs to happen?

The simplest solution is to add a button that would navigate to the bucket view in a new tab by a URL.

### Issue Priority

Priority: 3

### Issue Component

Component: beam-playground

[2022-11-01 07:27] alexeyinkin commented on #23924
.take-issue

[2022-11-01 08:23] alexeyinkin opened #23925 "[Task]: Update Hugo Playground shortcode to pass read-only sections to show to Playground"
### What needs to happen?

Update Hugo Playground shortcode to pass read-only sections to show to Playground

### Issue Priority

Priority: 3

### Issue Component

Component: beam-playground

[2022-11-01 08:23] alexeyinkin commented on #23925
.take-issue

[2022-11-01 08:40] je-ik commented on #22486
Can you attach some simple code to reproduce this?

[2022-11-01 08:44] je-ik commented on #20567
@sbrother can you please attach the stacktrace? it is no longer available from the original location.

[2022-11-01 08:47] alexeyinkin opened #23926 "[Task]: Update Hugo Playground shortcode to pass folded sections to Playground"
### What needs to happen?

Update Hugo Playground shortcode to pass folded sections to Playground

### Issue Priority

Priority: 3

### Issue Component

Component: beam-playground

[2022-11-01 08:47] alexeyinkin commented on #23926
.take-issue

[2022-11-01 08:55] #22358 closed

[2022-11-01 09:27] rshamunov commented on #22496
Autocompletion for Beam symbols, dictionary based:

- [ ] 23917
- [ ] 23918
- [ ] 23919

[2022-11-01 09:45] confessin commented on #23723
Will this also work with Dataflow Runner? I am getting NoClassDefFound errors. Thanks in advance

[2022-11-01 10:09] alexeyinkin commented on #22199
.take-issue

[2022-11-01 11:01] olehborysevych opened #23927 "[Playground] [Task] Fix populating cache with new playground examples"
### What needs to happen?
Need to investigate and fix issue with new loaded examples are not available on FE due to examples are not in the cache.

STR:
1. Deploy PG to new environment (or docekr compose locally)
2. Use CD scripts to upload examples for 2 different SDKs
Expected: Examples for both SDKs are visible on UI
Actual: Only examples for the SDK that was  loaded first are visible in catalo

[2022-11-01 12:36] ahmedabu98 commented on #22961
Hey @pawelkopec,

Looks like the error is thrown when temp files are finished writing at [`writer.close()`](https://github.com/apache/beam/blob/f46382110d78a6a8f03491ea2165a24dc1d5739c/sdks/python/apache_beam/io/gcp/bigquery_file_loads.py#L276) and Beam tries to upload them to GCS. I'm not sure about the underlying reason for your HTTP errors but ideally this should be retried. Temp files are writ

[2022-11-01 15:44] nivaldoh commented on #21089
Hi, I would like to express interest in working on the Rust SDK, and I have begun drafting a possible design doc which I intend to share in the mailing list in the next few days. I will also create an incubator fork soon.

[2022-11-01 15:44] nivaldoh commented on #21089
.take-issue

[2022-11-01 16:13] brucearctor commented on #21089
Great!  Will be happy to help, collab, and pull in those needed along the way.  Feel free to reachout to Austin@apache.org for collaboration via email

[2022-11-01 17:12] chamikaramj commented on #23907
Confirmed that this:

Passes on 2.42.0 branch
Fails on 2.43.0 branch
Fails on master

Will also try a revert.

[2022-11-01 17:44] tvalentyn commented on #23904
This is a known issue, I believe this test has not been working successfully since almost when it was added.

[2022-11-01 18:37] tvalentyn commented on #23868
cc: @chamikaramj to triage

[2022-11-01 18:40] tvalentyn commented on #23758
@BjornPrime would you mind adding helpful info to s.apache.org/beam-python-dev-wiki ?

[2022-11-01 18:40] riteshghorse commented on #23904
Yeah, I found two similar bugs https://github.com/apache/beam/issues/22692, https://github.com/apache/beam/issues/22436. I checked the console logs for few jobs in last 15 days and all of them had a same pattern where it is initializing SDK harness and a cancel request is committed within 5 minutes of it. Unfortunately, there not much information apart from this. Memory and CPU utilization looks a

[2022-11-01 18:40] tvalentyn commented on #23758
(you can communicate the M1 workarounds there)

[2022-11-01 18:42] chamikaramj commented on #23907
Fails for commit ac37784821eaedd97c2e6e39441c22ebc6d97cd3

Passes for commit 2d4f61c93250fb41112a2535394e7328bc1fdf95 (one before above).

So the culprit seems to be https://github.com/apache/beam/commit/ac37784821eaedd97c2e6e39441c22ebc6d97cd3

@ahmedabu98 can you please take a look ? We can either do a forward fix in the release branch or revert this if we can revert cleanly.

To reproduce local

[2022-11-01 18:52] AnandInguva commented on #23848
Thanks for opening this. This is interesting. I can open a draft PR and see what happens when I get some time.

[2022-11-01 19:04] ahmedabu98 commented on #23907
Seeing a lot of `ValueError: Unable to parse jar URL "/home/jenkins/jenkins-slave/workspace/beam_PostCommit_Python_Examples_Spark/src/runners/spark/2/job-server/build/libs/beam-runners-spark-3-job-server-2.44.0-SNAPSHOT.jar". If using a full URL, make sure the scheme is specified. If using a local file path, make sure the file exists; you may have to first build the job server using './gradlew run

[2022-11-01 19:12] potiuk commented on #23848
Looking forward to it :)

[2022-11-01 20:51] TheNeuralBit commented on #23066
Aren't we already using errorprone 2.x? https://github.com/apache/beam/blob/5d617fb69c26d6fb3af36587cccad772a958b06e/buildSrc/src/main/groovy/org/apache/beam/gradle/BeamModulePlugin.groovy#L466

[2022-11-01 20:57] #23068 closed

[2022-11-01 21:10] AnandInguva opened #23930 "[Feature Request]: [Python]Implement Perf test alerts using Change Point analysis."
### What would you like to happen?

For Python performance tests, create a perf test alerting API.

1. It should read data from a source(BigQuery, InfluxDB).
2. Run ChangePoint analysis using [ruptures](https://centre-borelli.github.io/ruptures-docs/).
3. File a GH issue if a performance regression is found.

### Issue Priority

Priority: 2

### Issue Component

Component: sdk-py-core

[2022-11-01 21:11] AnandInguva commented on #23930
.take-issue

[2022-11-01 21:11] AnandInguva commented on #23930
.add-labels python

[2022-11-01 21:11] TheNeuralBit commented on #20954
Some comments from the jira.

From Andrew Kettman:

From Jonathan Kay:

[2022-11-01 21:12] TheNeuralBit commented on #20954
@reuvenlax may have some insights

[2022-11-01 22:37] nitinlkoin1984 commented on #20866
Has this issue been fixed? These issues can be easily identified if devs do some integration testing

[2022-11-01 22:53] nitinlkoin1984 opened #23932 "[Bug]: Beam Pipeline does not halt execution while running on non local Spark Cluster"
### What happened?

I have deployed a Spark v3.1.2 cluster on kubernetes. My beam job server and beam sdk container are running on 2 separate linux virtual machines. The following keeps executing and does not stop

`op = PipelineOptions([
        "--runner=PortableRunner",
        "--job_endpoint=localhost:8099",
        "--environment_type=EXTERNAL",
        "--environment_config=vm2-hostname::50

[2022-11-01 22:54] nitinlkoin1984 commented on #23932
Similar issue is reported here https://issues.apache.org/jira/browse/BEAM-11957

[2022-11-02 03:52] apilloud commented on #22913
As much as I want to work on this, that hasn't happened in the last two weeks and I don't see it happening this year so I'm going to unassign it.

[2022-11-02 07:53] rshamunov commented on #21763
Migration to Matomo Cloud is no longer planned

[2022-11-02 07:53] #21763 closed

[2022-11-02 08:10] mosche opened #23935 "[Bug]: Portable runner tests use invalid path to Spark 3 job-server jar"
### What happened?

See https://github.com/apache/beam/issues/23907:

Is this familiar to anyone?

This was caused by https://github.com/apache/beam/pull/23751 when migrating to the Spark 3 job-server

### Issue Priority

Priority: 1

### Issue Component

Component: testing

[2022-11-02 08:19] mosche commented on #23907
Sorry @Abacn @ahmedabu98 @chamikaramj, my bad! This slipped in https://github.com/apache/beam/pull/23751 when migrating to the Spark 3 job-server. Fixed it here: https://github.com/apache/beam/pull/23936

[2022-11-02 11:09] ahmedabu98 commented on #23907
Great 👍🏽 that solves the spark issues. Still looking into why those BQ tests are not starting.

[2022-11-02 14:07] alexeyinkin opened #23939 "[Task]: Gradle tasks to start Playground locally"
### What needs to happen?

Gradle tasks to start Playground locally

### Issue Priority

Priority: 3

### Issue Component

Component: beam-playground

[2022-11-02 14:07] alexeyinkin commented on #23939
.take-issue

[2022-11-02 14:19] ryanthompson591 opened #23940 "beam_PostCommit_Py_ValCont failing"
https://ci-beam.apache.org/job/beam_PostCommit_Py_ValCont/

An initial look makes it seem like this might be flaky, but very flaky with many failures in a row.

[Run 9889](https://ci-beam.apache.org/job/beam_PostCommit_Py_ValCont/9889/) has 6 failing tests.
[Run 9887](https://ci-beam.apache.org/job/beam_PostCommit_Py_ValCont/9887/) Has only one failing test.
[Run 9885] (https://ci-beam.apache.org/

[2022-11-02 14:22] ryanthompson591 commented on #23940
.add_label P1
.add_label bug
.add_label build

[2022-11-02 14:22] #23935 closed

[2022-11-02 14:26] ahmedabu98 commented on #23907
The affected tests have a step that writes to BQ with `FILE_LOADS`. I've been reproducing locally and found the pipelines don't even start. They pass with `STREAMING_INSERTS` method though.

The errors showing up in Spark examples in @mosche 's fix in #23936 ([here](https://ci-beam.apache.org/job/beam_PostCommit_Python_Examples_Spark_PR/17/testReport/apache_beam.examples.cookbook.bigquery_tornadoe

[2022-11-02 14:41] ryanthompson591 commented on #23940
.add-labels P1,bug,build

[2022-11-02 15:14] olehborysevych opened #23942 "[Tour of Beam] [Task] Adjust log level for Tour of Beam examples"
### What needs to happen?

Need to set the minimum log level for tour of beam examples and describe how it can be changes if needed

### Issue Priority
Priority: 3

### Component
tour-of-beam

[2022-11-02 15:29] damccorm commented on #22727
Hey, sorry for the slow response here. This looks like an issue with the dataflow templates service, not Beam itself. Could you please open an issue in https://github.com/GoogleCloudPlatform/DataflowTemplates/issues

[2022-11-02 15:29] #22727 closed

[2022-11-02 16:14] TheNeuralBit opened #23943 "[Task]: Add additional Batched DoFn examples"
### What needs to happen?

https://github.com/apache/beam/issues/23908 adds some basic examples of Batched DoFns to the Beam Programming Guide, but it would be good to also add some more end-to-end examples, in example pipelines and/or in notebooks.

### Issue Priority

Priority: 3

### Issue Component

Component: examples-python

[2022-11-02 16:16] ryanthompson591 opened #23944 "beam_PreCommit_Python_Cron regularily failing - test_pardo_large_input flaky"
https://ci-beam.apache.org/job/beam_PreCommit_Python_Cron/

There are a variety of tests failing, and each run has a different failure.

However, after looking through it seems that test_pardo_large_input is one of the more commonly failing tests.

Here's a link to the logs for one of the failures [test_pardo_large_input](https://ci-beam.apache.org/job/beam_PreCommit_Python_Cron/6311/consoleFull)

[2022-11-02 16:17] ryanthompson591 commented on #23944
.add-labels P1,bug,build

[2022-11-02 16:29] ahmedabu98 commented on #23907
The error is caused by [this `beam.Flatten()` operation](https://github.com/apache/beam/blob/f57cb9c208d9e1ac2e353c3a2d2be2b5b3ccee4a/sdks/python/apache_beam/io/gcp/bigquery_file_loads.py#L1125-L1127) that merges the results from two transforms. In most cases, one of those transforms, label: `TriggerLoadJobsWithoutTempTables`, will not be used and so will not have any elements to output. Hence, th

[2022-11-02 16:49] ahmedabu98 commented on #23907
Yeah I'm beginning to doubt my assessment because this was always the setup...

One thing #23012 did change though: the main output of `TriggerLoadJobs` is now produced by a [return](https://github.com/apache/beam/blame/f57cb9c208d9e1ac2e353c3a2d2be2b5b3ccee4a/sdks/python/apache_beam/io/gcp/bigquery_file_loads.py#L729) statement, previously was by a [yield](https://github.com/apache/beam/blame/2d4

[2022-11-02 17:32] #23889 closed

[2022-11-02 18:04] riteshghorse opened #23946 "[Bug]: AttributeError while accessing 'active_bundle_processor' in worker_status"
### What happened?

The [bundle_processor_cache](https://github.com/apache/beam/blob/3e8891f59b4457c68a29164634618e89f3dc2e0f/sdks/python/apache_beam/runners/worker/worker_status.py#L233) is sometimes None and throws AttributeError.

### Issue Priority

Priority: 1

### Issue Component

Component: sdk-py-core

[2022-11-02 18:04] riteshghorse commented on #23946
.take-issue

[2022-11-02 18:08] riteshghorse commented on #23946
This is one of the problems discovered in https://github.com/apache/beam/issues/23944

[2022-11-02 18:13] riteshghorse opened #23948 "[Bug]: test_sdf_with_check_done_failed throws ValueError in OffsetRestrictionTracker"
### What happened?

In Python SDK, [test_sdf_with_check_done_failed](https://github.com/apache/beam/blob/3e8891f59b4457c68a29164634618e89f3dc2e0f/sdks/python/apache_beam/runners/portability/fn_api_runner/fn_runner_test.py#L871) throws ValueError as

[code]

### Issue Priority

Priority: 2

### Issue Component

Component: sdk-py-core

[2022-11-02 18:29] johnjcasey opened #23949 "[Task]: Update BigQueryIO.setTriggeringFrequency documentation"
### What needs to happen?

BigQueryIO currently documents triggering frequency as:

This is only applicable when the write method is set to {@link Method#FILE_LOADS}, and only when writing an unbounded {@link PCollection}.

However, we use triggering frequency for STORAGE_WRITE_API and STORAGE_API_AT_LEAST_ONCE as well. This documentation should be updated to reflect this.

In addition, during the

[2022-11-02 19:47] TheNeuralBit opened #23950 "[Task]: Normalize `typehint` vs. `type-hint` vs. `type hint` in Python documentation and docstrings"
### What needs to happen?

See https://github.com/apache/beam/pull/23909#discussion_r1011974873

We use three different formats to represent "type hint" in Python documentation and docstrings. We should pick one and standardize on it across all documentation on the Beam website and in docstrings.

### Issue Priority

Priority: 3

### Issue Component

Component: website

[2022-11-02 21:16] TheNeuralBit opened #23952 "[Feature Request]: Error message about typehint missing an Iterator should be more informative"
### What would you like to happen?

For example:
[code]

This is pretty clear and actionable, but it could be a bit more informative. It could explain that Beam DoFns are one-to-N where N>=0, so they must always yield.

### Issue Priority

Priority: 2

### Issue Component

Component: sdk-py-core

[2022-11-02 21:17] TheNeuralBit commented on #23952
Thanks @pabloem for reporting this.

[2022-11-02 21:19] TheNeuralBit commented on #23952
It would also be nice if we could print this as `Iterator[numpy.ndarray]` (drop the class and angle brackets). Not sure if that's possible.

[2022-11-02 21:23] TheNeuralBit opened #23953 "[Feature Request]: "Unable to find BatchConverter" error should identify where the problematic typehints came from"
### What would you like to happen?

Currently, we yield an error like this:
[code]

It's not immediately obvious that this is complaining about the _output_ type of this DoFn. We should:
- Make this error identify the DoFn and if the issue is with input or output types
- If the issue is with output types and element type is  `Any`, we may nudge them to define `infer_output_type`, as this is a comm

[2022-11-02 23:21] ahmedabu98 commented on #23907
#23954 is a workaround. The relevant BQ tests in that PR are passing now, though there are other tests in Flink and Spark example suites that are failing relatively recently (just a day ago).

[2022-11-03 00:27] tvalentyn commented on #23904
maybe we need to increase the timeout?

[2022-11-03 10:38] rshamunov commented on #22490
Not requires anymore since we moved to GKE clusters

[2022-11-03 10:38] #22490 closed

[2022-11-03 14:57] damccorm opened #23961 "[Task]: Dataframe API notebook - remove custom install"
### What needs to happen?

Right now, we're custom installing Beam latest in our Dataframe notebook - https://github.com/apache/beam/blob/5c3d64747733747ba1f39fdf2c3877e733825e1f/examples/notebooks/beam-ml/dataframe_api_preprocessing.ipynb?short_path=1907d0f#L100 - once 2.43 is released we should update to just install 2.43 directly.

### Issue Priority

Priority: 2

### Issue Component

Component

[2022-11-03 15:58] camphillips22 opened #23963 "[Feature Request]: Enable emitting to windowed PCollection from FinishBundle()"
### What would you like to happen?

I originally asked this question on [StackOverflow](https://stackoverflow.com/questions/74028678/using-finishbundle-in-apache-beam-go-sdk), but it does appear that there's a gap between python/java functionality and Go. According to this [documentation](https://beam.apache.org/documentation/transforms/python/elementwise/pardo/), if emitting data into a PCollecti

[2022-11-03 16:06] aromanenko-dev commented on #23819
It would be helpful to provide more details with examples of this feature.

[2022-11-03 16:23] aromanenko-dev commented on #23646
There is no need to use prepared statement for that, take a look on [this example](https://github.com/apache/beam/blob/85b6b643bff1157fa68787ab9bd6b0afcd6c8bc6/sdks/java/io/jdbc/src/test/java/org/apache/beam/sdk/io/jdbc/JdbcIOTest.java#L720) from JdbcIO tests.

[2022-11-03 16:24] #23646 closed

[2022-11-03 16:30] aromanenko-dev commented on #23448
Is it still a bug?

[2022-11-03 16:39] aromanenko-dev commented on #23288
It looks like a Dataflow issue, not a Beam one.

@aaltay @pabloem Could you confirm and handle it properly if needed?

[2022-11-03 16:58] aromanenko-dev commented on #22003
CC: @chamikaramj

[2022-11-03 17:07] #23908 closed

[2022-11-03 17:09] aromanenko-dev commented on #22809
CC: @chamikaramj

[2022-11-03 17:44] scott-strong commented on #21882
@pabloem do you have any suggestions on how we can fix this? It's currently blocking us from upgrading our pipelines that use fixed windows. I was thinking maybe we need to handle the work being done in `finish` using a timer and setting an expiry. It seems like we're basically just buffering and flushing, but need to make sure the buffer get left with elements.

I was also wondering if we should

[2022-11-03 18:22] AnandInguva opened #23966 "[Task]: Tracking issue to add tfx RunInference tests to Python 3.10 PostCommit tests"
### What needs to happen?

tfx-bsl wheel is not built for Python 3.10. Don't add tfx-bsl RunInference tests to Pythpn 3.10 PostCommit test suite.

### Issue Priority

Priority: 2

### Issue Component

Component: run-inference

[2022-11-03 18:38] aaltay commented on #23288
I think this is actually an airflow operator issue.

@aijamalnk - do you know who in airflow might be working on dataflow operators?

Thank you for reporting @Rajkante and thank you @aromanenko-dev for tagging us.

[2022-11-03 18:41] apilloud opened #23968 "[Feature Request]: Test the dataflow legacy_container"
### What would you like to happen?

We should have a test that runs with the dataflow legacy_container to ensure it isn't broken. This container:
https://github.com/apache/beam/blob/da763db81c16f42b0cd5c9c61272c7f584456505/runners/google-cloud-dataflow-java/build.gradle#L57

### Issue Priority

Priority: 2

### Issue Component

Component: runner-dataflow

[2022-11-03 18:41] Rajkante commented on #23288
You're welcome

On Fri, Nov 4, 2022 at 12:08 AM Ahmet Altay ***@***.***>
wrote:

--

*Thanks & Regards,*
*Raj Kante*
Associate Engineer - l - Solutioning and Software Engineering
+91 8806435676 | www.datametica.com
Datametica Solutions Private Limited, Pune - India

<https://www.linkedin.com/company/datametica>
<https://twitter.com/DataMetica>
<https://instagram.com/datametica_lifeatdm?utm_medium=

[2022-11-03 18:59] #23946 closed

[2022-11-03 19:45] riteshghorse commented on #23948
Not an issue, confirmed

[2022-11-03 19:51] damccorm commented on #23944
I've been hitting this, with many runs ending with `NotImplementedError: Invalid PaneInfoEncoding: 6` (e.g. https://ci-beam.apache.org/job/beam_PreCommit_Python_Phrase/3240/testReport/apache_beam.runners.portability.fn_api_runner.fn_runner_test/FnApiRunnerTestWithGrpcAndMultiWorkers/test_pardo_large_input_5/)

I've also been seeing similarish errors with [test_batch_pardo_trigger_flush](https://ci

[2022-11-03 20:02] TheNeuralBit commented on #23944
Yeah it seems likely this is related to #21643. I'd suggest just tracking this as one flake rather than having the separate issue for non-cython environments

[2022-11-03 21:44] pabloem opened #23974 "[Bug]: The top tesult for "Beam godocs" in Google points to an old Godocs page of Beam"
### What happened?

Google finds the following page at the top, which has not been updated since 2021 and is not up to date.

- https://pkg.go.dev/github.com/apache/beam/sdks/go/pkg/beam

The correct page is:

https://pkg.go.dev/github.com/apache/beam/sdks/v2/go/pkg/beam

### Issue Priority

Priority: 1

### Issue Component

Component: sdk-go

[2022-11-04 01:37] #23953 closed

[2022-11-04 05:44] alexeyinkin opened #23979 "[Task]: Use all fields when comparing examples on frontend"
### What needs to happen?

Currently in `ExampleBase` only `path` is used to compare examples.
This makes tests to compare example objects more complex than they should be.

Need to:
1. Refactor current comparison cases to only compare path if this is what they really should do.
2. Include all (or most of the) fields in comparison.

### Issue Priority

Priority: 3

### Issue Component

Component:

[2022-11-04 05:44] alexeyinkin commented on #23979
.take-issue

[2022-11-04 05:53] #23907 closed

[2022-11-04 08:23] ayushthe1 commented on #23950
.take-issue

[2022-11-04 12:09] #23952 closed

[2022-11-04 12:22] #23763 closed

[2022-11-04 13:06] rshamunov opened #23980 "[Task]: Update the method to run code to support emulators"
### What needs to happen?

Update the method to run code to support emulators

### Issue Priority

Priority: 3

### Issue Component

Component: beam-playground

[2022-11-04 13:11] rshamunov opened #23981 "[Task]: Update endpoints to get precompiled objects"
Update endpoints to get precompiled objects

[2022-11-04 13:28] cypreess opened #23982 "[Bug]: Could not find a version that matches protobuf"
### What happened?

Cannot install latest apache-beam[gcp]==2.42.0 because there is a conflict of protobuf version dependencies.

[code]

### Issue Priority

Priority: 1

### Issue Component

Component: io-py-gcp

[2022-11-04 13:33] vchunikhin commented on #23980
.take-issue

[2022-11-04 13:33] vchunikhin commented on #23981
.take-issue

[2022-11-04 14:20] millertrujillo opened #23983 "[Feature Request]: Create FhirIO Wrappers for cross-language usage from Python pipelines"
### What would you like to happen?

FhirIO connector does not exists for python SDK, so it could be an initial step to make it available for Python users via language transform. Specially, as we would be able to re-use Java code. The transforms would need a wrapper as the output types are not supported by cross-language.

### Issue Priority

Priority: 2

### Issue Component

Component: cross-langu